{% extends "booksales/view.htm" %}

{% block content %}
<div class="span8">

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label">Boek verkopen</label>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">Boeken</label>
		<div class="controls">
			{{ form.books }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">Studentnummer</label>
		<div class="controls">
			{{ form.student_number }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">Betalingsmethode</label>
		<div class="controls">
			{{ form.payment }}
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Add Sale</button>
		</div>
	</div>
</form>
</div>

{% endblock content %}
