{% extends "booksales/view.htm" %}

{% block content %}
<div class="col-md-8">

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label">Add a book </label>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">Title</label>
		<div class="controls">
			{{ form.title }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">ISBN</label>
		<div class="controls">
			{{ form.isbn }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">Price</label>
		<div class="controls">
			{{ form.price }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="title">Stock</label>
		<div class="controls">
			{{ form.stock }}
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Add Book</button>
		</div>
	</div>
</form>
</div>

{% endblock content %}
