{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}
{% block includes %}
    <script src="/static/js/form.follower.js"></script>
{% endblock %}

{%block content %}

<h1>Formulieren die je volgt</h1>

<table class="table" id="follow_table">
<thead>
<tr>
	<th>Formulier naam<th>
	<th></th>

{% for form in followed_forms %}
<tr>
	<td>{{ form.name }}
	<td>
		{% if GroupPermissionAPI.can_write('custom_form') %}
				<a href="/forms/edit/{{ form.id }}" class="btn btn-xs btn-warning pull-right">
					<i class="glyphicon glyphicon-pencil"></i>
					Aanpassen
				</a>

				<a href="/forms/follow/{{ form.id }}" class="follow btn btn-xs btn-danger pull-right">
					Niet meer volgen
				</a>

				<a href="/forms/view/{{ form.id }}" class="btn btn-xs btn-primary pull-right">
					Inzendingen bekijken <span class="badge badge-inverse">{{ form.custom_form_results.count() }}</span>
				</a>
		{% endif %}
{% endfor %}
</table>
<hr>

<h1>Formulieren overzicht

	{% if GroupPermissionAPI.can_write('custom_form') %}
		<a href="/forms/create/" class="btn btn-success pull-right">
			<i class="glyphicon glyphicon-plus"></i>
			Nieuw formulier
		</a>
	{% endif %}
</h1>

<p>Hier is het overzicht van alle gemaakte formulieren. Je kunt formulieren volgen om ze hier bovenaan de pagina te tonen voor makkelijkere toegang.

<hr>

<table class="table">
<thead>
<tr>
	<th>Formulier naam<th>
	<th></th>

{% for form in custom_forms.items %}
<tr>
	<td>{{ form.name }}
	<td>
		{% if GroupPermissionAPI.can_write('custom_form') %}
				<a href="/forms/edit/{{ form.id }}" class="btn btn-xs btn-warning pull-right">
					<i class="glyphicon glyphicon-pencil"></i>
					Aanpassen
				</a>

				{% if form.id in followed_ids %}
				<a href="/forms/follow/{{ form.id }}" class="follow btn btn-xs btn-danger pull-right">
					Niet meer volgen
				</a>
				{% else %}
				<a href="/forms/follow/{{ form.id }}" class="follow btn btn-xs btn-success pull-right">
					Formulier volgen
				</a>
				{% endif %}

				<a href="/forms/view/{{ form.id }}" class="btn btn-xs btn-primary pull-right">
					Inzendingen bekijken<span class="badge badge-inverse">{{ form.custom_form_results.count() }}</span>
				</a>

		{% endif %}
{% endfor %}

</table>
<hr>



	{{ render_pagination(custom_forms, 'custom_form.view') }}
{% endblock %}
