@import "bootstrap-compass";
@import 'bootstrap';
@import 'font-awesome.min';
@import 'timepicker';
@import 'datepicker';
@import 'bootstrap-editable';


body {
    overflow-y: scroll;
}

img {
    max-width: 100%;
}

form label {
    font-weight:bold;
}

label.checkbox {
    font-weight:normal;
}

#sublogo {
    min-height: 120px;
}

#login-info {
    text-align: right;
}

#membership_warning {
    background-color: orange;
    border-color: darkgreen;
    border-width: 4px 0px;
    border-style: solid;
    margin-bottom: 25px;

    div {
        width: 970px;
        margin: 0px auto;
        padding: 10px 0px;
    }

    p {
        text-align: center;
    }
}

.nav a {
    overflow: visible !important;
}

/* Sponsors */

.sponsors {
    margin-top: 0px;
}

/* align sponsors on one line */
.sponsors div {
    height: 150px;
}

.sponsors div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sponsors a {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#search {
    padding: 6px;
}

/* sponsor carousel */
#carousel {
    padding: 0px;
    margin: 0px;
}
#carousel div {
    text-align: center;
    height: 250px;
    position: relative;
    float: left;
    display: block;
}
#carousel div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#carousel img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
#carousel div span {
    display: none;
}
#carousel div:hover span {
    background-color: #333;
    color: #fff;
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}



/* Activity-block (activities) */

.activity-simple-image img {
    width: 70px;
    height: 70px;
}

.activity-simple-image {
    width: 70px;
    height: 70px;
    padding: 0px;
    margin-right: 10px;
    float: left;
}

.activity-simple {
    margin-top: 10px;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
}

.activity-simple-list {
    margin-top: 30px;
}

.activity-block {
    padding: 20px;
    border-bottom: 1px dashed #eee;
}

.activity a {
    color: #333;
}

.activity-block:hover {
    background-color: #f5f5f5;
}

.activity-block img {
    max-height: 220px;
    max-width: 220px;
}

.activity-block .image {
    height: 220px;
}

.activity-block .short_content {
    height: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-block .short_content p {
    height: 115px;
    text-overflow: ellipsis;
}

.activity-block h1 {
    font-size: 2em;
    padding: 0px;
    line-height: 1em;
    margin: 0px;
    color: #0088cc;
}

.activity-block .row-fluid {
    height: 220px;
    overflow: hidden;
}

.activity-block h2 {
    font-size: 2em;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    line-height: 1em;
    float: right;
}

.activity-block h3 {
    padding: 0px;
    font-size: 1.5em;
    line-height: 1em;
}

.activity-block h3 i {
    margin-top: 4px;
    margin-right: 10px;
}

.activity-block h2 i {
    position: relative;
    top: 8px;
}

.activity-block td {
    min-width:70px;
    padding:3px;
}

.activity-block .time {
    color:#444;
    font-weight:bold;
    margin: 10px 0px;
    float: left;
}

.activity-block .time dt {
    width: 20px;
}

.activity-block .time dd {
    margin-left: 40px;
}

#acc {
    margin-top:-14px;
}





/* Twitter widget */
.twtr-widget h3 {
    font-size: 200% !important;
    float: left;
}
.twtr-widget h4 {
    float: right;
}

.logo {
    margin: 10px;
}

.logo.pimpy {
    float: right;
    margin-top: 13px;
    height: 100px;
}

.sponsor {
    float: left;
    clear: none;
    width: 180px;
    padding: 2em;
}
.mainblock {
    border: 1px solid #F3F3F3;
    margin-bottom: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 560px;
}

.newsrole .scroll{
    height: 1230px !important;
}

.scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 605px;
}

.scroll:hover {
    overflow-y: auto;
}

/* Custom scrollbar */

/* General scrollbar */
.scroll::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(85,85,85,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.scroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(85,85,85,0.4);
}

.readmore {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    text-align: right;
}

.edit-group {
    margin-right: 8px;
}

.dropdown-menu > li > input {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    border: 0px;
    border-radius: 0px;
    webkit-border-radius: 0px;
    moz-border-radius: 0px;
    text-align: left;
    background-color: white;
    width: 100%;
}

.dropdown-menu > li > input:hover,
.dropdown-menu > li > input:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}




/* PimPy */
.pimpy-btn-group {
    margin-bottom: 8px;
}

.pimpy-menu {
    width: 75px;
}

.pimpy-menu-group {
    width: 150px;
}

.pimpy_task_task {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pimpy_task_users {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}





/* User Pages */

.user_single dl, .user_single dt, .user_single dd {
    float: left;
    margin: 0;
}

.user_single dt, .user_single dd {
    min-height: 20px;
    border-top: 1px dashed #eee;
}

.user_single {
    padding: 0;
}

.user_single dt {
    text-transform: capitalize;
    width: 140px;
    padding: 5px 5px 5px 0px;
}

.user_single dd {
    width: 200px;
    padding: 5px 0;
}

.user_single td {
    border-top: 1px dashed #eee;
}

.user_single h1 {
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
}

.user_single img {
    margin-right: 15px;
    max-width: 100px;
    max-height: 100px;
}





/* Bootstrap formbuilder */
.ui-draggable {
    margin-bottom:4px;
}

.ui-state-highlight {
    background:#fff;
}

.hoverDragged {
    background:#fff;
}

.hoverDroppable {
    background-color: lightblue;
}

.draggableField {
    padding-left:5px;
}

li.leave-alone {
    visibility: hidden;
    height: 10px;
}

ul.parent > li {
    margin-bottom: 10px;
}

/* Navigation. */
div.nav_entry {
    border: 1px solid #ccc;
    padding: 5px;
}

div.droppable {
    height: 15px;
    border: 1px dotted black;
    float: left;
    width: 300px;
}

div.sortable {
    margin-left: 5px;
    clear: both;
    padding-bottom: 10px;
}

/* Custom Form view-results */
.is_reserve {
    background:#FFFD87;
}

#athenaeum {
    width: 100%;
    height: 950px;
    margin: 0;
    padding: 0;
    border: none;
}

.nav_indent_level {
    margin-left: 10px;
}

.nav a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkimg404 {
    max-width: 100%;
}

#wrapper {
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#carousel div {
    text-align: center;
    width: 200px;
    height: 140px;
    padding: 0 20px;
    float: left;
    position: relative;
}
#carousel div img {
    border: none;
    width: 100%;
    height: auto;
}
#carousel div span {
    display: none;
}
#carousel div:hover span,
#carousel div.hover span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 3px;
}

a.pimpy_minute_line{
    display:block;
    color: black; text-decoration: none;
}

a.selected_line{
    background-color:rgba(0, 0, 255, .2);
}

/* new css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 80px;
    background-size: cover;
}

.shadow{
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
}

.alert-info{
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
    margin-bottom: 40px;
}

header{
    max-height: 80px;
}

header #loginImage{
    position: absolute;
    right: 0;
    top: 11px;
    border: 1px solid #eee;
    width: 40px;
    height: 40px;
}

header #loginImageMobile{
    position: relative;
    right: 0;
    top: 0;
    float: right;
    margin-top: 8px;
    border: 1px solid #eee;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer
}

header .navbar-nav{
    margin-left: 10px;
    float: left;
    height: 60px;
}

header #loginContainer{

    color: #555;
    position: absolute;
    right: 0;
    left: auto;
    top: 62px;
    right: 15px;
    border-radius: 2px;
    padding: 20px;
    overflow: hidden;
    text-transform: none;
    font-size: 12px;
    line-height: 14px;
}

header #logoutButtonContainer{
    width: 100%;

}

header #loginContainer p{
    line-height: 14px;
}

header #userImage{
    width: 96px;
    height: 96px;
    border:1px solid #eee;
    float: left;
    position: relative;
}

header #userInformation{
    float: left;
    margin-left: 20px;
    position: relative;
    min-width: 100px;
}

header #loginContainer .fullWidth{
    width: 100%;
    margin-top: 20px;
    position: relative;
    float: left;
}

.navbar-default {
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  background-image: none;
  border: none;
  background: rgba(255, 255, 255, 0.95);
}

.navbar-brand{
    padding: 5px 20px 0 20px;
}

header ul.navbar-nav>li{
    text-transform: uppercase;
}

header ul.navbar-nav>li>ul{
    text-transform: none;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav>li>a.active {

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    border-bottom: 2px solid #004b99;
}

.sidebar{
    background: #eee;
    padding-top: 80px;
}



.sidebar h2{

}

.sidebar .sponsorSpot{
    background: #fff;
    width: 45%;
    height: 125px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid  #dfdfdf;
    padding: 10px;
    line-height: 125px;
}

.sidebar ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
.sidebar ul>li{
    border-bottom: 1px solid #dfdfdf;
}
.sidebar ul>li>a{
    color: #333;
    padding: 10px 0 10px 0;
    display: block;
}

#home #introductiong{
    background: #fff;
    padding: 20px;
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
}

#home #introduction h1{
    margin: 0 0 20px 0;
    font-weight: 400;
    color: #000;
    font-size: 80px;
    text-align: left;
}

#home #introduction p{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color:#000;
    padding-right: 20px;


}

#home #activityNewsTab{
    background: grey;
    border-bottom: 0px;
}

#home #activityNewsTab li{
    margin: 0;
}

#home #activityNewsTab a{
    border-radius: 0;
    background: grey;
    color:#fff;
    border:0;
    margin: 0;

}

#home #activityNewsTab .active a{
    background: #004B99;
}

#home #activityNewsContainer{
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);

}

#home #activityNewsContent{
    padding: 20px;
    background: rgba(255,255,255,0.8);

}

#home #activityNewsContent a{
    color: #004B99;
}

#home #activityNewsContent p{
    font-size: 14px;
    line-height: 20px;
}

#home #activityNewsContent h3{
    margin: 5px 0 5px 0;
}

#home #activityNewsContent hr{
    border-top: 2px solid #004B99;
    margin: 5px 0 5px 0;
}

footer{
    border-top: 4px solid  #004b99;
    background: #004b99;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer #map-canvas{
    width: 100%;
    height: 400px;
}

footer a{
    color: #fff;
}

p{line-height: 25px;}

@media(max-width:767px){

    body{
        padding: 0;
    }

    header{
        max-height: none;
    }

    header .navbar-brand img {
        width:60px;
    }

    header .navbar-collapse{
        max-height: none;
    }

    header .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    header .navbar-nav{
        margin: 0;
        height: auto;
        position: relative;
    }

    header .navbar-fixed-top{
        position: relative;
    }

    header .navbar-default .navbar-toggle{
        padding: 12px 10px;
        border-color:#eee;
    }

    header #logoutButtonContainerMobile{
        width: 100%;
    }

    header #logoutButtonContainerMobile button{
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
        font-size: 18px;
    }

    header .navbar-collapse{
        padding-top: 10px;
    }

    header #sign-in-menu-mobile{
        padding-bottom: 20px;
    }

    header #sign-in-menu-mobile button{
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }

    header #userImageMobile{
        width: 20%;
        max-width: 100px;
        margin-right: 5%;
        float: left;
        margin-bottom: 20px;
    }

    header #userInformationMobile{
        width: 65%;
        float: left;
    }

}
@media(min-width:768px){
    header .navbar-default .navbar-nav>li>a {
        padding: 30px 0px 10px 8px;
        font-size: 12px;
    }

    header .navbar-brand {
        padding-right: 0;
    }

    header .navbar-nav{
        width: 580px;
    }

    header .navbar-collapse.collapse.loginForMobile{
        display: none !important;
    }

}

@media(min-width:992px){
    header .navbar-default .navbar-nav>li>a {
        padding: 20px 10px 20px 10px;
        font-size: 14px;
    }

    header .navbar-nav{
        width: 800px;
    }
}
@media(min-width:1200px){
    header .navbar-default .navbar-nav>li>a {
        padding: 20px 15px 20px 15px;
        font-size:16px;
    }

    header .navbar-nav{
        width: 1000px;
    }
}
