@import 'bootstrap-compass';
@import 'css/_bootstrap';
@import 'css/bootstrap-editable';
@import 'css/select2';
@import 'css/select2-bootstrap';
@import 'css/bootstrap-datetimepicker.min';
@import 'css/dataTables.responsive';

@import 'font-awesome-compass';
@import 'font-awesome';

@import '_default';
@import '_header';

@import 'modules/_carousel';
@import 'modules/_pimpy';
@import 'modules/_inbox';

@import 'select2.sortable';

label.checkbox {
    font-weight:normal;
}
.checkbox{
    padding: 15px;
}

.overflow-dots {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#sublogo {
    min-height: 120px;
}

#login-info {
    text-align: right;
}

#membership_warning {
    background-color: orange;
    border-color: darkgreen;
    border-width: 4px 0px;
    border-style: solid;
    margin-bottom: 25px;

    div {
        width: 970px;
        margin: 0px auto;
        padding: 10px 0px;
    }

    p {
        text-align: center;
    }
}

.nav a {
    overflow: visible !important;
}

/* Page design */
/* Filter groups in edit page */
.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    /*display: none;*/
}
/* End filter groups in edit page */

p.report-bug{
    position: absolute;
    right: 15px;
}

#navigation_backtrack{
    font-size: 12px;
    padding-left: 33px;
}

/* Sponsors */

.sponsors {
    margin-top: 0px;
}

/* align sponsors on one line */
.sponsors div {
    height: 150px;
}

.sponsors div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sponsors a {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#search {
    padding: 6px;
}

/* Activity-block (activities) */

.activity-simple-image img {
    width: 70px;
    height: 70px;
}

.activity-simple-image {
    width: 70px;
    height: 70px;
    padding: 0px;
    margin-right: 10px;
    float: left;
}

.activity-simple {
    margin-top: 10px;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
}

.activity-simple-list {
    margin-top: 30px;
}

.activity-block {
    padding: 20px;
    border-bottom: 1px dashed #eee;
}

.activity a {
    color: #333;
    display: block;
}

.activity-block:hover {
    background-color: #f5f5f5;
}

.activity-block img {
    max-height: 220px;
    max-width: 220px;
}

.activity-block .image {
    height: 220px;
}

.activity-block .short_content {
    height: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-block .short_content p {
    height: 115px;
    text-overflow: ellipsis;
}

.activity-block h1 {
    font-size: 2em;
    padding: 0px;
    line-height: 1em;
    margin: 0px;
    color: #0088cc;
}

.activity-block .row-fluid {
    height: 220px;
    overflow: hidden;
}

.activity-block h2 {
    font-size: 2em;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    line-height: 1em;
    float: right;
}

.activity-block h3 {
    padding: 0px;
    font-size: 1.5em;
    line-height: 1em;
}

.activity-block h3 i {
    margin-top: 4px;
    margin-right: 10px;
}

.activity-block h2 i {
    position: relative;
    top: 8px;
}

.activity-block td {
    min-width:70px;
    padding:3px;
}

.activity-block .time {
    color:#444;
    font-weight:bold;
    margin: 10px 0px;
    float: left;
}

.activity-block .time dt {
    width: 20px;
}

.activity-block .time dd {
    margin-left: 40px;
}

#acc {
    margin-top:-14px;
}





/* Twitter widget */
.twtr-widget h3 {
    font-size: 200% !important;
    float: left;
}
.twtr-widget h4 {
    float: right;
}

.logo {
    margin: 10px;
}

.sponsor {
    float: left;
    clear: none;
    width: 180px;
    padding: 2em;
}
.mainblock {

    margin-bottom: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 560px;
}

.newsrole .scroll {
    height: 1240px;
    overflow: hidden;
}

.readmore {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    text-align: right;
}

.edit-group {
    margin-right: 8px;
}

/* User Pages */

.user_single dl, .user_single dt, .user_single dd {
    float: left;
    margin: 0;
}

.user_single dt, .user_single dd {
    min-height: 20px;
    border-top: 1px dashed #eee;
}

.user_single {
    padding: 0;
}

.user_single dt {
    text-transform: capitalize;
    width: 140px;
    padding: 5px 5px 5px 0px;
}

.user_single dd {
    width: 200px;
    padding: 5px 0;
}

.user_single td {
    border-top: 1px dashed #eee;
}

.user_single h1 {
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
}

.user_single img {
    margin-right: 15px;
    max-width: 100px;
    max-height: 100px;
}


/* Bootstrap formbuilder */
.ui-draggable {
    margin-bottom:4px;
}

.ui-state-highlight {
    background:#fff;
}

.hoverDragged {
    background:#fff;
}

.hoverDroppable {
    background-color: lightblue;
}

.draggableField {
    padding-left:5px;
}

li.leave-alone {
    visibility: hidden;
    height: 10px;
}

ul.parent > li {
    margin-bottom: 10px;
}

/* Navigation. */
div.nav_entry {
    border: 1px solid #ccc;
    padding: 5px;
}

div.droppable {
    height: 15px;
    border: 1px dotted black;
    float: left;
    width: 300px;
}

div.sortable {
    margin-left: 5px;
    clear: both;
    padding-bottom: 10px;
}

/* Custom Form view-results */
.is_reserve {
    background:#FFFD87;
}

/* Form overview rues. */
.view-results {
    display: inline-block;
    width: 100px;
}

.form-buttons {
    text-align: right;
}

#athenaeum {
    width: 100%;
    height: 950px;
    margin: 0;
    padding: 0;
    border: none;
}

.nav_indent_level {
    margin-left: 10px;
}

.nav a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkimg404 {
    max-width: 100%;
}

#wrapper {
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    bottom: 0;
}

a.selected_line{
  background-color: rgba(194, 194, 194, 0.25);
  border-left: 5px solid rgb(119, 119, 119);
}

/* new css */

.shadow{
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
}

#sign-in{
    padding:20px 0px 60px 0px;
}

#sign-in .list-inline{
    margin-top:20px;
}

#dropmenu-list{
    margin-top:10px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav>li>a.active {

}

.invisible {
    visibility: hidden;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    border-bottom: 2px solid #004b99;
}

.sidebar{
    background: #eee;
    padding-top: 80px;
}



.sidebar h2{

}

.sidebar .sponsorSpot{
    background: #fff;
    width: 45%;
    height: 125px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid  #dfdfdf;
    padding: 10px;
    line-height: 125px;
}

.sidebar ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.sidebar ul>li{
    border-bottom: 1px solid #dfdfdf;
}
.sidebar ul>li>a{
    color: #333;
    padding: 10px 0 10px 0;
    display: block;
}

/*
 * Custom table CSS
 */
#datatable {
    cursor: pointer;
}

/* Inbox like create */

.fab {
    cursor: pointer;
}
.fab-backdrop {
    color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}
.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}
.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(0);
    margin-top: -2px;
}

.fa-plus:before{
    margin-left:-2px;
}

.fa-check-square-o:before {
    margin-left: 2px;
}

.inline-field {
    width: auto;
    display: inline;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

.diff {
    border: 1px solid #cccccc;
    background: none repeat scroll 0 0 #f8f8f8;
    white-space: normal;
    word-wrap: break-word;
}

.diff .control {
    background-color: #eaf2f5;
    color: #999999;
}

.diff .insert {
    background-color: #ddffdd;
    color: #000000;
}

.diff .insert .highlight {
    background-color: #aaffaa;
    color: #000000;
}

.diff .delete {
    background-color: #ffdddd;
    color: #000000;
}

.diff .delete .highlight {
    background-color: #ffaaaa;
    color: #000000;
}

.text-monospace {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.url-copy-textbox {
    @extend .text-monospace;
    cursor: default !important;
    background-color: initial !important;
    opacity: initial !important;
}

#home {
    #introductiong {
        background: #fff;
        padding: 20px;
        box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
    }

    #introduction {
        h1 {
            margin: 0 0 20px 0;
            font-weight: 400;
            color: #000;
            font-size: 80px;
            text-align: left;
        }

        p {
            font-size: 22px;
            line-height: 26px;
            font-weight: 400;
            color:#000;
            padding-right: 20px;
        }
    }

    #activityNewsTab{
        background: grey;
        border-bottom: 0px;

        li {
            margin: 0;
        }

        a {
            border-radius: 0;
            background: grey;
            color:#fff;
            border:0;
            margin: 0;
        }

        .active a {
            background: #004B99;
        }
    }
}

#activityNewsContainer{
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);

}

#activityNewsContent {
    padding: 20px;
    background: rgba(255,255,255,0.8);

    a {
        color: #004B99;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    h3 {
        margin: 5px 0 5px 0;
    }

    hr {
        border-top: 2px solid #004B99;
        margin: 5px 0 5px 0;
    }
}

/* DOMJUDGE */

$DOMJUDGE_RED:          #d9534f;
$DOMJUDGE_GREEN:        #5cb85c;
$DOMJUDGE_ORANGE:       #f0ad4e;
$DOMJUDGE_LIGHTBLUE:    #5ab0c9;
$DOMJUDGE_LIGHTGREEN:   #7CD449;

.list-group-item .name {
    display: inline;
}

.list-group-item .comment {
    float: right;
    font-weight: bold;
}

.domjudge-problem-badge {
    border-radius: 4px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border: 2px solid transparent;
}

.domjudge-problem-title {
    @extend .domjudge-problem-badge;
    color: inherit;
    text-decoration: inherit;
}

.domjudge-problem-title-name {
    white-space: nowrap;
}

.domjudge-problem-title:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.domjudge-problem-untried {
    background-color: white;
}

.domjudge-problem-incorrect {
    background-color: $DOMJUDGE_RED !important;
}

.domjudge-problem-solved {
    background-color: $DOMJUDGE_LIGHTGREEN !important;
}

.domjudge-problem-solved-first {
    background-color: $DOMJUDGE_GREEN !important;
}

.domjudge-problem-cell {
    font-weight: bold;
}

.domjudge-problem-solved-first-cell {
    @extend .domjudge-problem-solved-first, .domjudge-problem-cell;
    color: white;
}

.domjudge-problem-untried-cell{
    @extend .domjudge-problem-untried, .domjudge-problem-cell;
}

.domjudge-problem-incorrect-cell {
    @extend .domjudge-problem-incorrect, .domjudge-problem-cell;
    color: white;
}

.domjudge-problem-solved-cell {
    @extend .domjudge-problem-solved, .domjudge-problem-cell;
    color: white;
}

.domjudge-legend {
    margin-bottom: 0;
}

.domjudge-legend-list {
    @extend .list-group;
}

.domjudge-legend-item {
    @extend .list-group-item;
    padding: 5px 5px;
    text-align: center;
    font-weight: bolder;
}

.domjudge-legend-item-solved-first {
    @extend .domjudge-legend-item, .domjudge-problem-solved-first;
    color: white;
}

.domjudge-legend-item-solved {
    @extend .domjudge-legend-item, .domjudge-problem-solved;
    color: white;
}

.domjudge-legend-item-incorrect {
    @extend .domjudge-legend-item, .domjudge-problem-incorrect;
    color: white;
}

.domjudge-legend-item-untried {
    @extend .domjudge-legend-item, .domjudge-problem-untried;
}

.domjudge-problem-link {
    white-space: nowrap;
}

#domjudge-problem-head {
    padding-bottom: 5px;
}

#domjudge-submit-solution-label {
    margin-bottom: 20px;
}

#domjudge-time-table td {
    padding-left: 20px;
    padding-top: 5px;
}

.domjudge-submission {
    font-weight: bold;
    color: white;
}

.domjudge-submission-pending {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_LIGHTBLUE;
}

.domjudge-submission-judging {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_LIGHTBLUE;
}

.domjudge-submission-too-late {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_ORANGE;
}

.domjudge-submission-correct {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_GREEN;
}

.domjudge-submission-timelimit {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_ORANGE;
}

.domjudge-submission-compiler-error {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_RED;
}

.domjudge-submission-run-error {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_RED;
}

.domjudge-submission-no-output {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_ORANGE;
}

.domjudge-submission-wrong-answer {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_RED;
}


@media(min-width:992px){
    #domjudge-scoreboard-table {
        width: 980px;
        overflow-x: scroll;
    }
}

@media(min-width:1200px){
    #domjudge-scoreboard-table {
        width: 1300px;
        overflow-x: scroll;
    }
}

@media(max-width: 768px){
    #domjudge-buttons {
        margin-right: 10px;
    }
}

/* Fix sentry feedback form */
.sentry-error-embed * {
    position: relative;
}

.activity-picture {
    max-width: 400px;
    max-height: 250px;
    margin-top: 10px;
    float: right;
}

@media(min-width: 992px) {
    .email-login-tab {
        border-left: 1px solid #e5e5e5;
    }
}

@media(max-width: 992px) {
    .email-login-tab {
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
        margin-top: 20px;
    }
}

.uvanetid-sign-in-btn {
    background-color: #1F1D21;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    overflow: hidden;
    position: relative;
    height: 90px;
}

.uvanetid-sign-in-btn:hover,
.uvanetid-sign-in-btn:active,
.uvanetid-sign-in-btn:focus {
    background-color: #1F1D21;
}

.uvanetid-sign-in-text-bg {
    background-color: #BC0031;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 84px);
    height: 100px;
    font-size: 120%;
    padding-top: 30px;
}

.uvanetid-sign-in-text {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 84px;
    width: calc(100% - 84px);
    text-align: center;
    font-size: 120%;
    padding-top: 30px;
    z-index: 3;
}

.uvanetid-sign-in-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.uvanetid-sign-in-hover {
    z-index: 4;
}

.uvanetid-sign-in-hover:hover ~ .uvanetid-sign-in-text-bg {
    background-color: #910328;
}

.uvanetid-sign-in-tag {
    height: 60px;
    position: absolute;
    left: 0;
    margin-left: 20px;
    z-index: 3;
}

.uvanetid-sign-in-tag-small {
    @extend .uvanetid-sign-in-tag;
    height: 45px;
    top: 0;
    margin-left: 14px;
    margin-top: 9px;
}

.uvanetid-sign-in-text-small {
    @extend .uvanetid-sign-in-text;
    width: calc(100% - 60px);
    margin-left: 60px;
}

@media(min-width: 768px) {
    .uvanetid-sign-in-text-small {
        font-size: small;
        padding-top: 20px;
    }
}

@media(max-width: 768px) {
    .uvanetid-sign-in-text-small {
        padding-top: 17px;
    }
}


.uvanetid-sign-in-text-bg-small {
    @extend .uvanetid-sign-in-text-bg;
    width: calc(100% - 60px);
}
.uvanetid-sign-in-btn-small {
    @extend .uvanetid-sign-in-btn;
    height: 60px;
}

.hr-small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

#btn-sign-up-manual {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px
}
