body {
    padding: 0;
}

.container {
    width: 90%;
    font-size: 150%;
}

h1 {
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px solid #a8a8a8;
}

#domjudge-time-table {
    font-size: 120%;
}

#domjudge-scoreboard-table {
    margin-top: 10px;
}

.domjudge-legend-list {
    font-size: 120%;
    font-weight: bold;
}

#domjudge-legend-label {
    font-size: 120%;
}
