{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block content %}
    <div class="container">
        {% include 'company/menu.htm' %}
        <form id="search-form" class="form-inline">
            <div class="input-group">
                <input name="search" id="search" class="form-control" type="text"
                       placeholder="{{ _('Search for title, contact or company') }}" value="{{ search }}">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-search" id="submit"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-4"><h4>{{ _('Title') }}</h4></div>
            <div class="col-md-3"><h4>{{ _('Contract') }}</h4></div>
            <div class="col-md-4"><h4>{{ _('Company') }}</h4></div>
        </div>
        <hr>

        {% if not vacancies.items or not len(vacancies.items) %}
            <div class="row container">
                <div class="col-md-12">
                    {{ _('No vacancies found.') }}
                </div>
            </div>
            <hr>
        {% endif %}

        {% for vacancy in vacancies.items %}
            <div style="cursor:pointer;" class="row">
                <div class="col-md-12" data-toggle="collapse" data-target='#{{ vacancy.id }}'>
                    <div class="row">
                        <div class="col-md-1 text-center">
                            <span class="fa-stack">
                              <i class="fa fa-list fa-stack-1x"></i>
                                {% if vacancy.expired %}#}
                                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="col-md-4">{{ vacancy.title }}</div>
                        <div class="col-md-3">
                            <a class="search_click"
                               href="{{ url_for('vacancy.list', page_nr=vacancies.page, search=vacancy.contract_of_service) }}">
                                {{ vacancy.contract_of_service }}</a>
                            {% if vacancy.workload and vacancy.workload != '0' %}
                                ({{ vacancy.workload }} uur)
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <a class="search_click"
                               href="{{ url_for('vacancy.list', page_nr=vacancies.page, search=vacancy.company.name) }}">
                                {{ vacancy.company.name }}</a>
                        </div>
                    </div>
                    <div id='{{ vacancy.id }}' class="collapse">
                        <hr>
                        <div class="col-md-4">
                            <blockquote>
                                <a href="{{ url_for('company.view', company_id=vacancy.company.id) }}">

                                    {% if vacancy.company.logo_path != '#' %}
                                        <img class="img-rounded" style="max-width:250px; max-height:100px;"
                                             src="{{ path }}{{ vacancy.company.logo_path }}"></img>
                                    {% else %}
                                        {{ vacancy.company.name }}
                                    {% endif %}
                                </a>
                            </blockquote>
                            <p>
                                {# Email link #}
                                <i class="glyphicon glyphicon-envelope"></i>
                                <a target="_blank" href="mailto:{{ vacancy.company.contact.email }}">
                                    {{ vacancy.company.contact.email }}
                                </a>
                                <br/>

                                {# Website link #}
                                <i class="glyphicon glyphicon-globe"></i>
                                <a target="_blank" href="{{ vacancy.company.website }}">
                                    {{ vacancy.company.website }}
                                </a>
                                <br/>

                                {# Google maps link #}
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <a target="blank_"
                                   href="https://maps.google.nl/maps?q={{ vacancy.company.location.address }} {{ vacancy.company.location.city }} {{ vacancy.company.location.country }}">
                                    {{ vacancy.company.location.address }}, {{ vacancy.company.location.city }}, {{ vacancy.company.location.country }}
                                </a>
                                <br/>

                                {# Telephone link #}
                                <i class="glyphicon glyphicon-user"></i>
                                <a href="tel:{{ vacancy.company.contact.phone_nr }}">
                                    {{ vacancy.company.contact.phone_nr }}
                                </a>
                                <br>

                                {% if vacancy.id and can_write %}
                                    <a class="btn btn-warning"
                                       href="{{ url_for('vacancy.edit', vacancy_id=vacancy.id) }}">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        {{ _('Edit') }}
                                    </a>
                                    <form onsubmit="return confirm('Wilt u {{ vacancy.title }} echt verwijderen?');"
                                          action="{{ url_for('vacancy.delete', vacancy_id=vacancy.id) }}"
                                          method="post">
                                        <fieldset>
                                            <button class="btn btn-danger" type="submit">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                {{ _('Delete') }}
                                            </button>
                                        </fieldset>
                                    </form>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                {{ vacancy.title }}
                            </h3>
                            <br/>
                            {{ vacancy.description | markdown }}

                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}



        {{ render_pagination(vacancies, 'vacancy.list', (search) if search else '') }}
    </div>
    <script>
        $(document).ready(function () {
            var searchInput = $("#search");

            /* Prevent the expand function being called when clicking on a link */
            $(document).on('click', 'a.search_click', function (e) {
                e.preventdefaults();
                document.location.href = $(this).attr("href");
            });

            $("#search-form").submit(function (event) {
                event.preventDefault();

                var data = searchInput.val();

                document.location.href = Flask.url_for('vacancy.list', {
                    page_nr: 1,
                    search: data ? data : null
                });

            });


        });

    </script>
{% endblock %}
