{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block content %}
<h1>Verkochte boeken</h1>
<a class="btn btn-xs btn-primary" href="{{ url_for('booksales.view') }}">
Boeken overzicht
</a>
<a class="btn btn-xs btn-primary" href="{{ url_for('booksales.edit_book') }}">
Boek toevoegen
</a>
<a class="btn btn-xs btn-primary" href="{{ url_for('booksales.add_sale') }}">
Boeken verkopen
</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Studentnummer
			<th>Prijs
			<th>Betaalmethode
			<th>Boeken
			<th>
		</tr>
	</thead>

	<tbody>
		{% for sale in sales: %}
			<tr>
				<td>{{ sale.student_number }}
				<td>{{ sale.price }}
				<td>
					{% if sale.payment == 1 %}
						Pin
					{% elif sale.payment == 2 %}
						Contant
					{% endif %}
				<td>
					{% for book in sale.books %}
						{{ book.title }}<br>
					{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
