{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_form %}

{% extends "base.htm" %}

{% block page %}

{% if ModuleAPI.can_write('alv') %}
<div class="row">
    <div class="col-md-8">
        <div class="form-group btn-group">
            <a href='{{url_for('alv.edit')}}' class='btn btn-success'>
                <i class='glyphicon glyphicon-pencil'></i>
                <span>{{ _('New ALV') }}</span>
            </a>
        </div>
    </div>
</div>
{% endif %}



<div class="panel panel-default">
    <div class="panel-heading">ALVs</div>
    <div class="panel-body">
        <table class="table">
            <thead><tr><th>{{ _('Date') }}</th></tr></thead>
            <tbody>
                {% for alv in alvs %}
                    <tr>
                        <td>
                            <a href="{{ url_for('alv.view', alv_id=alv.id)}}">
                                {{ alv.name }} ({{alv.date}})
                            </a>
                        </td>
                        <td>{{ alv.format_presidium() }}</td>

                        {% if ModuleAPI.can_write('alv') %}
                        <td>
                            <div class='btn-group pull-right'>
                                <a class='btn btn-warning btn-xs' href='
                                     {{ url_for('alv.edit', alv_id=alv.id) }}'>
                                    <i class='fa fa-edit'></i> {{ _('Edit') }}
                                </a>
                                <a class='btn btn-danger btn-xs' href=''>
                                    <i class='fa fa-remove'></i> {{ _('Delete') }}
                                </a>
                            </div>
                        </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
