{% from "macros/alv.htm" import render_presidium %}

{% extends 'content.htm' %}

{% block page %}
    <div class='row'>
        <div class='col-md-9 col-md-offset-1'>
            <p>
                <a href="{{ url_for('alv.list') }}">{{ _('GAs') }}</a>
                <i class='fa fa-chevron-right'></i>
                <a href="{{ url_for('alv.view', alv_id=alv.id) }}">{{ alv.name }}</a>
            </p>
        </div>
        <div class='col-md-9 col-md-offset-1 well'>
            <div class='page-header'>
                {% if can_write %}
                    <div class='pull-right'>
                        <a class='btn btn-warning btn-xs' href='
                            {{ url_for("alv.create_edit", alv_id=alv.id) }}'>
                            <i class='fa fa-edit'></i> {{ _('Edit GA') }}
                        </a>
                        <form action="{{ url_for('alv.delete', alv_id=alv.id) }}"
                              method="POST">
                            <button class='btn btn-danger btn-xs'>
                                <i class='fa fa-remove'></i> {{ _('Delete GA') }}
                            </button>
                        </form>
                    </div>
                {% endif %}

                <h1>{{ alv.name }}</h1>
            </div>

            <p>{{ render_presidium(alv) }}</p>
            {% if alv.activity %}
            <p>{{ _('Activity') }}:
                <a href="{{ url_for('activity.get_activity', activity_id=alv.activity.id) }}">{{ alv.activity }}</a>
            </p>
            {% endif %}
            {% if alv.minutes_file %}
               {{ _('Minutes') }}:
                <div class="btn-group">
                    <a class="btn btn-primary btn-xs" target="_blank"
                        href="{{ url_for("alv.view_minutes", alv_id=alv.id) }}">
                        <i class='fa fa-book'></i> {{ _('View') }}
                    </a>
                    {% if can_write %}
                    <a class='btn btn-warning btn-xs' href='{{ url_for("alv.add_minutes", alv_id=alv.id) }}'>
                        <i class='fa fa-edit'></i> {{ _('Edit') }}
                    </a>
                    {% endif %}
                </div>
            {% endif %}
            {% if can_write and not alv.minutes_file %}
                <a class='btn btn-success btn-xs' href='{{ url_for("alv.add_minutes", alv_id=alv.id) }}'>
                    <i class='fa fa-edit'></i> {{ _('Add minutes') }}
                </a>
            {% endif %}

            <hr>
            <div class='content'>
                <h1>Documents</h1>
                {% if can_write %}
                <p>
                    <a class="btn btn-xs btn-success"
                       href="{{ url_for('alv.create_document', alv_id=alv.id) }}">
                        {{ _('Add document') }}
                    </a>
                </p>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <td>{{ _('Document') }}</td>
                        <td>{{ _('Versions') }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in alv.documents %}
                        <tr>
                            <td>{{ doc.name }}</td>
                            <td>
                        <span class="dropdown">
                        <button class="btn btn-xs dropdown-toggle"
                                type="button"
                                data-toggle="dropdown">{{ _('Versions') }}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% if can_write %}
                            <li>
                                <a href="{{ url_for('alv.update_document',
                                        alv_id=alv.id, doc_id=doc.id) }}">
                                    {{ _('Add new version') }}
                                </a>
                            </li>
                            {% endif %}
                            {%- for i, doc_version in enumerate(doc.versions) | reverse -%}
                                <li>
                                    <a href="{{ url_for('alv.view_document_version', alv_document_id=doc.id,
                                        version=(i + 1)) }}" target="_blank">
                                        {{ _('Version') }} {{ i + 1 }}: {{ doc_version.created.date() }}
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                        {% if doc.versions[-1] %}
                            <a class='btn btn-info btn-xs'
                                href="{{ url_for('alv.view_document_version', alv_document_id=doc.id,
                                        version=(len(doc.versions))) }}" target="_blank">
                                {{ _('Latest') }}
                            </a>
                        {% endif %}
                    </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
