{% from "macros/form.htm" import render_field %}

{% extends "base.htm" %}

{%block page %}
<div class="row">
    <div class="col-md-6">
        <form action="" method=post enctype=multipart/form-data>
            <fieldset>
                <legend> {{_('New course')}}</legend>

                {{ form.csrf_token }}
                {{ render_field(form.title) }}
                {{ render_field(form.description) }}

                <div class="control-group">
                    <div class="controls btn-group">
                        <button type="submit" class="btn btn-success">
                            <i class= "glyphicon glyphicon-ok"></i> {{_('Add')}}
                        </button>
                        <a href="{% if 'origin' in session -%}
                            {{ session['origin'] }}
                        {% else -%}
                           {{url_for('examination.upload_file')}}
                        {% endif -%}" class='btn btn-primary'>
                            <i class="glyphicon glyphicon-arrow-left"></i> {{_('Back')}}
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

