{% extends 'content.htm' %}

{% block includes %}
    <script>
        var get_courses = "{{ url_for('examination.get_courses') }}"
    </script>
    <script src="{{static_url("/static/js/course/view.js") }}"></script>
{% endblock %}


{% block content %}
<h1>{{ _('Course overview') }}</h1>
<div class="row">
    <div class="col-md-4">
        <div class='form-group btn-group'>
            <a href='{{ url_for('examination.add_course') }}?redir=courses' class='btn btn-success'>
                <i class='glyphicon glyphicon-pencil'></i> {{ _('New course') }}
            </a>
        </div>
    </div>
</div>
<div class='row'>
	<div class='col-md-12'>
        <table id="datatable" class='table table-striped'>
            <thead>
                <tr>
                    <th>{{ _('ID') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Description') }}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>{{ _('ID') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Description') }}</th>
                </tr>
            </tfoot>
        </table>
	</div>
</div>
{% endblock %}
