application.db
config.py
client_secrets.json
*.dat
*.bak
*.pyc
*.jpg
*.gif
*.png
*.pdf
*.zip
*.tar.gz
*.rar
*.log
.DS_Store
.DS_Store?
._*
.Thrashes
Thumbs.db
*.sublime-*
*.swp

viaduct/static/files/*
viaduct/static/css/*
venv/*
.vimrc

.sass-cache/
Gemfile.lock
node_modules/

gitlog.txt
gitlog.md
gitlog.py
