application.db
config.py
*.bak
*.pyc
*.jpg
*.gif
*.png
*.pdf
*.zip
*.tar.gz
*.rar
*.log
.DS_Store
.DS_Store?
._*
.Thrashes
Thumbs.db
*.sublime-*
*.swp

viaduct/static/files/*
venv/*
.vimrc

gitlog.txt
gitlog.md
gitlog.py
