application.db
config.py
config.rb
client_secrets.json
*.dat
*.bak
*.pyc
*.jpg
*.jpeg
*.gif
*.png
*.pdf
*.zip
*.tar.gz
*.rar
*.log
.DS_Store
.DS_Store?
._*
.Thrashes
Thumbs.db
*.sublime-*
*.swp

app/static/files/*
app/static/css/*
app/static/js
venv/*
venv3
.vimrc
.ackrc

.sass-cache/
node_modules/
dist/

gitlog.txt
gitlog.md
gitlog.py

app/translations/*/LC_MESSAGES/messages.mo
messages.pot

src/js/global/jade.js

cache/

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### PyCharm ###
.idea/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
