Flask
Flask-Babel
Flask-Caching
Flask-CORS
Flask-DebugToolbar
Flask-Failsafe
Flask-JSGlue
Flask-Login
Flask-Migrate
Flask-OAuthlib
Flask-Script
Flask-SQLAlchemy
Flask-Swagger-UI
Flask-WTF
SQLAlchemy
fuzzywuzzy
google-api-python-client
baas32
coverage
connexion
flake8
flake8-docstrings
flake8-putty
alembic
Markdown
PyPDF2
pep8
pep8-naming
bcrypt
pyflakes
psycopg2
pymysql
python-dateutil
python-magic
raven
reportlab
requests
Unidecode
validictory
watchdog
WTForms
# pyOpenSSL
speaklater
python-Levenshtein
-e git://github.com/JelteF/mollie-api-python@dec672784ed35d8f010aba0a5e4b740b6e419aa7#egg=mollie_api_python
hashfs
