{% extends "pimpy/view_page.htm" %}

{% block content %}
    <div class="col-md-8">
        <h1>Gevonden taken</h1>
        <table class="table table-hover">
            <tbody>
            {% for list_item in tasks: %}
            <tr class='pimpy_status_{{ list_item.get_status_string() | replace(" ","_")}}' data-toggle="collapse" data-target='#{{ list_item.id }}_{{ user_header | replace(" ","_") }}'>
                <td>
                    <div class="btn-group" style="margin-bottom: 8px;">
                        <a id="pimpy_task{{ list_item.id }}" class="btn dropdown-toggle {{ list_item.get_status_color() }} " data-toggle="dropdown" href="#"> {{ list_item.base32_id() }} </a>
                        <ul class="dropdown-menu">
                            {% for status_meaning in list_item.get_status_meanings(): %}
                                <li>
                                    <a href="#" data-toggle="dropdown" data-task-id="{{ list_item.id }}" data-status-id="{{ status_meaning[2] }}" class="pimpy_status {{ status_meaning[1] }}"> {{ status_meaning[0] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td><td>
                {{ list_item.title }}
                </td><td>
                {{ list_item.get_users() }}
                </td>
            </tr>
            <tr class='pimpy_status_{{ list_item.get_status_string() | replace(" ","_")}}'>
                <td colspan="3" style="padding: 0px;">
                <div class="collapse" id='{{ list_item.id }}_{{ user_header | replace(" ","_") }}'>
                    <div class="well well-small">
                        <dl>
                            <dt>Taak:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="title" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.title }}</a>
                                <button class="btn pimpy_editable_toggle" style="float: right;">Aanpassen</button>
                            </dd>
                            <dt>Gebruikers:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="users" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.get_users() }}</a>
                            </dd>
                            <dt>Beschrijving:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="content" data-pk="{{ list_item.id }}" data-type="textarea" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.content }}</a>
                            </dd>
                            <dt>Aangemaakt op:</dt>
                            <dd>
                                {{list_item.timestamp }}
                            </dd>
                        </dl>
                        {% if list_item.minute_id > 1 %}
                        <a href="{{ url_for('pimpy.view_minute', minute_id=list_item.minute_id) }}">Ga naar notulen!</a>
                        {% endif %}
                    </div>
                </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



        <h1>Gevonden DONE's</h1>
        <table class="table table-hover">
            <tbody>
            {% for list_item in dones: %}
            <tr class='pimpy_status_{{ list_item.get_status_string() | replace(" ","_")}}' data-toggle="collapse" data-target='#{{ list_item.id }}_{{ user_header | replace(" ","_") }}'>
                <td>
                    <div class="btn-group" style="margin-bottom: 8px;">
                        <a id="pimpy_task{{ list_item.id }}" class="btn dropdown-toggle {{ list_item.get_status_color() }} " data-toggle="dropdown" href="#"> {{ list_item.base32_id() }} </a>
                        <ul class="dropdown-menu">
                            {% for status_meaning in list_item.get_status_meanings(): %}
                                <li>
                                    <a href="#" data-toggle="dropdown" data-task-id="{{ list_item.id }}" data-status-id="{{ status_meaning[2] }}" class="pimpy_status {{ status_meaning[1] }}"> {{ status_meaning[0] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td><td>
                {{ list_item.title }}
                </td><td>
                {{ list_item.get_users() }}
                </td>
            </tr>
            <tr class='pimpy_status_{{ list_item.get_status_string() | replace(" ","_")}}'>
                <td colspan="3" style="padding: 0px;">
                <div class="collapse" id='{{ list_item.id }}_{{ user_header | replace(" ","_") }}'>
                    <div class="well well-small">
                        <dl>
                            <dt>Taak:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="title" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.title }}</a>
                                <button class="btn pimpy_editable_toggle" style="float: right;">Aanpassen</button>
                            </dd>
                            <dt>Gebruikers:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="users" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.get_users() }}</a>
                            </dd>
                            <dt>Beschrijving:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="content" data-pk="{{ list_item.id }}" data-type="textarea" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.content }}</a>
                            </dd>
                            <dt>Aangemaakt op:</dt>
                            <dd>
                                {{list_item.timestamp }}
                            </dd>
                        </dl>
                        {% if list_item.minute_id > 1 %}
                        <a href="{{ url_for('pimpy.view_minute', minute_id=list_item.minute_id) }}">Ga naar notulen!</a>
                        {% endif %}
                    </div>
                </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Gevonden REMOVE's</h1>
        <table class="table table-hover">
            <tbody>
            {% for list_item in removes: %}
            <tr class='pimpy_status_{{ list_item.get_status_string() | replace(" ","_")}}' data-toggle="collapse" data-target='#{{ list_item.id }}_{{ user_header | replace(" ","_") }}'>
                <td>
                    <div class="btn-group" style="margin-bottom: 8px;">
                        <a id="pimpy_task{{ list_item.id }}" class="btn btn-danger dropdown-toggle {{ list_item.get_status_color() }} " data-toggle="dropdown" href="#"> {{ list_item.base32_id() }} </a>
                        <ul class="dropdown-menu">
                            {% for status_meaning in list_item.get_status_meanings(): %}
                                <li>
                                    <a href="#" data-toggle="dropdown" data-task-id="{{ list_item.id }}" data-status-id="{{ status_meaning[2] }}" class="pimpy_status {{ status_meaning[1] }}"> {{ status_meaning[0] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td><td>
                {{ list_item.title }}
                </td><td>
                {{ list_item.get_users() }}
                </td>
            </tr>
            <tr class='pimpy_status_{{ list_item.get_status_string() | replace(" ","_")}}'>
                <td colspan="3" style="padding: 0px;">
                <div class="collapse" id='{{ list_item.id }}_{{ user_header | replace(" ","_") }}'>
                    <div class="well well-small">
                        <dl>
                            <dt>Taak:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="title" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.title }}</a>
                                <button class="btn pimpy_editable_toggle" style="float: right;">Aanpassen</button>
                            </dd>
                            <dt>Gebruikers:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="users" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.get_users() }}</a>
                            </dd>
                            <dt>Beschrijving:</dt>
                            <dd>
                                <a href="#" class="pimpy_editable" id="content" data-pk="{{ list_item.id }}" data-type="textarea" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.content }}</a>
                            </dd>
                            <dt>Aangemaakt op:</dt>
                            <dd>
                                {{list_item.timestamp }}
                            </dd>
                        </dl>
                        {% if list_item.minute_id > 1 %}
                        <a href="{{ url_for('pimpy.view_minute', minute_id=list_item.minute_id) }}">Ga naar notulen!</a>
                        {% endif %}
                    </div>
                </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
