{% extends "base.htm" %}

{% block page %}

<div class='row'>
    <div class='col-md-12'>
        <p><em><strong>Let op!</strong> Als je een foutmelding krijgt dat er
            niet in het buitenland wordt geleverd, zijn er een aantal dingen
            die je kan proberen. 1. Ververs de cache van de pagina (harde
            refresh, i.e. Ctrl+Shift+R). 2. Probeer een andere browser. Mocht
            het nu alsnog niet lukken om je boeken te bestellen, neem dan
            contact op met de helpdesk van de boekenleverancier via email
            (<a href="mailto:helpdesk@athenaeum.nl">helpdesk (at) athenaeum
                (dot) nl</a>), of via de telefoon (020 530 17 47). Excuses
            voor het ongemak!</em></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <iframe id="athenaeum" src="{{ url }}"></iframe>
    </div>
</div>

{% endblock %}
