{% from "macros/form.htm" import render_field, render_button, render_textarea, render_datefield, render_select %}

{% extends "content.htm" %}

{% block content %}
	<form method="post">
		<fieldset>
			<legend>Locatie {% if location.id %}bewerken{% else %}aanmaken{% endif %}</legend>

			{{ form.csrf_token }}

			{{ render_field(form.city) }}
			{{ render_field(form.country) }}
			{{ render_field(form.address) }}
			{{ render_field(form.zip) }}
			{{ render_field(form.postoffice_box) }}
			{{ render_field(form.email) }}
			{{ render_field(form.phone_nr) }}

			{% if ModuleAPI.can_write('location') %}
				{{ render_button(form.submit) }}
			{% endif %}
		</fieldset>
	</form>

	{% if location.id and ModuleAPI.can_write('location') %}
		<form action="{{ url_for('location.delete', location_id=location.id) }}" method="post">
			<fieldset>
				<button class="btn btn-danger" type="submit">Verwijderen</button>
			</fieldset>
		</form>
	{% endif %}

{% endblock %}
