{% from "macros/flash.htm" import render_flash %}
{% from "macros/form.htm" import render_field, render_captcha %}

{% extends "base.htm" %}

{% block content %}
<form action="" method="post" name="sign_up" class="form-horizontal">
	<fieldset>
		<legend>Sign up</legend>

		{{ render_flash() }}

		{{ form.csrf_token }}
		{{ render_field(form.email) }}
		{{ render_field(form.password) }}
		{{ render_field(form.repeat_password) }}
		{{ render_field(form.first_name) }}
		{{ render_field(form.last_name) }}
		{{ render_captcha(form.captcha) }}

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Sign up</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}

