{% from "macros/flash.htm" import render_flash %}

{% extends "base.htm" %}

{% block content %}
<form action="" method="post" name="sign_up" class="form-horizontal">
	<fieldset>
		<legend>Sign up</legend>

		{{ render_flash() }}

		<div class="control-group">
			<label for="e-mail" class="content-label">E-mail address</label>

			<div class="controls">
				<input type="text" placeholder="E-mail address" name="e-mail" />
			</div>
		</div>

		<div class="control-group">
			<label for="password" class="content-label">Password</label>

			<div class="controls">
				<input type="password" placeholder="Password" name="password" />
			</div>
		</div>

		<div class="control-group">
			<label for="repeat-password" class="content-label">Repeat password</label>

			<div class="controls">
				<input type="password" placeholder="Repeat password" name="repeat-password" />
			</div>
		</div>

		<div class="control-group">
			<label for="first-name" class="content-label">First name(s)</label>

			<div class="controls">
				<input type="text" placeholder="First name(s)" name="first-name" />
			</div>
		</div>

		<div class="control-group">
			<label for="last-name" class="content-label">Last name</label>

			<div class="controls">
				<input type="text" placeholder="Last name" name="last-name" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				{{ captcha }}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Sign up</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}

