{% extends "base.htm" %}

{% block page %}


<div class="row">
	<div class="span6">
		<div class="mainblock">
			<h1>{{blocks[0].title}}</h1>
			<div class="expander">
				{{ blocks[0].content }}
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="mainblock">
			<!--<h1>{{blocks[1].title}}</h1>-->
			<div class="">
				<style>.twitter-timeline { display: none; }</style>
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ikarusnl/via"  data-widget-id="307686872585486336">Tweets from @ikarusnl/via</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<!--{{ blocks[1].content }}-->
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<div class="mainblock">
			<h1>{{blocks[2].title}}</h1>
			<div class="expander">
				{{ blocks[2].content }}
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="mainblock">
			<h1>{{blocks[3].title}}</h1>
			<div class="expander">
				{{ blocks[3].content }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="sponsor"><a href="http://www.procam.nl/index.php?nav=traineeship"><img src="static/img/sponsors/procam.png" alt="Focum" /></a></div>
		<div class="sponsor"><a href="http://www.copernica.com/nl/over-ons/vacatures"><img src="static/img/sponsors/copernica.png" alt="Copernica" /></a></div>
		<div class="sponsor"><a href="http://www.infosupport.com/"><img src="static/img/sponsors/infosupport.png" alt="InfoSupport" /></a></div>
		<div class="sponsor"><a href="http://www.pega.com/about-us/careers"><img src="static/img/sponsors/pegasystems.png" alt="Pegasystems" /></a></div>
		<div class="sponsor"><a href="http://www.sogeti.nl/"><img src="static/img/sponsors/sogeti.png" alt="Sogeti" /></a></div>
		<div class="sponsor"><a href="http://www.werkenbijquinity.nl/welkom"><img src="static/img/sponsors/quinity.png" alt="Focum" /></a></div>
		<div class="sponsor"><a href="http://www.optiver.com/amsterdam/"><img src="static/img/sponsors/optiver.png" alt="Focum" /></a></div>
		<div class="sponsor"><a href="http://www.focum.nl/"><img src="static/img/sponsors/focum.png" alt="Focum" /></a></div>
	</div>
</div>



{% endblock %}

