{% extends "base.htm" %}

{% block page %}


<div class="row">
	<div class="span6">
		{{ blocks[0].content }}
	</div>
	<div class="span6">
		{{ blocks[1].content }}
	</div>
</div>
<div class="row">
	<div class="span6">
		{{ blocks[2].content }}
	</div>
	<div class="span6">
		{{ blocks[3].content }}
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="sponsor"><a href="http://www.procam.nl/index.php?nav=traineeship"><img src="final/procam.png" alt="Focum" /></a></div>
		<div class="sponsor"><a href="http://www.copernica.com/nl/over-ons/vacatures"><img src="final/copernica.png" alt="Copernica" /></a></div>
		<div class="sponsor"><a href="http://www.infosupport.com/"><img src="final/infosupport.png" alt="InfoSupport" /></a></div>
		<div class="sponsor"><a href="http://www.pega.com/about-us/careers"><img src="final/pegasystems.png" alt="Pegasystems" /></a></div>
		<div class="sponsor"><a href="http://www.sogeti.nl/"><img src="final/sogeti.png" alt="Sogeti" /></a></div>
		<div class="sponsor"><a href="http://www.werkenbijquinity.nl/welkom"><img src="final/quinity.png" alt="Focum" /></a></div>
		<div class="sponsor"><a href="http://www.optiver.com/amsterdam/"><img src="final/optiver.png" alt="Focum" /></a></div>
		<div class="sponsor"><a href="http://www.focum.nl/"><img src="final/focum.png" alt="Focum" /></a></div>
	</div>
</div>



{% endblock %}

