{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="edit_page" class="form-horizontal">
	<fieldset>
		<legend>Edit page</legend>

		<div class="control-group">
			<label for="title" class="content-label">Title</label>

			<div class="controls">
				<input type="text" placeholder="Title" name="title" value="{{ revision.title }}" />
			</div>
		</div>

		<div class="control-group">
			<label for="content" class="content-label">Content</label>

			<div class="control-group">
				<div class="controls">
					<textarea rows="20" class="input-block-level" name="content">{{ revision.content }}</textarea>
				</div>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
                <!--
				<a href="{{ url_for('page.delete_page', page_path=page) }}" class="btn">Delete this page</a>
                -->
				<a href="{{ url_for('deletePageConfirmation', filename='deletePageConfirmation.js') }}" class="btn">Delete this page</a>
				<button type="submit" class="btn">Save</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}

