{% from 'macros/form.htm' import render_submit, render_post_btn %}

{% extends "content.htm" %}

{% block content %}
    <h1>{{ _("My applications") }}</h1>
    <a href="{{ url_for("oauth.edit") }}" class="btn btn-success">
        {{ _("Create application") }}
    </a>
    <hr>
    {% for client in owned_clients %}
        <div class="row">
            <div class="col-md-8">
                {{ client.name }}<br/>
                <small>Client ID: {{ client.client_id }}</small>
                <br/>
                <small>Client Secret: {{ client.client_secret }}</small>
            </div>
            <div class="col-md-4">
                <a class='btn btn-warning'
                   href="{{ url_for("oauth.edit", client_id=client.client_id) }}">
                    {{ _("Edit") }}
                </a>
                {{ render_post_btn(url_for("oauth.reset_client_secret", client_id=client.client_id),
                        _("Are you sure you want to reset %s client secret" % client.name),
                        _("Reset secret")) }}
            </div>
        </div>
        <hr>
    {% endfor %}

    <h1>{{ _("Connected applications") }}</h1>
    <p>{{ _("You have granted %d applications access to your account." % len(clients)) }}</p>

    <hr>
    {%- for client in clients -%}
        <div class="row">
            <div class="col-md-8">
                {{ client.name }}<br/>
                <small>{{ _("Owned by: ") }}
                    {% if client.user %}
                        {{ client.user.name }}
                    {% else %}
                        <strong>via</strong>
                    {% endif %}
                </small>

            </div>
            <div class="col-md-4">
                {{ render_post_btn(url_for("oauth.revoke_client_token", client_id=client.client_id),
                        _("Are you sure you want to revoke %s token?" % client.name),
                        _("Revoke")) }}
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}