{% extends "content.htm" %}

{% set __fullscreen_mode = True %}

{% block content %}

    <div class="text-center">
        <img src="/static/img/via.png" alt="via"
             class="img-responsive center-block"/>

        <h1>{{ _("%s is requesting access to your account" % client.name) }}</h1>
        {{ _("Click 'confirm' to allow the application to do the following:") }}
    </div>
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm- col-xs-12">
        <p>
        <ul>
            <li>{{ _("Access to your name and e-mail") }}</li>
            {% for scope in scopes %}
                <li>{{ descriptions[scope] }}</li>
            {% endfor %}
        </ul>
        </p>
    </div>

    <div class="col-xs-12 text-center">
        <form action="/oauth/authorize/" method="POST">
            <p>Allow access?</p>
            <input type="hidden" name="client_id"
                   value="{{ client.client_id }}">
            <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
            <input type="hidden" name="response_type"
                   value="{{ response_type }}">
            <input type="hidden" name="redirect_uri"
                   value="{{ redirect_uri }}">
            {% if state %}
                <input type="hidden" name="state" value="{{ state }}">
            {% endif %}

            <input class="btn btn-success btn-lg" type="submit" name="confirm"
                   value="{{ _("Confirm") }}">
            <input class="btn btn-default btn-lg" type="submit" name="confirm"
                   value="{{ _("Cancel") }}">
        </form>
    </div>

{% endblock %}