{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_field, render_button, render_textarea, render_datefield_picker, render_select %}

{% macro render_challenge_admin_buttons(challenge_id) %}
<div class="col-md-2">
    <div class="btn-group" role="group">
        <a href="{{ url_for('challenge.edit', challenge_id=challenge_id) }}" class="btn btn btn-warning">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="{{ url_for('challenge.add_manual_submission', challenge_id=challenge_id) }}" class="btn btn btn-primary">
            <i class="fa fa-user"></i>
        </a>
    </div>
</div>
{% endmacro %}


{% extends "content.htm" %}
{% block includes %}
    <script src='{{static_url("/static/js/challenges/api.request.js")}}'></script>
    <script>
    $( document ).ready(function() {

        /* Prevent the expand function being called when clicking on a link */
        $( document).on('click', 'a.search_click', function(e){
            e.preventdefaults();
            document.location.href=$(this).attr("href");
        });
    });
    </script>
{% endblock %}



{% block content %}
<script>
 	var user_id = {{current_user.id}}
</script>
	<div class="container">
	<div class="col-md-12">
	<h1>{{ challenge_description.title}}</h1>
	<p>{{ challenge_description.content | markdown(challenge_description.filter_html) }}</p>

    <li class="list-group-item">
        <div class="col-xs-12 col-sm-2">
            <h2>{{counter}}</h2>
        </div>
        <div class="col-xs-12 col-sm-9">
            <h3 class="name">{{current_user.name}}</h3><br/>
        </div>
        <div class="col-xs-12 col-sm-1">
            <h3 class="name"><span id="user_points">{{user_points}}</span></h3><br/>
        </div>
        <div class="clearfix"></div>
    </li>

	{% if can_write %}
    <br />
	<div class="row">
		<div class="col-md-12">
        <a href="{{ url_for('challenge.edit') }}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            {{ _('Create new challenge') }}
        </a>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
        {% if can_write %}
        <h1>{{ _('All challenges') }}</h1>
        {% else %}
        <h1>{{ _('Open challenges') }}</h1>
        {% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
                <div class="col-md-1"><h4>{{ _('Points') }}</h4></div>
                <div class="col-md-1"><h4>{{ _('Title') }}</h4></div>
                <div class="col-md-4"><h4>{{ _('Description') }}</h4></div>
                <div class="col-md-2"><h4>{{ _('Hint') }}</h4></div>
                <div class="col-md-2"><h4>{{ _('Answer') }}</h4></div>
			</div>
		</div>
	</div>
	<hr>
		{% for challenge in challenges %}
		<div style="cursor:pointer;" class="row challenge_todo">
            <div class="col-md-1 challenge_weight">
                {% if can_write and not challenge.is_open %}
                <b>{{ _('Closed') }}</b><br />
                {% endif %}
                {{challenge.weight}}
            </div>
            <div class="col-md-1 challenge_name">{{challenge.name}}</div>
            <div class="col-md-4 challenge_description">{{challenge.description}}</div>
            <div class="col-md-2 challenge_hit">{{challenge.hint}}</div>
            <div class="col-md-2">
                <form class="challenge_submission" via-challenge-id="{{challenge.id}}" id="challenge_{{challenge.id}}">
                    <input type="text" class="submission" size="12">
                    <input type="submit" style="display:none;">
                </form>
            </div>
            {% if can_write %}
            {{ render_challenge_admin_buttons(challenge.id) }}
            {% endif %}
		</div>
		<hr>
		{% endfor %}
		<div class="row">
			<div class="col-md-12">
                <h1>{{ _('Done') }} </h1>
			</div>
		</div>
		<hr>
		<div class="row">
            <div class="col-md-1"><h4>{{ _('Points') }}</h4></div>

            <div class="col-md-5"><h4>{{ _('Title') }}</h4></div>
            <div class="col-md-4"><h4>{{ _('Description') }}</h4></div>
		</div>
		<hr id="before_done_challenges">
		{% for challenge in approved_challenges %}
		<div class="row challenge_done">
			<div class="col-md-12">
				<div class="row">
				<div class="col-md-1 challenge_weight">{{challenge.weight}}</div>
				<div class="col-md-5 challenge_name">{{challenge.name}}</div>
				<div class="col-md-4 challenge_description">{{challenge.description}}</div>
                {% if can_write %}
                {{ render_challenge_admin_buttons(challenge.id) }}
                {% endif %}
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}

		</tbody>
	</table>

	</div>
	</div>
	<div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">{{ _('Ranking') }}</span>
                </div>

                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="list-group" id="contact-list">
	                {% set counter = 1 -%}
					{% for user in ranking %}
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-2">
                            <h2>{{counter}}</h2>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h3 class="name">{{user.user.name}}</h3><br/>
                        </div>
						<div class="col-xs-12 col-sm-2">
                            <h3 class="name">{{user.points}}</h3><br/>
                        </div>
                        <div class="clearfix"></div>
                    </li>
		                {% set counter = counter + 1 %}
					{% endfor %}

                </ul>
            </div>
        </div>
	</div>

{% endblock %}
