{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block content %}
	<div class="container">
	<div class="span8">
	{% if GroupPermissionAPI.can_write('location') %}
		<a class="btn" href="{{ url_for('location.view') }}">Nieuwe locatie</a>
	{% endif %}
	{% if GroupPermissionAPI.can_write('contact') %}
		<a class="btn" href="{{ url_for('contact.edit') }}">Nieuw contact</a>
	{% endif %}
	{% if GroupPermissionAPI.can_write('company') %}
		<a class="btn" href="{{ url_for('company.edit') }}">Nieuw bedrijf</a>
	{% endif %}
	{% if GroupPermissionAPI.can_write('vacancy') %}
		<a class="btn" href="{{ url_for('vacancy.edit') }}">Nieuwe vacature</a>
	{% endif %}
	<br />
	<br />
	<div class="row">
		<div class="span12">
			<form method="get" action="{{ url_for('vacancy.view_list') }}" enctype=multipart/form-data class="form-inline" >
				<input name="search" id="search" class="span5" type="text" placeholder="Zoek op titel, vak of opleiding" value="{{search}}" onkeypress="searchKeyPress(event);"></input>
				<button type="submit" class="btn btn-primary"> <i class="icon-search icon-white" id="submit"></i></button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="row">
			<div class="span3"><h4>Titel</h4></div>
			<div class="span3"><h4>Werklast</h4></div>
			<div class="span3"><h4>Contract</h4></div>
			<div class="span3"><h4>Bedrijf</h4></div>
			</div>
		</div>
	</div>
	<hr>
	{% for vacancy in vacancies.items %}

		<div class="row">
			<div class="span12" data-toggle="collapse" data-target='#{{ vacancy.id
				}}'>
				<div class="row">
				<div class="span3">{{vacancy.title}}</div>
				<div class="span3">{{vacancy.workload}}</div>
				<div class="span3">{{vacancy.contract_of_service}}</div>
				<div class="span3">{{vacancy.company.name}}</div>
				</div>
				<div id='{{ vacancy.id }}' class="collapse">
					<hr>
					<div class="span4">
						<blockquote>
							<a href="{{url_for('company.view', company_id=vacancy.company.id)}}">{{vacancy.company.name}}</a>
							<small><cite title="Source Title">{{vacancy.company.location.address}}, {{vacancy.company.location.city}}, {{vacancy.company.location.country}}<i class="icon-map-marker"></i></cite></small>
						</blockquote>
						<p>
							<i class="icon-envelope"></i> {{vacancy.company.contact.email}} <br>
							<i class="icon-globe"></i> <a target="_blank" href="{{vacancy.company.website}}"> {{vacancy.company.website}} </a> <br>
							<i class="icon-user"></i> {{vacancy.company.contact.phone_nr}} <br>
							{% if GroupPermissionAPI.can_write('vacancy') %}
							<a href="{{ url_for('vacancy.edit', vacancy_id=vacancy.id) }}">edit</a>  <br>
							{% endif %}
						</p>
						</div>
						<div class="span6">
							<h3>
								{{vacancy.title}}
							</h3>
						<br />	
						{{ vacancy.description | markdown }}
						<i>
						 <i class="icon-calendar"></i> {{vacancy.start_date}}
						- <i class="icon-calendar"></i> {{vacancy.end_date}}
						</i>
					</div>
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}
		</tbody>
	</table>

	{{ render_pagination(vacancies, 'vacancy.view_list') }}
	</div>
	</div>
{% endblock %}