{% from "macros/form.htm" import render_field, render_button, render_textarea, render_datefield_picker, render_select %}

{% extends "content.htm" %}

{% block content %}
<script src='/static/js/datepicker.js'></script>
	<form method="post">
		<fieldset>
			<legend>Vacature {% if vacancy.id %}bewerken{% else %}aanmaken{% endif %}</legend>

			{{ form.csrf_token }}

			{{ render_field(form.title) }}
			{{ render_textarea(form.description) }}
			{{ render_datefield_picker(form.start_date) }}
			{{ render_datefield_picker(form.end_date) }}
			{{ render_select(form.contract_of_service) }}
			{{ render_field(form.workload) }}
			{{ render_select(form.company_id) }}

			{% if GroupPermissionAPI.can_write('vacancy') %}
				{{ render_button(form.submit) }}
			{% endif %}
		</fieldset>
	</form>

	{% if vacancy.id and GroupPermissionAPI.can_write('vacancy') %}
		<form action="{{ url_for('vacancy.delete', vacancy_id=vacancy.id) }}" method="post">
			<fieldset>
				<button class="btn btn-danger" type="submit">Verwijderen</button>
			</fieldset>
		</form>
	{% endif %}
{% endblock %}
