{% extends "pimpy/view_page.htm" %}

{%block content %}
<div class="span8">

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label">Add a minute</label>
	</div>
	<div class="control-group">
		<label class="control-label" for="content">Content (copy paste minutes here)</label>
		<div class="controls">
			{{ form.content }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="line">Group</label>
		<div class="controls">
			{{ form.group}}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="line">Date</label>
		<div class="controls">
			{{ form.date(id='start_date') }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="line">Parse tasks?</label>
		<div class="controls">
			{{ form.parse_tasks}}
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Create minute</button>
		</div>
	</div>
<!-- data-date-format="yyyy-mm-dd", seems not likely to be workin' anytime soon -->
</form>
</div>


<script>
$(document).ready(function() {
	// Check eyecon.ro/bootstrap-datepicke
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

	var checkin = $('#start_date').datepicker({
		onRender: function(date) {return date.valueOf() < now.valueOf() ? 'disabled' : '';}
	}).on('changeDate', function(ev) {
		if (ev.date.valueOf() > checkout.date.valueOf()) {
			var newDate = new Date(ev.date)
			newDate.setDate(newDate.getDate());
			checkout.setValue(newDate);
		}

		checkin.hide();
		$('#end_date')[0].focus();
	}).data('datepicker');

	var checkout = $('#end_date').datepicker({
		onRender: function(date) {
		return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
	}}).on('changeDate', function(ev) {checkout.hide();}).data('datepicker');

	$("#start_time").timepicker({showMeridian:false, defaultTime: "17:00"});
	$("#end_time").timepicker({showMeridian:false, defaultTime: "22:00"});
});
</script>

{% endblock content %}


