{% extends 'pimpy/view_page.htm' %}

{%block content %}

<div class='col-md-8'>
    <h2>Add a minute</h2>

    <form class='minute-form' method='post' enctype='multipart/form-data'>
        <div class='form-group'>
            <label for='content'>Content (copy paste minutes here)</label>
            {{ form.content(class_='form-control') }}
        </div>

        <div class='form-group'>
            <label for='line'>Group</label>
            {{ form.group(class_='form-control') }}
        </div>

        <div class='form-group'>
            <label for='line'>Date (yyyy-mm-dd)</label>
            {{ form.date(id='minute_date', class_='form-control') }}
        </div>

        <div class='checkbox'>
            <label for='line'>
                {{ form.parse_tasks }} Parse tasks
            </label>
        </div>

        <button type='submit' class='btn btn-primary submit-button' data-loading-text='Bezig...'>Create minute</button>
    </form>
</div>
<script src='/static/js/pimpy/add_minute.js'></script>

{% endblock content %}
