{% extends 'pimpy/view_page.htm' %}

{%block content %}

<div class='col-md-8'>
    <h2>Nieuwe notulen</h2>

    <form class='minute-form' method='post' enctype='multipart/form-data'>
        <div class='form-group'>
            <label for='content'>Content (Kopieer notulen hier naar toe)</label>
            {{ form.content(class_='form-control') }}
        </div>

        <div class='form-group'>
            <label for='line'>Groep</label>
            {{ form.group(class_='form-control') }}
        </div>

        <div class='form-group'>
            <label for='line'>Datum (yyyy-mm-dd)</label>
            {{ form.date(id='minute_date', class_='form-control') }}
        </div>

        <div class='checkbox'>
            <label for='line'>
                {{ form.parse_tasks }} Verwerk taken
            </label>
        </div>

        <button type='submit' class='btn btn-primary submit-button' data-loading-text='Bezig...'>Creëer notulen</button>
    </form>
</div>
<script src='/static/js/pimpy/add_minute.js'></script>

{% endblock content %}
