{% extends "pimpy/view_page.htm" %}

{%block content %}

<p>
Create a task:
</p>

<form action="" method="post" enctype="multipart/form-data">
	<div> {{ form.name.label }} : {{ form.name }} </div>
	<div> {{ form.content.label }} : {{ form.content }} </div>
<!-- data-date-format="yyyy-mm-dd", seems not likely to be workin' anytime soon -->
	<div> {{ form.deadline.label }} : {{ form.deadline(id='start_date') }}
	<div> {{ form.line.label }} : {{ form.line}} </div>
	<div> {{ form.group.label }} : {{ form.group}} </div>
	<div> {{ form.users.label }} : {{ form.users}} </div>
	<div> {{ form.status.label }} : {{ form.status}} </div>
	<button type="submit" class="btn">Create task</button>
</form>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<script>
$(document).ready(function() {
	// Check eyecon.ro/bootstrap-datepicke
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	
	var checkin = $('#start_date').datepicker({
		onRender: function(date) {return date.valueOf() < now.valueOf() ? 'disabled' : '';}
	}).on('changeDate', function(ev) {
		if (ev.date.valueOf() > checkout.date.valueOf()) {
			var newDate = new Date(ev.date)
			newDate.setDate(newDate.getDate());
			checkout.setValue(newDate);
		}
	
		checkin.hide();
		$('#end_date')[0].focus();
	}).data('datepicker');
	
	var checkout = $('#end_date').datepicker({
		onRender: function(date) {
		return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
	}}).on('changeDate', function(ev) {checkout.hide();}).data('datepicker');

	$("#start_time").timepicker({showMeridian:false, defaultTime: "17:00"});
	$("#end_time").timepicker({showMeridian:false, defaultTime: "22:00"});
});
</script>

{% endblock content %}
