{% extends "pimpy/view_page.htm" %}

{% block content %}
    <div class="span8">
        <h1>Found Tasks</h1>
        {% for list_item in tasks: %}
            <div class="btn-group" style="margin-bottom: 8px;">
                <a id="pimpy_task{{ list_item.id }}"
                   class="btn dropdown-toggle {{ list_item.get_status_color() }}"
                   data-toggle="dropdown"
                   href="#"> {{ list_item.get_task_id() }} </a>
                <ul class="dropdown-menu">
                    {% for status_meaning in list_item.get_status_meanings(): %}
                        <li>
                            <a data-task-id="{{ list_item.id }}" data-status-id="{{ status_meaning[2] }}" class="pimpy_status {{ status_meaning[1] }}"> {{ status_meaning[0] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group" style="margin-bottom: 8px;">
                <a class="btn" data-toggle="collapse" data-target='#{{ list_item.id }}'>{{ list_item.title }}</a>
                <a class="btn" data-toggle="collapse" data-target='#{{ list_item.id }}'> {{ list_item.get_users() }} </a>
            </div>
            <div id='{{ list_item.id }}' class="collapse">
                <div class="well well-small">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Task:<td> <a href="#" class="pimpy_editable" id="title" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.title }}</a>
                                <td><button class="btn pimpy_editable_toggle" style="float: right;">Edit</button>
                            </tr><tr>
                                <td>Users:<td> <a href="#" class="pimpy_editable" id="users" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.get_users() }}</a><td>
                            </tr><tr>
                                <td>Description:<td> <a href="#" class="pimpy_editable" id="content" data-pk="{{ list_item.id }}" data-type="textarea" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.content }}</a><td>
                            </tr><tr>
                                <td>Deadline: <td>{{ list_item.deadline }}<td>
                            </tr><tr>
                                <td>Created on:<td> {{list_item.timestamp }}<td>
                            </tr>
                        </tbody>
                    </table>
                    {% if list_item.minute_id > 1 %}
                        <a href="{{ url_for('pimpy.view_minute', group_id=list_item.group_id, minute_id=list_item.minute_id) }}"> Go to minute </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}



        <h1>Found DONE's</h1>
        {% for list_item in dones: %}
            <div class="btn-group" style="margin-bottom: 8px;">
                <a id="pimpy_task{{ list_item.id }}" class="btn dropdown-toggle {{ list_item.get_status_color() }} " data-toggle="dropdown" href="#"> {{ list_item.get_task_id() }} </a>
                <ul class="dropdown-menu">
                    {% for status_meaning in list_item.get_status_meanings(): %}
                        <li>
                            <a data-task-id="{{ list_item.id }}" data-status-id="{{ status_meaning[2] }}" class="pimpy_status {{ status_meaning[1] }}"> {{ status_meaning[0] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group" style="margin-bottom: 8px;">
                <a class="btn" data-toggle="collapse" data-target='#{{ list_item.id }}'>{{ list_item.title }}</a>
                <a class="btn" data-toggle="collapse" data-target='#{{ list_item.id }}'> {{ list_item.get_users() }} </a>
            </div>
            <div id='{{ list_item.id }}' class="collapse">
                <div class="well well-small">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Task:<td> <a href="#" class="pimpy_editable" id="title" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.title }}</a>
                                <td><button class="btn pimpy_editable_toggle" style="float: right;">Edit</button>
                            </tr><tr>
                                <td>Users:<td> <a href="#" class="pimpy_editable" id="users" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.get_users() }}</a><td>
                            </tr><tr>
                                <td>Description:<td> <a href="#" class="pimpy_editable" id="content" data-pk="{{ list_item.id }}" data-type="textarea" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.content }}</a><td>
                            </tr><tr>
                                <td>Deadline: <td>{{ list_item.deadline }}<td>
                            </tr><tr>
                                <td>Created on:<td> {{list_item.timestamp }}<td>
                            </tr>
                        </tbody>
                    </table>
                    {% if list_item.minute_id > 1 %}
                        <a href="{{ url_for('pimpy.view_minute', group_id=list_item.group_id, minute_id=list_item.minute_id) }}"> Go to minute </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}



        <h1>Found REMOVE's</h1>
        {% for list_item in removes: %}
            <div class="btn-group" style="margin-bottom: 8px;">
                <a id="pimpy_task{{ list_item.id }}" class="btn dropdown-toggle {{ list_item.get_status_color() }} " data-toggle="dropdown" href="#"> {{ list_item.get_task_id() }} </a>
                <ul class="dropdown-menu">
                    {% for status_meaning in list_item.get_status_meanings(): %}
                        <li>
                            <a data-task-id="{{ list_item.id }}" data-status-id="{{ status_meaning[2] }}" class="pimpy_status {{ status_meaning[1] }}"> {{ status_meaning[0] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group" style="margin-bottom: 8px;">
                <a class="btn" data-toggle="collapse" data-target='#{{ list_item.id }}'>{{ list_item.title }}</a>
                <a class="btn" data-toggle="collapse" data-target='#{{ list_item.id }}'> {{ list_item.get_users() }} </a>
            </div>
            <div id='{{ list_item.id }}' class="collapse">
                <div class="well well-small">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Task:<td> <a href="#" class="pimpy_editable" id="title" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.title }}</a>
                                <td><button class="btn pimpy_editable_toggle" style="float: right;">Edit</button>
                            </tr><tr>
                                <td>Users:<td> <a href="#" class="pimpy_editable" id="users" data-pk="{{ list_item.id }}" data-type="text" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.get_users() }}</a><td>
                            </tr><tr>
                                <td>Description:<td> <a href="#" class="pimpy_editable" id="content" data-pk="{{ list_item.id }}" data-type="textarea" data-url="/pimpy/tasks/edit/{{ list_item.id }}" data-title="Task Content">{{ list_item.content }}</a><td>
                            </tr><tr>
                                <td>Deadline: <td>{{ list_item.deadline }}<td>
                            </tr><tr>
                                <td>Created on:<td> {{list_item.timestamp }}<td>
                            </tr>
                        </tbody>
                    </table>
                    {% if list_item.minute_id > 1 %}
                        <a href="{{ url_for('pimpy.view_minute', group_id=list_item.group_id, minute_id=list_item.minute_id) }}"> Go to minute </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
