{% from "macros/form.htm" import render_field, render_button, render_textarea, render_datefield, render_select, render_submit %}

{% extends "content.htm" %}

{% block content %}
    <form method="post">
        <fieldset>
            <legend>{{_('Contact person')}} {% if contact.id %}{{_('edit')}}{% else %}{{_('create')}}{% endif %}</legend>

            {{ form.csrf_token }}

            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.phone_nr) }}
            {{ render_field(form.location_id) }}

            {{ render_submit(_('Submit')) }}
        </fieldset>
    </form>

    {% if contact.id and ModuleAPI.can_write('contact') %}
        <form action="{{ url_for('contact.delete', contact_id=contact.id) }}" method="post">
            <fieldset>
                <button class="btn btn-danger" type="submit">{{_('Delete')}}</button>
            </fieldset>
        </form>
    {% endif %}

    <script src={{static_url("/static/js/contact_edit.js")}}></script>
{% endblock %}
