{% from "macros/form.htm" import render_form, render_submit %}

{% extends "content.htm" %}

{% block content %}

    <form action="" method="post" name="edit_navigation_entry">
        <fieldset>
            <legend>
                {% if entry %}
                    {{_('Create')}}
                {% else %}
                    {{_('Edit')}}
                {% endif %}
                {{_('Navigation entry')}}
            </legend>

            {{ form.csrf_token }}

            {{ render_form(form) }}

            <input type="hidden" name="parent_id"
                   value="{{ request.args.get("parent_id") }}">

        </fieldset>
    </form>
    <div class="row">
    {% if entry and entry.children.count() == 0 %}
        <div class="col-md-2">
            <form action="{{ url_for('navigation.delete', entry_id=entry.id) }}"
                  method="post">
                {{ render_submit(_('Delete'), class='btn-danger') }}
            </form>
        </div>
        {% if not entry.external and not entry.activity_list %}
            <div class="col-md-10">
                <form action="{{ url_for('navigation.delete', entry_id=entry.id, inc_page=1) }}" method="post">
                    {{ render_submit(_('Delete menu item and pagina'), class='btn-danger') }}
                </form>
            </div>
        {% endif %}
    {% endif %}
    </div>

    <script>
        function updateURLBoxState(pageID) {
            if (pageID.val() != -1)
                $('#url').prop('disabled', true).val('');
            else
                $('#url').prop('disabled', false);
        }

        $('#page_id').change(function() {
            updateURLBoxState($(this));
        });
        $(function() {
            updateURLBoxState($('#page_id'));
        });
    </script>
{% endblock %}
