{% from "macros/form.htm" import render_form %}

{% extends "content.htm" %}

{% block content %}

    <form action="" method="post" name="edit_navigation_entry">
        <fieldset>
            <legend>
                {% if entry %}
                    {{_('Create')}}
                {% else %}
                    {{_('Edit')}}
                {% endif %}
                {{_('Navigation entry')}}
            </legend>

            {{ form.csrf_token }}

            {{ render_form(form) }}

            <input type="hidden" name="parent_id"
                   value="{{ request.args.get("parent_id") }}">

        </fieldset>
    </form>

    {% if entry and entry.children.count() == 0 %}
        <a class="btn btn-danger" href="{{ url_for('navigation.delete',
            entry_id=entry.id) }}">
            {{_('Delete')}}
        </a>
        {% if not entry.external and not entry.activity_list %}
            <a class="btn btn-danger"
                href="{{ url_for('navigation.delete', entry_id=entry.id, inc_page=1) }}">
                {{_('Delete menu item and pagina')}}
            </a>
        {% endif %}
    {% endif %}

    <script>
        function updateURLBoxState(pageID) {
            if (pageID.val() != -1)
                $('#url').prop('disabled', true).val('');
            else
                $('#url').prop('disabled', false);
        }

        $('#page_id').change(function() {
            updateURLBoxState($(this));
        });
        $(function() {
            updateURLBoxState($('#page_id'));
        });
    </script>
{% endblock %}
