{% if current != None %}

<div class="col-sm-2 col-md-2 side-menu">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
        	{% for i, page in enumerate(pages) %}
                <a {% if page.external %}target="_blank"{% endif %} href="{{ page.href }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           {{ page.title }}
                        </h4>
                    </div>
                </a>
                {% set children = page.activities if page.activities else page.get_children() %}
				{% set children = NavigationAPI.remove_unauthorized(children) %}

				{% if children and page.id == current.id %}
                    <div id="{{i}}" class="panel-collapse">
                        {% for child in children %}
                        <a {% if child.external %}target="_blank"{% endif %} href="{{ child.href }}">
                            <div class="panel-heading sub-panel-heading">
                                <h4 class="panel-title sub-panel-title">
                                    {{ child.title }}
                                </h4>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}



