{% from "macros/form.htm" import render_field, render_checkbox, render_submit %}
    <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        {% if current_user.is_anonymous %}
                            <img class="visible-xs" src="/static/img/user.png" alt="..." id="loginImageMobile" class="img-rounded" data-target="#bs-example-navbar-collapse-2" data-toggle="collapse">
                        {% else %}
                            <img class="visible-xs" src="{{ UserAPI.avatar(current_user) }}" alt="..." id="loginImageMobile" class="img-rounded" data-target="#bs-example-navbar-collapse-2" data-toggle="collapse">
                        {% endif %}
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                        <a class="navbar-brand" href="/"><img src="/static/img/via.png" width="80"/></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% for entry in bar_entries %}

                                {% set children = entry.activities if entry.activities else entry.children_fast %}
                                {% set children = NavigationAPI.remove_unauthorized(children) %}

                                <li class="{% if children %}dropdown{% endif %}">
                                    <a {% if children %}class="dropdown-toggle" data-hover="dropdown" data-delay="200" data-close-others="true"{% endif %} {% if entry.external %}target="_blank"{% endif %}
                                    href="{{ entry.href }}">
                                        {{ entry.title }}
                                    </a>

                                    <ul class="dropdown-menu
                                        {% if entry.activities %}
                                            dropdown-menu-activity

                                        {% endif %}
                                        "
                                        >
                                        {% for child in children %}
                                        {% set grandChildren = child.children_fast if not entry.activities %}
                                        {# set grandChildren = NavigationAPI.remove_unauthorized(grandChildren) #}

                                             <li {% if grandChildren %} class="dropdown-submenu" {% endif %}>
                                                <a {% if child.external %}target="_blank"{% endif %} href="{{ child.href }}" {% if grandChildren %} class="dropdown-toggle" {% endif %} >
                                                {% if child.subtitle %}
                                                    <small class="pull-right"> {{ child.subtitle|truncate(40)  }}</small>
                                                {% endif %}
                                                {{ child.title }}
                                                {% if child.subtitle %}
                                                    <small class="invisible"> {{ child.subtitle|truncate(40)  }}</small>
                                                {% endif %}
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% for grandChild in grandChildren %}
                                                     <li><a href="{{ grandChild.href }}">
                                                        <span>{{ grandChild.title }}</span>
                                                    </li></a>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="dropdown">
                        {% if current_user.is_anonymous %}
                         <a data-toggle="dropdown" href="#">
                            <img class="hidden-xs img-rounded" src="/static/img/user.png" alt="..." id="loginImage">
                          </a>
                          <div class="dropdown-menu" id="loginContainer">
                            <form method="post" name="sign-in" id="sign-in-menu" action="{{ url_for('user.sign_in') }}">
                            {{ login_form.csrf_token }}
                            {{ render_field(login_form.email) }}
                            {{ render_field(login_form.password) }}

                            {{ render_submit('Log in') }}
                            <ul class='list-unstyled' id='dropmenu-list'>
                                <li><a href="{{ url_for('user.sign_up')}}">{{_('Register new user')}}</a></li>
                                <li><a href="{{ url_for('user.request_password')}}">{{_('Forgot password?')}}</a></li>
                            <ul>
                            </form>
                          </div>
                        {% else %}
                          <a data-toggle="dropdown" href="#">
                            <img class="hidden-xs img-rounded" src="{{ UserAPI.avatar(current_user) }}" alt="..." id="loginImage" >
                          </a>
                          <div class="dropdown-menu" id="loginContainer">
                            <img src="{{ UserAPI.avatar(current_user) }}" alt="..." id="userImage" class="img-rounded hidden-xs">
                            <div id="userInformation">
                                <p>{{ current_user.name }}</p>
                                <p>{{ current_user.email }}</p>
                                <p><a href="{{ url_for('user.view_single', user_id=current_user.id) }}">Profiel weergeven</a></p>
                            </div>
                            <div id="logoutButtonContainer">
                                <a href="{{ url_for('user.sign_out') }}"> <button class="btn btn-primary fullWidth" >Uitloggen</button></a>
                            </div>
                          </div>
                           {% endif %}
                        </div>
                    </div><!-- /.navbar-collapse -->
                    <div class="collapse navbar-collapse loginForMobile" id="bs-example-navbar-collapse-2">

                        {% if current_user.is_anonymous %}
                            <form method="post" name="sign-in" id="sign-in-menu-mobile" action="{{ url_for('user.sign_in') }}">
                            {{ login_form.csrf_token }}
                            {{ render_field(login_form.email) }}
                            {{ render_field(login_form.password) }}

                            {{ render_submit('Log in') }}
                            <ul class='list-unstyled' id='dropmenu-list'>
                                <li><a href="{{ url_for('user.sign_up')}}">{{_('Register account')}}</a></li>
                                <li><a href="{{ url_for('user.request_password')}}">{{_('Forgot password?')}}</a></li>
                            </ul>
                            </form>

                        {% else %}

                            <img src="{{ UserAPI.avatar(current_user) }}" alt="..." id="userImageMobile" class="img-rounded">
                            <div id="userInformationMobile">
                                <p>{{ current_user.name }}</p>
                                <p>{{ current_user.email }}</p>
                                <p><a href="{{ url_for('user.view_single', user_id=current_user.id) }}">Profiel weergeven</a></p>
                            </div>
                            <div id="logoutButtonContainerMobile">
                                <a href="{{ url_for('user.sign_out') }}"> <button class="btn btn-primary fullWidth" >uitloggen</button></a>
                            </div>

                       {% endif %}



                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
    </nav>
    </header>

