{% extends "base.htm" %}

{%block page %}
    <fieldset>
        <legend>{{_('Edit')}} '{{examination.title}}'</legend>

        <form method=post enctype=multipart/form-data>
            <div class='form-group'>
                {{_('Date')}}
                <input type=text name=title value="{{examination.title}}" class='form-control'>
            </div>

            <div class='form-group'>
                {{_('Course')}}
                <select name=course class='form-control'>
                    {% for course in courses %}
                        <option value="{{ course.id }}" {% if course.id == examination.course_id %}selected="selected"{% endif %}>
                            {{course.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                {{_('Examination kind')}}
                <select name='test_type' class='form-control examination kind'>
                    {% for type_key, type_name in test_types.items() %}
                        <option value="{{ type_key }}" {% if type_key == examination.test_type %}selected="selected"{% endif %}>
                            {{type_name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                <a href="/course/add" class="btn btn-default">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <strong>{{_('New')}}</strong>
                </a>
            </div>

            <div class='form-group'>
                {{_('Education')}}
                <select name=education class='form-control'>
                    {% for education in educations %}
                    <option value="{{ education.id }}"
                    {% if education.id == examination.education_id %}selected="selected"{% endif %}>
                            {{education.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class='form-group'>
                <a href="/education/add" class="btn btn-default">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <strong>{{_('New')}}</strong>
                </a>
            </div>

            <div class='form-group'>
                <label>{{_('Examination')}}</label>
                ({{_('Current')}}: {{ examination.path }})
                <input type=file name=file class='form-control' />
            </div>

            <div class='form-group'>
                <label>{{_('Answers')}}</label>
                ({{_('Current')}}: {{ examination.answer_path }})
                <input type=file name=answers class='form-control' />
            </div>

            <input type=submit value={{_('Submit')}} class='btn btn-primary' />
        </form>
    </fieldset>
{% endblock %}
