{% extends "base.htm" %}

{% block page %}

	 <div class='row'>
	        <div class='col-md-12'>
	            <div class="alert alert-danger">
	                    <label>{{ _('Disclaimer') }}</label>:
	            {{ _('The answers provided here are not the official answers and are not guaranteed to be correct.') }}
            </div>
        </div>
    </div>

{% if doc_type == 'exam' %}
	<iframe src="{{ path + exam.path }} " height="600px" width="100% ></iframe>
{% elif doc_type == 'answers' %}
	<iframe src="{{ path + exam.answer_path }}" height="600px" width="100% ></iframe>
{% else %}
	abort(404)
{% endif %}

{% endblock %}