{% from 'macros/pagination.htm' import render_pagination %}

{% extends 'base.htm' %}

{% block page %}
<h1>{{ _('Examinations') }}</h1>

    <div class='row'>
        <div class='col-md-12'>
            <form method='get' action='{{ url_for('examination.view_examination') }}' enctype=multipart/form-data class='form-horizontal' >
                <div class='form-group'>
                    <div class='col-md-8'>
                        <div class="input-group">
                            <input
                                name='search' id='search'
                                class='form-control' type='text'
                                placeholder='{{ _('Search') }}'
                                value='{{search}}'
                                onkeypress='searchKeyPress(event);' />
                            <span class="input-group-btn">
                            <button type='submit' class='btn btn-primary'>
                                <i class='glyphicon glyphicon-search' id='submit'></i>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if ModuleAPI.can_write('examination') %}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group btn-group">
                <a href='/examination/add' class='btn btn-success'>
                    <i class='glyphicon glyphicon-pencil'></i>
                    <span>{{ _('New examination') }}</span>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <i class='glyphicon glyphicon-plus'></i>
                        <span class="hidden-xs">{{ _('Add') }}</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href='/course/add?redir=view' class='dropdown-item'>
                                {{ _('Course') }}
                            </a>
                        </li>
                        <li><a href='/education/add?redir=view' class='dropdown-item'>
                                {{ _('Education') }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class='glyphicon glyphicon-list'></i>
                        <strong class="hidden-xs">{{ _('View') }}</strong>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href='/courses' class='dropdown-item'>
                                {{ _('Courses') }}
                            </a>
                        </li>
                        <li><a href='/educations' class='dropdown-item'>
                                {{ _('Educations') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class='table table-bordered table-striped'>
            <thead>
                <tr>
                    <th>{{ _('Education') }}</th>
                    <th>{{ _('Course') }}</th>
                    <th>{{ _('Examination')}}</th>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Comment') }}</th>
                    <th>{{ _('Answers') }}</th>
                    {% if ModuleAPI.can_write('examination') %}
                    <th>{{ _('Edit') }}</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% if examinations == None %}
                    <tr>
                        <td valign="top" colspan="9">
                            {{ _('No examinations found') }}
                        </td>
                    </tr>
                {% else %}
                {% for examination in examinations.items %}
                    <tr>
                        <td>
                            <a href='/examination?search={{ (examination.education.name) }}'>{{ examination.education.name }}</a>
                        </td>
                        <td>
                            <a href='/examination?search={{ (examination.course.name) }}'>{{ examination.course.name }}</a>
                        </td>
                        <td>
                            {% if examination.test_type not in test_types %}
                            {{ test_types['Unknown'] }}
                            {% else %}
                            {{ test_types[examination.test_type] }}
                            {% endif %}
                        </td>
                        <td>
                            <a href='{{ path + examination.path }}' target='_blank' style="white-space: nowrap">
                                <i class='glyphicon glyphicon-cloud-download'></i>
                                {% if examination.date %}
                                    {{ examination.date }}
                                {%- else -%}
                                    ({{ _('Date unknown') }})
                                {%- endif -%}
                            </a>
                        </td>
                        <td>
                            {%- if examination.comment -%}
                                {{ examination.comment }}
                            {%- endif -%}
                        </td>
                        <td>
                            {% if examination.answer_path and examination.answer_path != '1' %}
                            <a href='{{ path + examination.answer_path }}' target='_blank'><i class='glyphicon glyphicon-file'></i>{{ _('Answers') }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        {% if ModuleAPI.can_write('examination') %}
                            <td>
                                <a href='{{ url_for('examination.edit', exam_id=examination.id) }}'><i class='glyphicon glyphicon-pencil'></i></a>
                                <a onclick='confirmation({{examination.id}})' role='button' data-toggle='modal' style='cursor: pointer;'><i class='glyphicon glyphicon-remove'></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if examinations != None %}
    {{ render_pagination(examinations, 'examination.view_examination', '?search=' + search) }}
    {% endif %}
<script>
function searchKeyPress(e)
{
    // look for window.event in case event isn't passed in
    if (typeof e == 'undefined' && window.event) { e = window.event; }
    if (e.keyCode == 13)
    {
        document.getElementById('submit').click();
    }
}

function confirmation(id) {
    var answer = confirm("{{ _("Are you sure you want to delete this exam?") }}")
    if (answer){
        window.location = '?search={{ search }}&delete='+id;
    }
    else{
    }
}
</script>

{% endblock %}
