{% from "macros/flash.htm" import render_flash %}

<!DOCTYPE html>
<html>
    <head>
        <title>Studievereniging VIA - {% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="http://svia.nl/static/img/via.png" rel="image_src" /> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href='/static/css/timepicker.css' rel='stylesheet'>
        <link href='/static/css/datepicker.css' rel='stylesheet'>
        <link href='/static/css/bootstrap-editable.css' rel='stylesheet'>


        <link href="/static/css/custom.css" rel="stylesheet" />

        <script src="/static/js/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        
        <script src="/static/js/analytics.js"></script>
        <script src="/static/js/throttle.js"></script>
        <script src="/static/js/jquery.expander.min.js"></script>
        <script src="/static/js/confirmation.js"></script>
        <script src="/static/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script src='/static/js/timepicker.js'></script>
        <script src='/static/js/flash.js'></script>
        <script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="/static/js/sprintf.min.js"></script>
        <script src="/static/js/jquery.insert-at-caret.js"></script>
        <script src='/static/js/datepicker.js'></script>
        <script src='/static/js/bootstrap-editable.min.js'></script>
        <script src="/static/js/jquery-carousel.js"></script>
        <script src="/static/js/custom.js"></script>
        <script src="/static/js/footer.js"></script>

        <!-- <script src="http://localhost/handiger/handiger.js"></script> -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>
        {{ NavigationAPI.get_navigation_bar()|safe }}
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="messages">
                    {{ render_flash() }}
                </div>
            </div>

            {% block page %}
            {% endblock %}
            {{ PageAPI.get_footer()|safe }}
        </div>
        
            <!-- <div class="row">
                <div id="carousel">
                    <div class="col-md-2 logo_wrapper"><a href="http://www.copernica.com/nl/over-ons/vacatures"><img class="logo_img" src="/static/img/sponsors/copernica.png" alt="copernica" /></a>
                        <a href="http://www.copernica.com/nl/over-ons/vacatures"><span>Copernica</span></a>
                    </div>
                    <div class="col-md-2 logo_wrapper"><a href="http://www.onehippo.com/"><img class="logo_img" src="/static/img/sponsors/hippo.png" alt="hippo" /></a>
                        <a href="http://www.onehippo.com/"><span>Hippo</span></a>
                    </div>
                    <div class="col-md-2 logo_wrapper"><a href="http://www.werkenbijquinity.nl/welkom"><img class="logo_img" src="/static/img/sponsors/quinity.png" alt="quinity" /></a>
                        <a href="http://www.werkenbijquinity.nl/welkom"><span>Quinity</span></a>
                    </div>
                    <div class="col-md-2 logo_wrapper"><a href="http://www.ireckon.nl/"><img class="logo_img" src="/static/img/sponsors/ireckon.png" alt="ireckon" /></a>
                        <a href="http://www.ireckon.nl/"><span>iReckon</span></a>
                    </div>
                    <div class="col-md-2 logo_wrapper"><a href="http://www.micompany.nl/"><img class="logo_img" src="/static/img/sponsors/micompany.jpg" alt="micompany" /></a>
                        <a href="http://www.micompany.nl/"><span>Micompany</span></a>
                    </div>
                    <div class="col-md-2 logo_wrapper"><a href="http://www.optiver.com/amsterdam/"><img class="logo_img" src="/static/img/sponsors/optiver.png" alt="fruit6" /></a>
                        <a href="http://www.optiver.com/amsterdam/"><span>Optiver</span></a>
                    </div>
                    <div class="span2 logo_wrapper"><a href="http://www.eitictlabs.eu"><img class="logo_img" src="/static/img/sponsors/eitictlab.jpg" alt="fruit6" /></a>
                        <a href="http://www.eitictlabs.eu"><span>EIT ICT Labs</span></a>
                    </div>
                </div>
            </div>
            <div class="row"> 
            </div> -->
       
        <script src='/static/js/textarea.js'></script>
    </body>
</html>
