{% from "macros/flash.htm" import render_flash %}

<!DOCTYPE html>
<html>
    <head>
        <title>Studievereniging VIA - {% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href='/static/css/timepicker.css' rel='stylesheet'>
        <link href='/static/css/datepicker.css' rel='stylesheet'>
        <link href="/static/css/bootstrap-editable.css" rel="stylesheet">

        <script src="/static/js/bootstrap.min.js"></script>

        <link href="/static/css/custom.css" rel="stylesheet" />

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/analytics.js"></script>
        <script src="/static/js/throttle.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.expander.min.js"></script>
        <script src="/static/js/confirmation.js"></script>
        <script src="/static/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script src='/static/js/timepicker.js'></script>
        <script src='/static/js/flash.js'></script>
        <script src="/static/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="/static/jquery-ui/ui/minified/jquery.ui.sortable.min.js"></script>
        <script src="/static/js/sprintf.min.js"></script>
        <script src="/static/js/jquery.insert-at-caret.js"></script>
        <script src="/static/js/bootstrap-editable.js"></script>
        <script src='/static/js/datepicker.js'></script>
        <script src="/static/js/custom.js"></script>
        <script src="/static/js/jquery-carousel.js"></script>

        <!-- <script src="http://localhost/handiger/handiger.js"></script> -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript">
            $(function() {

                var $c = $('#carousel'),
                    $w = $(".container");

                $c.carouFredSel({
                    align: false,
                    items: 10,
                    scroll: {
                        items: 1,
                        duration: 4000,
                        timeoutDuration: 0,
                        easing: 'linear',
                        pauseOnHover: 'immediate'
                    }
                });

                
                $w.bind('resize.example', function() {
                    var nw = $w.width();
                    if (nw < 990) {
                        nw = 990;
                    }

                    $c.width(nw * 3);
                    $c.parent().width(nw);

                }).trigger('resize.example');

            });
        </script>
        <style type="text/css">
            #carousel {
                margin-top: -100px;
            }
            #carousel div {
                text-align: center;
                width: 200px;
                height: 250px;
                float: left;
                position: relative;
            }
            #carousel div img {
                border: none;
            }
            #carousel div span {
                display: none;
            }
            #carousel div:hover span {
                background-color: #333;
                color: #fff;
                font-family: Arial, Geneva, SunSans-Regular, sans-serif;
                font-size: 14px;
                line-height: 22px;
                display: inline-block;
                width: 100px;
                padding: 2px 0;
                margin: 0 0 0 -50px;
                position: absolute;
                bottom: 30px;
                left: 50%;
                border-radius: 3px;
            }            

            .logo_wrapper img {
                *position: relative; top: -50%;
            }            

            .logo_wrapper {
                display:table; height: 200px; position: relative; overflow: hidden;
            }            

        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/"><img class="logo" src="/static/img/via.png" alt="VIA" /></a>
                </div>
                <div class="span5 offset3">
                    <div class="row"><div class="span4 offset1" id="sublogo">
                        {% block sublogo %}{% endblock %}
                    </div></div>
                    <div class="row"><div class="span5" id="login-info">
                        {% if not current_user or current_user.is_anonymous() %}
                            Niet ingelogd, <a href="{{ url_for('user.sign_in') }}">log in</a> of <a href="{{ url_for('user.sign_up') }}">registreer</a>.
                        {% else %}
                            Ingelogd als <a href="{{ url_for('user.view_single', user_id=current_user.id) }}">{{ current_user.name }}</a>, <a href="{{ url_for('user.sign_out') }}">uitloggen</a>.
                        {% endif %}
                    </div></div>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                        {{ NavigationAPI.get_navigation_bar()|safe }}
                </div>
            </div>

            <div class="row">
                <div class="span12" id="messages">
                    {{ render_flash() }}
                </div>
            </div>

            {% block page %}
            {% endblock %}
<!--             <div class="row sponsors">
                    <div class="span4"><a href="http://www.copernica.com/nl/over-ons/vacatures"><img class="logo_img" src="/static/img/sponsors/copernica.png" alt="Copernica" /></a></div>
                    <div class="span4"><div class="span2"><a href="http://www.onehippo.com/"><img class="logo_img"system src="/static/img/sponsors/hippo.png" alt="Hippo" /></a></div></div>
                    <div class="span4" style="float:right;"><a href="http://www.werkenbijquinity.nl/welkom"><img class="logo_img" src="/static/img/sponsors/quinity.png" alt="Focum" /></a></div>
            </div>
            <div class="row sponsors">
                    <div class="span4"><a href="http://www.ireckon.nl/"><img src="/static/img/sponsors/ireckon.png" alt="iReckon" /></a></div>
                    <div class="span3"><a href="http://www.micompany.nl/"><img src="/static/img/sponsors/micompany.jpg" alt="Micompany" /></a></div>
                    <div class="span4" style="float:right;"><a href="http://www.optiver.com/amsterdam/"><img src="/static/img/sponsors/optiver.png" alt="Optiver" /></a></div>
            </div> -->

            <div class="row">
            <div class="span12" id="wrapper">
                <div id="carousel">
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/copernica.png" alt="copernica" />
                        <span>Copernica</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/hippo.png" alt="hippo" />
                        <span>Hippo</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/quinity.png" alt="quinity" />
                        <span>Quinity</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/ireckon.png" alt="ireckon" />
                        <span>iReckon</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/micompany.jpg" alt="micompany" />
                        <span>Micompany</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/optiver.png" alt="fruit6" />
                        <span>Optiver</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/copernica.png" alt="copernica" />
                        <span>Copernica</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/hippo.png" alt="hippo" />
                        <span>Hippo</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/quinity.png" alt="quinity" />
                        <span>Quinity</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/ireckon.png" alt="ireckon" />
                        <span>iReckon</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/micompany.jpg" alt="micompany" />
                        <span>Micompany</span>
                    </div>
                    <div class="logo_wrapper">
                        <img class="logo_img" src="/static/img/sponsors/optiver.png" alt="fruit6" />
                        <span>Optiver</span>
                    </div>
                </div>
            </div>
		</div>


    <script src='/static/js/textarea.js'></script>

    </body>
</html>
