{% from "macros/flash.htm" import render_flash %}

<!DOCTYPE html>
<html>
	<head>
		<title>Studievereniging VIA - {% block title %}{% endblock %}</title>

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href='/static/css/timepicker.css' rel='stylesheet'>
		<link href='/static/css/datepicker.css' rel='stylesheet'>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/bootstrap-editable.css" rel="stylesheet">


		<link href="/static/css/custom.css" rel="stylesheet" />

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/throttle.js"></script>
		<script src="/static/js/jquery.expander.min.js"></script>
		<script src="/static/js/confirmation.js"></script>
		<script src="/static/js/twitter-bootstrap-hover-dropdown.min.js"></script>
		<script src='/static/js/datepicker.js'></script>
		<script src='/static/js/timepicker.js'></script>
		<script src='/static/js/flash.js'></script>
		<script src="/static/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="/static/jquery-ui/ui/minified/jquery.ui.sortable.min.js"></script>
		<script src="/static/js/sprintf.min.js"></script>
		<script src="/static/js/jquery.insert-at-caret.js"></script>
		<script src="/static/js/bootstrap-editable.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/afs_overlay/js.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="span4">
					<a href="/"><img class="logo" src="/static/img/via.png" alt="VIA" /></a>
				</div>
				<div class="span5 offset3">
					<div class="row"><div class="span4 offset1" id="sublogo">
						{% block sublogo %}{% endblock %}
					</div></div>
					<div class="row"><div class="span5" id="login-info">
						{% if not current_user or current_user.is_anonymous() %}
							Niet ingelogd, <a href="{{ url_for('user.sign_in') }}">log in</a> of <a href="{{ url_for('user.sign_up') }}">registreer</a>.
						{% else %}
							Ingelogd als <a href="{{ url_for('user.view_single', user_id=current_user.id) }}">{{ current_user.name }}</a>, <a href="{{ url_for('user.sign_out') }}">uitloggen</a>.
						{% endif %}
					</div></div>
				</div>
			</div>

			<div class="row">
				<div class="span12">
						{{ NavigationAPI.get_navigation_bar()|safe }}
				</div>
			</div>

			<div class="row">
				<div class="span12" id="messages">
					{{ render_flash() }}
				</div>
			</div>

			{% block page %}
			{% endblock %}

			<div class="row sponsors">
					<div class="span3"><a href="http://www.copernica.com/nl/over-ons/vacatures"><img src="/static/img/sponsors/copernica.png" alt="Copernica" /></a></div>
					<div class="span3"><a href="http://www.werkenbijquinity.nl/welkom"><img src="/static/img/sponsors/quinity.png" alt="Focum" /></a></div>
					<div class="span3"><a href="http://www.optiver.com/amsterdam/"><img src="/static/img/sponsors/optiver.png" alt="Focum" /></a></div>
					<div class="span3"><a href="http://www.focum.nl/"><img src="/static/img/sponsors/focum.png" alt="Focum" /></a></div>
			</div>
		</div>

	<script src='/static/js/textarea.js'></script>

	</body>
</html>
