{% from "macros/form.htm" import render_button, render_checkbox, render_field %}

{% extends "content.htm" %}


{% block content %}

<h2> {{ current_category_name }} </h2>

<h3>Categories:</h3>
	<ul>
		{% for category in categories%}
			<li> <a href='{{ url_for('category.category_page',
cat=category.name) }}'> {{ category.name }} </a> </li>
		{% endfor %}
	</ul>

<h3>Pages:</h3>
	<ul>
		{% for page in pages %}
			<li> <a href='{{ url_for('page.get_page', path=page.path) }}'> {{
page.path}} </a> </li>
		{% endfor %}
	</ul>

{% endblock %}
