{% from "macros/form.htm" import render_submit, render_field %}
{% extends "content.htm" %}

{% block content %}
    <div class='row'>
        <div class='col-sm-12'>
            <h1>
                {{ _('Search Engine Optimization') }}
            </h1>
        </div>
    </div>

    <form method="post" id="edit_seo">
        <fieldset>
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#lang_dutch">
                                        {{_('Dutch details') }}
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#lang_english">
                                        {{ _('English details') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="lang_dutch" class="tab-pane fade in active">
                                    {{ render_field(form.nl_title) }}
                                    {{ render_field(form.nl_description) }}
                                    {{ render_field(form.nl_tags) }}
                                </div>
                                <div id="lang_english" class="tab-pane fade">
                                    {{ render_field(form.en_title) }}
                                    {{ render_field(form.en_description) }}
                                    {{ render_field(form.en_tags) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-12'>
                    {{ render_submit(_('Save')) }}
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
