.select2-sortable {
    .select2-container-multi .select2-choices .select2-search-choice {
      cursor: move;
    }

    .select2-container {
      display: block;
      width: 100%;
    }

    .select2-choices {
      border-radius: 0px;
    }

    .select2-container-multi .select2-choices {
      padding: 0px;
      padding-right: 5px;
    }

    .select2-drop {
      border-radius: 0px;
    }

    .select2-container-multi .select2-choices .select2-search-choice {
      width: 100%;
      margin: 2px;
      padding: 10px 10px 10px 30px;
    }

    .select2-container-multi .select2-search-choice-close {
      left: 10px;
    }

    .select2-results .select2-highlighted {
      background: #2f73b6;
    }

    .select2-search-choice div {
        display: inline;
    }

    .select2-search-choice::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        content: '\f0c9';
        float: left;
        margin-right: 10px;
    }

    .drag-handle {
        float: right;
    }
}
