{% from 'macros/form.htm' import render_form %}
{% extends 'content.htm' %}

{% block includes %}
    <script src="{{ static_url('/static/js/committee/edit.js') }}"></script>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-sm-12'>
            <h1>
                {% if page.id %}
                    {{ _('Edit') }}
                {% else %}
                    {{ _('Create')}}
                {% endif %}
                {{ _('committee') }}
            </h1>
        </div>
    </div>

    {{ render_form(form) }}

{% endblock %}
