{% extends 'content.htm' %}

{% block content %}
    <h2>{{_('Committees')}}</h2>
    <p>
        <div class="panel panel-default">
            <ul class="list-group">
                {% for rev in revisions %}
                    <a href='/{{ rev.page.path }}' class="list-group-item">
                        <div class="name"> {{ rev.title }} </div>
                        {% if rev.open_new_members %}<div class="comment" >zoekt nieuwe leden!</div>{% endif %}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </p>
{% endblock %}
