{% set User = context['User'] %}
{% extends 'page/view_super.htm' %}

{% block page_title %}{{_('Committee')}} - {{ revision.title }}{% endblock %}

{% block page_content %}
    <p>
        Coördinator:
        {% if revision.interim %}
            <a href="mailto:sollicitatie@svia.nl" class='btn btn-danger btn-xs'>
                <i class="fa fa-envelope"></i> {{_('Position vacant')}}
            </a>
        {% else %}
            {{ revision.coordinator.name }}
        {% endif %}
        {% if revision.interim %}
            <br />{{_('Interim-coördinator')}}: {{ revision.coordinator.name }}
        {% endif %}
        {% if revision.group.maillist is not none %}<br />Email: <a href="mailto:{{revision.group.maillist}}@svia.nl">{{ revision.group.maillist }}@svia.nl</a>{% endif %}
        {% if revision.open_new_members %}
        <p>
            <strong>{{ _('Looking for new members') }}!</strong> <br />
            {{ _('Would you like to join this committee?') }} {{ _('Send an email') }}
            {% if revision.group.maillist is not none %} {{ _('to') }} <a href="mailto:{{revision.group.maillist}}@svia.nl">{{revision.group.maillist}}@svia.nl</a> {% endif %}
        </p>
        {% endif %}
    </p>
    <hr />
    {{ revision.description | strip_tags('script', 'link', 'style', 'video', 'audio') | strip_attrs('style', 'onclick', 'onload') | markdown }}
    <hr />
    <p>
        {{_('Committee members')}}:
        <ul>
            {% for member in revision.group.users.order_by(User.first_name, User.last_name).all() %}
                <li>
                    <a href="{{ url_for('user.view_single', user_id=member.id) }}">
                        {{member.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
