{% macro user_fields(user) %}

<div id="custom_form_user">
<div class="control-group">
	<label class="content-label">Voornaam</label>

	<div class="controls">
		<input type="text" class="span6" name="first_name" value="{{ user.first_name }}">
	</div>
</div>


<div class="control-group">
	<label class="content-label">Achternaam</label>

	<div class="controls">
		<input type="text" class="span6" name="last_name" value="{{ user.last_name }}">
	</div>
</div>


<div class="control-group">
	<label class="content-label">Email</label>

	<div class="controls">
		<input type="text" class="span6" name="email" value="{{ user.email }}">
	</div>
</div>

<div class="control-group">
	<label class="content-label">Telefoon nummer</label>

	<div class="controls">
		<input type="text" class="span6" name="phone_nr" value="{{ user.phone_nr }}">
	</div>
</div>
</div>
{% endmacro %}
