{% macro render_formbuilder() %}

<script src="/static/js/formbuilder.js"></script>

<div class="row-fluid">
  <div id="listOfFields" class="span3 well">
    <div class="selectorField draggableField ui-draggable">
      <label class="control-label">Text Input</label>
      <input type="text" placeholder="Text here..." name="field" class="ctrl-textbox">
    </div>
    <hr>
    <div class="selectorField draggableField ui-draggable">
      <label class="control-label">Textarea</label>
      <textarea type="text" placeholder="Textfield" class="ctrl-textareabox"></textarea>
    </div>
    <hr>
    <div class="selectorField draggableField ui-draggable">
      <label class="control-label">Combobox</label>
      <select class="ctrl-combobox">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </div>
    <hr>
    <div class="selectorField draggableField radiogroup ui-draggable">
			<label class="control-label" style="vertical-align:top">Radio buttons</label>
			<div style="display:inline-block;" class="ctrl-radiogroup">
				<label class="radio"><input type="radio" name="radioField" value="option1">Option 1</label>
				<label class="radio"><input type="radio" name="radioField" value="option2">Option 2</label>
				<label class="radio"><input type="radio" name="radioField" value="option3">Option 3</label>
			</div>
		</div>
    <hr>    
		<div class="selectorField draggableField checkboxgroup ui-draggable">
			<label class="control-label" style="vertical-align:top">Checkboxes</label>
			<div style="display:inline-block;" class="ctrl-checkboxgroup">
				<label class="checkbox"><input type="checkbox" name="checkboxField" value="option1">Option 1</label>
				<label class="checkbox"><input type="checkbox" name="checkboxField" value="option2">Option 2</label>
				<label class="checkbox"><input type="checkbox" name="checkboxField" value="option3">Option 3</label>
			</div>
		</div>
    <hr>
		<div class="selectorField draggableField selectmultiple ui-draggable">
			<label class="control-label" style="vertical-align:top">Select multiple</label>
			<div style="display:inline-block;">
				<select multiple="multiple" style="width:150px" class="ctrl-selectmultiplelist">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3">Option 3</option>
				</select>
			</div>
		</div>
  </div>
  
  <div class="span8" id="selected-content">
    <div class="row-fluid" id="form-title-div">
      <input type="text" class="input-large span12" placeholder="Type form title here" id="form-title">
    </div>
    
    <div class="row-fluid">
      <div id="selected-column-1" class="span12 well droppedFields ui-droppable ui-sortable"></div>
      <br>
      <input type="button" class="btn btn-primary" value="Preview" onclick="preview();">
  </div>
</div>

<script src="/static/js/jquery-ui.min.js"></script>

<script id="control-customize-template" type="text/x-handlebars-template">
	<div class="modal-header">
		<h3>{{header}}</h3>
	</div>
	<div class="modal-body">
	
	<form id="theForm" class="form-horizontal">
			<input type="hidden" value="{{type}}" name="type"></input>
			<input type="hidden" value="{{forCtrl}}" name="forCtrl"></input>
			<p><label class="control-label">Label</label> <input type="text" name="label" value=""></input></p>
			<p><label class="control-label">Name</label> <input type="text" value="" name="name"></input></p>
			{{ content }}
		</form>
	</div>
  
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" onclick='save_customize_changes()'>Save changes</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick='delete_ctrl()'>Delete</button>
	</div>  
</script>

<script id="textbox-template" type="text/x-handlebars-template">
	<p><label class="control-label">Placeholder</label> <input type="text" name="placeholder" value=""></input></p>
</script>

<script id="combobox-template" type="text/x-handlebars-template">
	<p><label class="control-label">Options</label> <textarea name="options" rows="5"></textarea></p>
</script>

<script>
	$(document).ready(docReady); 
</script>

{% endmacro %}