{% macro render_field(field) %}
	<div class="form-group">
        {{ field.label }}
        {{ field(placeholder=field.label.text, class='form-control') }}
	</div>
{% endmacro %}

{% macro render_button(field, cls='btn btn-default') %}
    {{ field(class=cls) }}
{% endmacro %}

{% macro render_submit(text) %}
    <button class='btn btn-primary' type='submit'>{{ text }}</button>
{% endmacro %}

{% macro render_checkbox(field) %}
    <div class="checkbox">
        <label>
            {{ field }} {{ field.label.text }}
        </label>
    </div>
{% endmacro %}

{% macro render_textarea(field) %}
	<div class="form-group">
		{{ field.label }}
        {{ field(placeholder=field.label.text, class='form-control') }}
	</div>
{% endmacro %}

{% macro render_datefield(field) %}
	<div class="form-group">
		{{ field.label }}
        {{ field(class='form-control', **{'data-date-format': 'yyyy-mm-dd'}) }}
	</div>
{% endmacro %}

{% macro render_datefield_picker(field) %}
	<div class="form-group">
		{{ field.label }}
        {{ field(class='form-control', **{'data-date-format': 'yyyy-mm-dd'}) }}
    </div>

    <script>$('#' + "{{ field.id }}").datepicker();</script>
{% endmacro %}

{% macro render_select(field) %}
	<div class="form-group">
		{{ field.label }}
        {{ field(class='form-control') }}
	</div>
{% endmacro %}

{% macro render_file(field) %}
	<div class="form-group">
		{{ field.label }}
        {{ field(class='form-control') }}
	</div>
{% endmacro %}
