{% macro render_map(width, height, address) %}

	<style>
	  #map-canvas { width:100%; height: {{ height }}px; }
	</style>

	<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtbv4xNquOEZhyX_Szi5wNme7n49zaiw4&sensor=true">
	</script>

  <script>
    var latlong = new google.maps.LatLng(0, 0);

		function initialize() {
			var mapOptions = {
				center: latlong,
				zoom: 14,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			var map = new google.maps.Map(document.getElementById("map-canvas"),
				  mapOptions);

			var marker = new google.maps.Marker({
				position: latlong,
				map: map,
				title:"{{ address }}"
			});
		}

		$(function() {
			var loaded = false;

			$("#acc").click(function() {
				if (!loaded) {
					$.get("http://maps.googleapis.com/maps/api/geocode/json?address={{ address }}&sensor=false",
						function(data) {
							if (! data.results)
								data = JSON.parse(data);
					
							loc = data.results[0].geometry.location;
							latlong = new google.maps.LatLng(loc.lat, loc.lng);
							initialize();
						}
					);
					loaded = true;
				}
			});
    });
  </script>

  <div id="map-canvas"></div>
{% endmacro %}
