{% from 'macros/pagination.htm' import render_pagination %}

{% extends 'content.htm' %}

{% block content %}
	{% if GroupPermissionAPI.can_write('location') %}
		<p><a class="btn" href="{{ url_for('location.view') }}">Nieuwe locatie</a></p>
	{% endif %}

	<div class="container">
		<div class="row">
			<div class="col-md-12	">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Adres</th>
							<th>Post adres</th>
							<th>Telefoon</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						{% for location in locations.items %}
						<tr>
							<td><a href="{{ url_for('location.view', location_id=location.id) }}">{{ location.address }}, {{location.zip}} {{ location.city }}</a></td>
							<td>{{location.postoffice_box}}</td>
							<td>{{location.phone_nr}}</td>
							<td><a target="blank_" href="mailto:{{location.email}}">{{location.email}}</a></td>
						</tr>
						{% endfor %}
					</tbody>
			</table>
			</div>
		</div>
	</div>
	{{ render_pagination(locations, 'location.list') }}
{% endblock %}
