{% extends "content.htm" %}

{% block content %}
<div class="mainblock">
<h1>Transactions</h1>
{% if test: %}
<h2>Test mode enabled</h2>
<h3>{{ key }}</h3>
<h3>{{ message }}</h3>
{% endif %}
<table class="table">
<tr>
<td>id
<td>mollie_id
<td>user
<td>amount
<td>status
<td>
{% for transaction in transactions: %}
<tr>
    <td>{{ payment['metadata']['transaction_id'] }}</td>
    <td>{{ payment['id'] }}</td>
    <td>{{ payment['metadata']['first_name'] }} {{ payment['metadata']['last_name'] }}</td>
    <td>{{ payment['amount'] }}</td>
    <td>{{ payment['status'] }}</td>
<td><a href="{{ config.MOLLIE_REDIRECT_URL }}{{ payment['metadata']['transaction_id'] }}" class="btn btn-default">check status</a>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
