{% extends "content.htm" %}

{% block content %}
<div class="mainblock">
<h1>Transactions</h1>
<table class="table">
<tr>
<td>id
<td>mollie_id
<td>user
<td>amount
<td>status
<td>
{% for transaction in transactions: %}
<tr>
<td>{{ transaction.id }}
<td>{{ transaction.mollie_id }}
<td>{{ transaction.user.first_name }} {{ transaction.user.last_name }}
<td>{{ transaction.amount }}
<td>{{ transaction.status }}
<td><a href="{{ config.MOLLIE_REDIRECT_URL }}{{ transaction.id }}" class="btn btn-default">check status</a>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
