{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_field, render_button, render_textarea, render_datefield_picker, render_select %}


{% extends "content.htm" %}


{% block content %}
<script>
 	var user_id = {{current_user.id}}
</script>
	<div class="container">
	<div class="col-md-12">
	{% if GroupPermissionAPI.can_write('company') %}
	<form id="edit_challenge">
		<fieldset>
			<legend>Challenge aanmaken</legend>

			{{ form.csrf_token }}

			{{ render_field(form.name) }}
			{{ render_field(form.hint) }}
			{{ render_textarea(form.description) }}
			{{ render_datefield_picker(form.start_date) }}
			{{ render_datefield_picker(form.end_date) }}
			{{ render_field(form.weight) }}
			{{ render_field(form.answer) }}

			{{ render_button(form.submit) }}
		</fieldset>
	</form>
	{% endif %}
	<br />
	<br />
        <li class="list-group-item">
            <div class="col-xs-12 col-sm-2">
                <h2>{{counter}}</h2>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h3 class="name">{{current_user.name}}</h3><br/>
            </div>                        
			<div class="col-xs-12 col-sm-1">
                <h3 class="name"><span id="user_points">{{user_points}}</span></h3><br/>
            </div>
            <div class="clearfix"></div>
        </li>
    
	<div  class="row">
		<div class="col-md-12">
		<h1> Open challenges </h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			<div class="col-md-1"><h4>punten</h4></div>

			<div class="col-md-3"><h4>Titel</h4></div>
			<!-- <div class="col-md-2"><h4>Werklast</h4></div> -->
			<div class="col-md-5"><h4>Beschrijving</h4></div>
			<div class="col-md-3"><h4>Antwoord</h4></div>
			</div>
		</div>
	</div>
	<hr>
		{% for challenge in challenges %}
		<div style="cursor:pointer;" class="row challenge_todo">
			<div class="col-md-12">
				<div class="row">
				<div class="col-md-1 challenge_weight">{{challenge.weight}}</div>
				<div class="col-md-3 challenge_name">{{challenge.name}}</div>
				<!-- <div class="col-md-2"><a class="search_click" href="?search={{challenge.workload}}" >{{challenge.workload}}</a></div> -->
				<div class="col-md-5 challenge_description">{{challenge.description}}</div>
				<div class="col-md-3">
					<form class="challenge_submission" via-challenge-id="{{challenge.id}}" id="challenge_{{challenge.id}}">
						<input class="submission">
						<input type="submit" style="display:none;">
					</form>
				</div>
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}
		<div  class="row">
			<div class="col-md-12">
			<h1> Gedaan </h1>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
				<div class="col-md-1"><h4>punten</h4></div>

				<div class="col-md-5"><h4>Titel</h4></div>
				<!-- <div class="col-md-2"><h4>Werklast</h4></div> -->
				<div class="col-md-6"><h4>Beschrijving</h4></div>
				</div>
			</div>
		</div>
		<hr id="before_done_challenges">
		{% for challenge in approved_challenges %}
		<div class="row challenge_done">
			<div class="col-md-12">
				<div class="row">
				<div class="col-md-1 challenge_weight">{{challenge.weight}}</div>
				<div class="col-md-5 challenge_name">{{challenge.name}}</div>
				<!-- <div class="col-md-2"><a class="search_click" href="?search={{challenge.workload}}" >{{challenge.workload}}</a></div> -->
				<div class="col-md-6 challenge_description">{{challenge.description}}</div>
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}

		</tbody>
	</table>

	</div>
	</div>
	<div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">Ranking</span>
                </div>
                
                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                
                <ul class="list-group" id="contact-list">
	                {% set counter = 1 -%}
					{% for user in ranking %}
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-2">
                            <h2>{{counter}}</h2>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h3 class="name">{{user.user.name}}</h3><br/>
                        </div>                        
						<div class="col-xs-12 col-sm-2">
                            <h3 class="name">{{user.points}}</h3><br/>
                        </div>
                        <div class="clearfix"></div>
                    </li>
		                {% set counter = counter + 1 %}
					{% endfor %}

                </ul>
            </div>
        </div>
	</div>
<script src='/static/js/challenges/api.js'></script>
<script>
$( document ).ready(function() {

	/* Prevent the expand function being called when clicking on a link */
    $( document).on('click', 'a.search_click', function(e){
    	e.preventdefaults();
    	document.location.href=$(this).attr("href");
    });
});
</script>


{% endblock %}