{% from "macros/form.htm" import render_field, render_button, render_submit %}

{% extends "content.htm" %}

{% block includes %}
    <script src={{static_url("/static/js/formbuilder.js")}}></script>
    <script>
        $(document).ready(function() {
            $('#formbuilder').formbuilder();

                // On load get the origin original data for edits
                $("textarea[name='origin']")
                    .val($("input[name='origin_holder_for_edits']").val())
                    .trigger('keyup');

        });
    </script>
{% endblock %}
{% block content %}


<form method="post">
    {{ form.csrf_token }}

    <h1>Eigen formulier</h1>
    <p><strong>LET OP</strong> automatisch wordt van de gebruiker het volgende
    gevraagd:

    <ol>
        <li>Naam</li>
        <li>Email</li>
        <li>Studentennummer</li>
        <li>Opleiding</li>
    </ol>

    <hr>

    {{ render_field(form.name) }}
    {{ render_field(form.max_attendants) }}
    {{ render_field(form.price) }}
    {{ render_field(form.msg_success) }}
    {{ render_field(form.terms) }}

    <input type="hidden" name="origin_holder_for_edits" value="{{ form.origin.data }}">

    <div id="formbuilder"></div>

    {{ render_submit(_('Submit')) }}
</form>

{% endblock %}
