{% extends "content.htm" %}

{% block content %}

<h1>Inzendingen <small>'{{ custom_form.name }}'</small></h1>

{% if custom_form.results %}
<table class="table">
	<tr>
        <th>Gebruiker</th>
        <th>Email</th>
        <th>Tel nr.</th>
        <th>Formulier data</th>
    </tr>

	{% for result in custom_form.results %}
		<tr>
            <td>{{ result.owner.name }}</td>
            <td>{{ result.owner.email }}</td>
            <td>{{ result.owner.phone_nr }}</td>
            <td>{{ result.form_entry|safe }}</td>
        </tr>
	{% endfor %}
</table>

{% else %}
<p>Er zijn nog geen resultaten om te tonen
{% endif %}

{% endblock %}
