{% from "macros/form.htm" import render_checkbox, render_submit, render_field %}

{% extends "content.htm" %}

{%block content %}
    <h1>{{ _('Change your email preferences') }}</h1>
    {% if len(form.subscriptions) > 0 %}
        <form action="" method="POST">
            <div class="col-md-12">
            {{ form.csrf_token }}
            <h3> {{ _('Enter your e-mail adress') }} </h3>
            {{ render_field(form.email) }}
            {% for subscription in form.subscriptions %}
            <h4>{{ subscription.mailing_list_name.data }}</h4>
                {{ subscription.csrf_token }}
                {{ subscription.mailing_list_id }}
                {{ render_checkbox(subscription.subscribed) }}
            {% endfor %}
        </div>
        <div class="col-md-12">
            {{ render_submit(_('Update')) }}
        </div>
    </form>
    {% else %}
        <h3> {{ _('There are currently no public mailinglists') }} </h3>
    {% endif %}
{% endblock %}
