{% from "macros/form.htm" import render_field %}

{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="edit" class="form-horizontal" enctype="multipart/form-data" >
	<fieldset>
		<legend>{% if user.id %}Bewerk{% else %}Maak{% endif %} lid</legend>

		{{ form.csrf_token }}
		{{ render_field(form.email) }}

			{{ render_field(form.password) }}
			{{ render_field(form.repeat_password) }}

		{{ render_field(form.first_name) }}
		{{ render_field(form.last_name) }}

		{{ render_field(form.student_id) }}
		{{ render_field(form.education_id) }}
		{{ render_field(form.avatar) }}


		{% if isAdmin %} {{render_field(form.has_payed) }} {% endif %}

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">{% if user.id %}Bewerk{% else %}Maak{% endif %} lid</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
