{% from "macros/form.htm" import render_field %}

{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="sign_up" class="form-horizontal">
	<fieldset>
		<legend>{% if user.id %}Edit{% else %}Create{% endif %} user</legend>

		{{ form.csrf_token }}
		{{ render_field(form.email) }}

		{% if not user.id %}
			{{ render_field(form.password) }}
			{{ render_field(form.repeat_password) }}
		{% endif %}

		{{ render_field(form.first_name) }}
		{{ render_field(form.last_name) }}

		{% if user.id %}{{ render_field(form.has_payed) }}{% endif %}

		{{ render_field(form.student_id) }}
		{{ render_field(form.education_id) }}

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">{% if user.id %}Edit{% else %}Create{% endif %} user</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
