<div id='membership_warning'>
    <div>
        <p>
            {{_('Welcome')}}, {{ current_user.first_name }}! {{_('Unfortunately it is currently unclear to us if you are a member of <strong>via</strong>. This is probably due to not having paid your member contribution. You can pay for your contribution by oredering this along with your books, or you could pass the <strong>via</strong>-room by.')}}
        </p>
        <p>
            {{_('We\'d be delighted to help if you have any further questions. You can contact us by sending an e-mail to:<em>bestuur (at) svia (dot) nl</em>.')}}
        </p>
    </div>
</div>
