<div id='membership_warning'>
    <div>
        <p>
            Gegroet, {{ current_user.name }}! Helaas is het voor ons onduidelijk of
            je lid van <strong>via</strong> bent. Dit komt waarschijnlijk omdat
            je nog niet hebt betaald voor je lidmaatschap. Je kan je lidmaatschap
            betalen door dit bij de boekenverkoop bij te bestellen of even langs
            de <strong>via</strong>-kamer te komen.
        </p>
        <p>
            Mocht je verdere problemen hebben, helpen wij je graag door een mailtje
            te sturen naar <em>bestuur (at) svia (dot) nl</em>.
        </p>
    </div>
</div>
