{% from "macros/form.htm" import render_field, render_checkbox %}

{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="sign_up" class="form-horizontal" enctype="multipart/form-data">
    <fieldset>
        <legend>{{_('Register')}}</legend>

        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.repeat_password) }}

        <div class='row'>&nbsp;</div>

        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}

        <div class='row'>&nbsp;</div>

        {{ render_field(form.birth_date) }}

        <div class='row'>&nbsp;</div>

        {{ render_field(form.student_id) }}
        {{ render_field(form.education_id) }}
        {{ render_field(form.locale) }}
        {{ render_field(form.study_start) }}

        <div class='row'>&nbsp;</div>

        {{ render_field(form.phone_nr) }}

        <div class='row'>&nbsp;</div>

        {{ render_field(form.address) }}
        {{ render_field(form.zip) }}
        {{ render_field(form.city) }}
        {{ render_field(form.country) }}

        {{ render_field(form.avatar) }}

        {{ render_checkbox(form.receive_information) }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">{{_('Register')}}</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
