{% from "macros/form.htm" import render_field, render_checkbox, render_submit %}

{% extends "content.htm" %}

{% block content %}
<h1>Inloggen</h1>

<p>Nog geen account? Registreer <a href="{{ url_for('user.sign_up') }}">HIER</a></p>
<div class='row'>
    <div class='col-md-5'>
        <form method="post" name="sign-in" id="sign-in">
            {{ form.csrf_token }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_checkbox(form.remember_me) }}

            {{ render_submit('Log in') }}
        </form>
    </div>
</div>
{% endblock %}

