{% extends 'content.htm' %}

{% block includes %}
    <script>
        var get_users = "{{ url_for('user.get_users') }}"
        var delete_users = "{{url_for('user.api_delete_user')}}"
    </script>
    <script src="{{static_url("/static/js/user/view.js")}}"></script>
{% endblock %}

{% block content %}
<h1>Gebruiker overzicht</h1>
<div class='row'>
	<div class='col-md-12'>
        <table id="datatable" class='table table-striped'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail adres</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Student ID</th>
                    <th>Studie</th>
                    <th>Lid</th>
                    <th>Erelid</th>
                    <th>Begunstiger</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>E-mail adres</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Student ID</th>
                    <th>Studie</th>
                    <th>Lid</th>
                    <th>Erelid</th>
                    <th>Begunstiger</th>
                </tr>
            </tfoot>
        </table>

        <div class='btn-group'>
            <a href='{{ url_for('user.edit') }}' class='btn btn-success'>
                <i class='glyphicon glyphicon-user'></i> Gebruiker aanmaken
            </a>
            <a style='display:none;' id='delete' class='btn btn-danger'>
                <i class='glyphicon glyphicon-remove'></i> Verwijderen
            </a>
            <a href='{{ url_for('user.user_export') }}' class='btn btn-success'>
                <i class='glyphicon glyphicon-export'></i> Gebruikers Exporteren
            </a>
        </div>
	</div>
</div>
{% endblock %}
