{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{%block content %}
<form action="" method="post" name="user_view">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>E-mail address</th>
				<th>First name(s)</th>
				<th>Last name</th>
				<th>Student ID</th>
			</tr>
		</thead>

		<tbody>
			{% for user in users.items %}
				<tr>
					<td>
						<label class="checkbox">
							<input type=checkbox name="select" value="{{ user.id }}" />
							{{ user.email }}
						</label>
					</td>

					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.student_id }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="btn-group">
		<a href="/users/create" class="btn">Create</a>
		<button type="submit" class="btn">Delete</button>
	</div>

	{{ render_pagination(users, 'user.view') }}
</form>
{% endblock %}

