{% extends "content.htm" %}

{%block content %}

<!-- TODO check permission -->

<a href="{{ url_for('user.edit', user_id=user.id) }}" class="btn btn-warning pull-right">
	<i class="icon-pencil"></i>
	Aanpassen
</a>

<h1>
	<i class="icon-user"></i>&nbsp;&nbsp;Gebruiker
	<small>'{{ user.first_name }} {{ user.last_name }}'</small>
</h1>

<div class="span5">
<table class="table table-condensed">
<tr>
	<td><b>Studentnummer</b></td>
	<td>{{ user.student_id }}</td>
</tr>
<tr>
	<td><b>Heeft lidmaatschap betaald</b></td>
	<td><i class="icon-check{% if not user.has_payed %}-empty{% endif %}"></i></td>
</tr>
<tr>
	<td><b>Contact <i class="icon-envelope-alt"></b></i></td>
	<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
</tr>
<tr>
	<td><b>Contact <i class="icon-phone"></i></b></td>
	<td>{{ user.phone_nr }}</td>
</tr>
<tr>
	<td><b>Studie</b></td>
	<td>{{ user.education.name }}</td>
</tr>
</table>
</div>

<div class="span4 pull-right">
<h4> Ingeschreven activiteiten: </h4>
<ul>
{% for result in activities%}
<li><a href='{{ url_for('activity.get_activity', activity_id=result.id)}}' >
		{{ result.name }}
 	</a> ( {{result.start_time}} )
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
