{% from 'macros/pagination.htm' import render_pagination %}

{% extends 'content.htm' %}

{% block includes %}
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>
{% endblock %}

{% block content %}
<h1>Gebruiker overzicht</h1>

<div class='row'>
	<div class='col-md-12'>
        <table id="datatable" class='table table-striped'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail adres</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Student ID</th>
                    <th>Studie</th>
                    <th>Lid</th>
                    <th>Erelid</th>
                    <th>Begunstiger</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>E-mail adres</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Student ID</th>
                    <th>Studie</th>
                    <th>Lid</th>
                    <th>Erelid</th>
                    <th>Begunstiger</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

        <div class='btn-group'>
            <a href='/users/create' class='btn btn-success'>
                <i class='glyphicon glyphicon-user'></i> Gebruiker aanmaken
            </a>

            <a style='display:none;' id='delete' class='btn btn-danger'>
                <i class='glyphicon glyphicon-remove'></i> Verwijderen
            </a>

            <a href='/users/export' class='btn btn-success'>
                <i class='glyphicon glyphicon-export'></i> Gebruikers Exporteren
            </a>
        </div>
	</div>
</div>
<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable(_.defaults({
            "ajax": {
                "url": "/users/get_users/",
                "type": "get"
            }
        }, utils.datatables.defaults));
        utils.datatables.enable_select($('#datatable tbody'));
        utils.datatables.delete_by_url(
            $('#delete'),
            table,
            '/users/delete_users/');
    });
</script>
{% endblock %}
