body {
	overflow-y: scroll;
}

.logo {
	margin: 10px;
}

.sponsor {
	display: table-cell;
	text-align: center;
}
.sponsor img {
	vertical-align: center;
}

.mainblock {
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.edit-group {
	margin-right: 8px;
}

.dropdown-menu > li > input {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
	border: 0px;
	border-radius: 0px;
	webkit-border-radius: 0px;
	moz-border-radius: 0px;
	text-align: left;
	background-color: white;
	width: 100%;
}

.dropdown-menu > li > input:hover,
.dropdown-menu > li > input:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
