.logo {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 15px
}

.sponsor {
	float: left;
	clear: none;
	width: 220px;
	height 110px;
	padding: 2em;
}


/* Sidebar */
.sidebar .icon-chevron-right {
	float: right;
	margin-right: -6px;
	margin-top: 2px;
	opacity: 0.25;
}
.sidebar  li  a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
}
.sidebar .nav {
	width: 150px; /* Watchout */
	background-color: #FFFFFF;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	margin: 10px 0 0;
	padding: 0;
}

