{% from "macros/pagination.htm" import render_pagination %}

{% extends "base.htm" %}

{% block title %}Add Users{% endblock %}

{% block page %}
<form action="" method="post" name="add_user" class="form-horizontal">
	<fieldset>
		<legend>Add to group</legend>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>E-mail address</th>
					<th>First name(s)</th>
					<th>Last name</th>
				</tr>
			</thead>

			<tbody>
				{% for user in users.items %}
					<tr>
						<td>
							<label class="checkbox">
								<input type=checkbox name="select" value="{{ user.id }}" />
								{{ user.email }}
							</label>
						</td>

						<td>{{ user.first_name }}</td>
						<td>{{ user.last_name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="btn-toolbar">
			<div class="btn-group">
				<button type="submit" class="btn">Add</button>
				<a href="{{ url_for('group.view_users', group_id=group.id) }}" class="btn">Back</a>
			</div>

			{{ render_pagination(users, 'user.add_users') }}
		</div>
	</fieldset>
</form>
{% endblock %}

