{% extends "content.htm" %}

{% block title %}Edit Group{% endblock %}

{% block content %}
<form action="" method="post" name="add" class="form-horizontal">
	<fieldset>
		<legend>Edit group</legend>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th></th>
					<th>View</th>
					<th>Create</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr>
				<th>Users</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tbody>
		</table>


		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Edit group</button>
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}

