{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block title %}Group Users{% endblock %}

{%block content %}
<form action="" method="post" name="group_view_users">
	<fieldset>
		<legend>Group users</legend>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>User name</th>
				</tr>
			</thead>

			<tbody>
				{% for user in users.items %}
					<tr>
						<td>
							<label class="checkbox">
								<input type=checkbox name="select"
									value="{{ user.id }}"/> {{ user.first_name }}
										{{ user.last_name }}
							</label>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="btn-group">
			<a href="{{ url_for('group.add_users', group_id=group.id) }}" class="btn">Add</a>
			<button type="submit" class="btn">Delete</button>
			<a href="{{ url_for('group.view') }}" class="btn">Back</a>
		</div>

		{{ render_pagination(users, 'group.view_users', group_id=group.id) }}
	</fieldset>
</form>
{% endblock %}

