{% from "macros/pagination.htm" import render_pagination %}

{% extends "base.htm" %}

{% block page %}
	<fieldset>
		<legend>Tentamens</legend>
		{% if message != "" %}
		<div class="alert alert-block">
			<h4>{{ message }}</h4>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<form method="get" action="{{ url_for('examination.view_examination') }}" enctype=multipart/form-data class="form-inline" >
					<input name="search" id="search" class="col-md-5" type="text" placeholder="Zoek op titel, vak of opleiding" value="{{search}}" onkeypress="searchKeyPress(event);"></input>
					<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-search" id="submit"></i></button>
				</form>
			</div>
		</div>
		<a href="add" class="btn"><i class="glyphicon glyphicon-pencil"></i> <strong>Nieuw tentamen</strong></a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Vak</th>
					<th>Tentamen</th>
					<th>Opleiding</th>
					<th>edit</th>
				</tr>
			</thead>

			<tbody>
				{% for examination in examinations.items %}
					<tr>
						<td>
							<a href="?search={{ (examination.course.name) }}">{{ examination.course.name }}</a>
						</td>
						<td>
							<a href="{{ (path + examination.path) }}" target="_blank">{{ examination.title }}</a>{% if not examination.answer_path == '1' %}
							<a href="{{ path + examination.answer_path }}" role="button" data-toggle="modal" style="cursor: pointer;"><i class="glyphicon glyphicon-file"></i></a>
							{% endif %}
						</td>
						<td>
							<a href="?search={{ (examination.education.name) }}">{{ examination.education.name }}</a>
						</td>
						<td>
							<a href="edit?edit={{ (examination.id) }}"><i class="glyphicon glyphicon-pencil"></i></a>
							<a onclick="confirmation({{examination.id}})" role="button" data-toggle="modal" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ render_pagination(examinations, 'examination.examination_admin', "?search=" + search) }}
	</fieldset>
<script>
function searchKeyPress(e)
{
	// look for window.event in case event isn't passed in
	if (typeof e == 'undefined' && window.event) { e = window.event; }
	if (e.keyCode == 13)
	{
		document.getElementById('submit').click();
	}
}
</script>

<script>
function confirmation(id) {
	var answer = confirm("Weet je zeker dat je het tentamen wil verwijderen?")
	if (answer){
		window.location = "?delete="+id;
	}
	else{
	}
}
</script>

{% endblock %}
