{% from "macros/form.htm" import render_field %}

{% extends "base.htm" %}

{%block page %}
<div class="row">
    <div class="col-md-6">
        <form action="" method=post enctype=multipart/form-data>
            <fieldset>
                <legend>Nieuw vak</legend>

                {{ form.csrf_token }}
                {{ render_field(form.title) }}
                {{ render_field(form.description) }}

                <div class="control-group">
                    <div class="controls btn-group">
                        <button type="submit" class="btn btn-success">
                            <i class= "glyphicon glyphicon-ok"></i>  Toevoegen
                        </button>
                        <a href="{{url_for('examination.upload_file')}}"
                            class='btn btn-primary'>
                            <i class="glyphicon glyphicon-arrow-left"></i> Terug
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

