{% from "macros/pagination.htm" import render_pagination %}

{% extends "base.htm" %}

{%block page %}
    <fieldset>
        <legend>Nieuw vak</legend>
        <form action="" method=post enctype=multipart/form-data>
            Titel </br>
            <input type=text name=course> <br />
            Beschrijving </br>
            <input type=text name=discription> <br />
             <input type=submit value=Toevoegen!>
             <a href="../examination/add"> Terug naar tentamens </a>
        </form>
    </fieldset>
{% endblock %}

