{% from 'macros/form.htm' import render_field, render_select, render_file, render_submit %}

{% extends 'content.htm' %}

{% block content %}

<h1>Tentamen {% if page.id %}bewerken{% else %}uploaden{% endif %}</h1>

<form method='post' enctype='multipart/form-data'>
    {{ form.csrf_token }}

    {{ render_field(form.title) }}

    {{ render_select(form.course_id) }}
    {{ render_select(form.education_id) }}

    {{ render_file(form.path) }}
    {{ render_file(form.answer_path) }}

    {{ render_field(form.comment) }}

    {{ render_submit('Opslaan') }}
</form>

{% endblock %}
