
m "macros/pagination.htm" import render_pagination %}

{% extends "base.htm" %}

{%block page %}
	<fieldset>
		<legend>Bewerk {{examination.title}}</legend>
		{{message}}
		<form action="?" method=post enctype=multipart/form-data>
			titel </br>
			<input type=hidden name=examination value="{{examination.id}}">
			<input type=text name=title value="{{examination.title}}"> <br />
			vak </br>
			<select name=course> <br />
				{% for course in courses %}
					<option value="{{ course.id }}"
					{% if course.id == examination.course_id %}
						selected="selected"
					{% endif %}
					>
					{{course.name}}</option>
				{% endfor %}
			</select>
			<a href="../course/add" class="btn"><i class="glyphicon glyphicon-pencil"></i> <strong>nieuw</strong></a><br />
			studie </br>
				<select name=education> <br />
					{% for education in educations %}
						<option value="{{ education.id }}"
						{% if education.id == examination.education_id %}
							selected="selected"
						{% endif %}
						>
						{{education.name}}</option>
					{% endfor %}
				</select>
				<a href="../education/add" class="btn"><i class="glyphicon glyphicon-pencil"></i> <strong>nieuw</strong></a><br />

			<input type=file name=file><br />
			<input type=file name=answers>
			<input type=submit value=Upload>
		</form>
	</fieldset>
{% endblock %}
