{% from "macros/pagination.htm" import render_pagination %}

{% extends "base.htm" %}

{% block includes %}
<script src="{{ static_url('/static/js/examination/create_course.js') }}"></script>
{% endblock %}

{% block page %}
    <fieldset>
        <legend>Upload een nieuw tentamen</legend>

        {{message}}

        <form action="" method=post enctype=multipart/form-data>
            <div class='form-group'>
                Titel
                <input type='text' name='title' placeholder='25 oktober 2011' class='form-control' />
            </div>

            <div class='form-group'>
                Vak
                <select name='course' class='form-control courses'>
                    {% for course in courses %}
                        <option value='{{ course.id }}'>{{ course.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class='form-group'>
                <strong>Nieuw vak</strong>
                <input class='new-course-name inline-field form-control' type='text' />
                <button class='new-course-btn btn btn-default' data-loading-text='BITTE WARTEN!'>Toevoegen</button>
            </div>

            <div class='form-group'>
                Studie
                <select name='education' class='form-control'>
                    {% for education in educations %}
                        <option value="{{ education.id }}">{{ education.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class='form-group'>
                <a href="{{ url_for('examination.add_education') }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> <strong>nieuw</strong></a>
            </div>

            <div class='form-group'>
                Tentamen
                <input type='file' name='file' class='form-control'>
            </div>

            <div class='form-group'>
                Antwoorden
                <input type='file' name='answers' class='form-control'>
            </div>

            <input type='submit' value='Upload' class='btn btn-primary'>

        </form>
    </fieldset>
{% endblock %}
