{% from "macros/pagination.htm" import render_pagination %}

{% extends "base.htm" %}

{% block page %}
	<fieldset>
		<legend>Upload een nieuw tentamen</legend>
		{{message}}
		<form action="" method=post enctype=multipart/form-data>
			titel </br>
			<input type=text name=title placeholder="25 oktober 2011"> <br />
			vak </br>
			<select name=course> <br />
				{% for course in courses %}
					<option value="{{ course.id }}">{{course.name}}</option>
				{% endfor %}
			</select>
            <a href="{{ url_for('examination.add_course') }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> <strong>nieuw</strong></a><br />
			studie <br />
			<select name=education> <br />
				{% for education in educations %}
					<option value="{{ education.id }}">{{education.name}}</option>
				{% endfor %}
			</select>
            <a href="{{ url_for('examination.add_education') }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> <strong>nieuw</strong></a><br />
			Tentamen </br>
			<input type=file name=file><br />
			Antwoorden </br>
			<input type=file name=answers>
			<input type=submit value=Upload>
		</form>
	</fieldset>
{% endblock %}

