{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_form %}

{% extends "base.htm" %}

{% block includes %}
{%- if new_files -%}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.4/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.4/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.4/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script>
        $(document).ready(function() {
            //Initialize the 'Link copied' tooltip
            var options = {
                theme: 'tooltipster-borderless',
                trigger: 'custom',
                animation: 'fade',
                triggerClose: {
                    click: true,
                    mouseleave: true,
                    originClick: true,
                    scroll: true,
                    tap: true,
                    touchleave: true
                }
            };

            {% for index, _ in enumerate(new_files) %}
                $('#url-copy-btn-{{ index }}').tooltipster(options);

                var clipboard = new Clipboard('#url-copy-btn-{{ index }}');
                clipboard.on('success', function(e) {
                    $(e.trigger).tooltipster('open');
                    e.clearSelection();
                });
            {% endfor %}
        });
    </script>
{%- endif -%}
{% endblock %}

{% block page %}

{%- if can_upload -%}
        {%- if new_files -%}
        <div class="panel panel-default">
            <div class="panel-heading">{{_('Uploaded files')}}</div>
            <div class="panel-body">
            {% for index, new_file in enumerate(new_files) %}
            <div class="row">
                <div class="col-md-12">
                    <b>{{ _('Link to file') }}:</b>
                    <div class="input-group" style="padding-bottom: 5px">
                        <input id="file-{{ index }}"
                        class="form-control url-copy-textbox" type="text" value="{{ hostname }}/static/files/{{ new_file.name }}" readonly></input>
                        <span class="input-group-btn">
                            <button class="btn btn-primary"
                                title="{{ _('Link copied') }}"
                                id="url-copy-btn-{{ index }}"
                                data-clipboard-target="#file-{{ index }}">
                                <i class="fa fa-clipboard"></i> {{ _('Copy to clipboard') }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {%- endif -%}
        <div class="panel panel-default">
            <div class="panel-heading">{{ _('Upload file') }}</div>
            <div class="panel-body">
                {{ render_form(form, submit_text=_('Upload')) }}
            </div>
        </div>
{%- endif -%}


<div class="panel panel-default">
    <div class="panel-heading">{{ _('Files') }}</div>
    <div class="panel-body">
        <form class="form" action="{{ url_for('file.list') }}" method="GET">
            <div class="form-group">
                <label>{{ _('Search') }}</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="search"></input><br>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            </form>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ _('Filename') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files.items %}
                    <tr>
                        <td>
                            <a href="/static/files/{{ file.name }}" target="_blank">{{ file.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </ul>
        </table>

        {{ render_pagination(files, 'file.list') }}
    </div>
</div>

{% endblock %}
