{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_form %}

{% extends "base.htm" %}

{% block includes %}
{%- if new_file -%}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.4/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.4/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.4/js/tooltipster.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script>
        $(document).ready(function() {
            var url_link = $('#newfile-url');

            // Set the textbox value to the full url of the file
            $('#newfile-url-copytext').val(url_link[0].href);


            // Initialize the 'Link copied' tooltip
            $('#newfile-url-copytext').tooltipster({
                theme: 'tooltipster-borderless',
                trigger: 'custom',
                animation: 'fade',
                triggerClose: {
                    click: true,
                    mouseleave: true,
                    originClick: true,
                    scroll: true,
                    tap: true,
                    touchleave: true
                }
            });
            /*
            */

            var clipboard = new Clipboard('#newfile-url-copy');
            clipboard.on('success', function(e) {
                e.clearSelection();
                // Show the tooltip
                $('#newfile-url-copytext').tooltipster('open');
            });

        });

    </script>
{%- endif -%}
{% endblock %}

{% block page %}

{%- if ModuleAPI.can_write('file') -%}
    <div class="panel panel-default">
        <div class="panel-heading">{{ _('Upload file') }}</div>
        <div class="panel-body">

        {%- if new_file -%}
        <a id="newfile-url" href="/static/files/{{ new_file.name}}" style="display: none"></a>
        <div class="row">
            <div class="col-md-12">
                <b>{{ _('Link to file') }}:</b>
                <div class="input-group" style="padding-bottom: 5px">
                    <input id="newfile-url-copytext"  title="{{ _('Link copied') }}"
                    class="form-control" type="text" readonly></input>
                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                            id="newfile-url-copy"
                            data-clipboard-target="#newfile-url-copytext">
                            <i class="fa fa-clipboard"></i> {{ _('Copy to clipboard') }}
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <hr />
        {%- endif -%}

        {{ render_form(form, submit_text=_('Upload')) }}
        </div>
    </div>
{%- endif -%}


<div class="panel panel-default">
    <div class="panel-heading">{{ _('Files') }}</div>
    <div class="panel-body">
        <form class="form" action="{{ url_for('file.list') }}" method="GET">
            <div class="form-group">
                <label>{{ _('Search') }}</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="search"></input><br>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            </form>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ _('Filename') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files.items %}
                    <tr>
                        <td>
                            <a href="/static/files/{{ file.name }}" target="_blank">{{ file.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </ul>
        </table>

        {{ render_pagination(files, 'file.list') }}
    </div>
</div>

{% endblock %}
