{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_file, render_button %}

{% extends "base.htm" %}

{% block includes %}
{%- if new_file -%}
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script>
        $(document).ready(function() {
            var url_link = $('#newfile-url');

            // Set the textbox value to the full url of the file
            $('#newfile-url-copytext').val(url_link[0].href);

            var clipboard = new Clipboard('#newfile-url-copy');
            clipboard.on('success', function(e) {
                e.clearSelection();
            });
        });

    </script>
{%- endif -%}

<script>
function search(){
  query = document.getElementById('search_input').value;
  location.href='?search=' + query;
}
</script>
{% endblock %}

{% block page %}

{%- if new_file -%}
<a id="newfile-url" href="/static/files/{{ new_file.name}}" style="display: none"></a>
<div class="row">
    <div class="col-md-12">
        <b>{{ _('Link to file') }}:</b>
        <div class="input-group" style="padding-bottom: 5px">
            <input id="newfile-url-copytext" class="form-control text-monospace" type="text" readonly></input>
            <span class="input-group-btn">
                <button class="btn btn-primary" id="newfile-url-copy" data-clipboard-target="#newfile-url-copytext">
                    <i class="fa fa-clipboard"></i> {{ _('Copy to clipboard') }}
                </button>
            </span>
        </div>
    </div>
</div>
{%- endif -%}

{%- if ModuleAPI.can_write('file') -%}
<div class="form-group">
	<form method="post" enctype="multipart/form-data">
		{{ render_file(form.file) }}
		{{ render_button(form.submit) }}
	</form>
</div>
<div class="form-group">
  <input type="text" class="form-control" id="search_input"></input><br>
  <button class="btn btn-default" onclick="search()">Search</button>
</div>

{%- endif -%}

<ul>
	{% for file in files.items %}
		<li><a href="/static/files/{{ file.name }}" target="_blank">{{ file.name }}</a></li>
	{% endfor %}
</ul>

{{ render_pagination(files, 'file.list') }}

{% endblock %}
