{% from "macros/form.htm" import render_field, render_checkbox, render_submit %}

{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="sign_up" class="form-horizontal" enctype="multipart/form-data" >
    <fieldset>
        <legend>{% if user.id %}{{_('Modify')}}{% else %}{{_('Create')}}{% endif %} {{_('Member')}}</legend>

        <div class="col-md-5">
            {{ form.csrf_token }}


            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.birth_date) }}
            {{ render_field(form.address) }}
            {{ render_field(form.zip) }}
            {{ render_field(form.city) }}
            {{ render_field(form.country) }}
        </div>

        <div class="col-md-offset-2 col-md-5">
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.repeat_password) }}
            {{ render_field(form.student_id) }}
            {{ render_field(form.education_id) }}
            {{ render_field(form.study_start) }}
            {{ render_checkbox(form.receive_information) }}
        </div>

        <legend>{{_('Optional data')}}</legend>

        <div class="col-md-5">
            {{ render_field(form.phone_nr) }}
            {{ render_field(form.locale) }}
        </div>

        <div class="col-md-offset-2 col-md-5">
            {{ render_field(form.avatar) }}
            {% if user.avatar %}
                Current avatar:
                <img src="{{UserAPI.avatar(user)}}"></img>
                <a href='/users/remove_avatar/{{ user.id }}' class='btn btn-xs btn-danger'>{{_('Delete avatar')}}</a>
            {% endif %}
        </div>

        {% if is_admin %}
        <legend>{{_('Admin data')}}</legend>
        <div class="col-md-5">
            {{render_checkbox(form.has_payed) }}
            {{render_checkbox(form.honorary_member) }}
            {{render_checkbox(form.alumnus) }}
        </div>
        <div class="col-md-offset-2 col-md-5">
            {{render_checkbox(form.favourer) }}
            {{render_checkbox(form.disabled) }}
        </div>
        {% endif %}
        {% if user.has_payed %}
        <legend>{{_('I have finished studying')}}</legend>
        <div class="col-md-5">
            {{render_checkbox(form.alumnus) }}
        </div>
        {% endif %}
        <div class="col-md-12">
            {{ render_submit(_('Save'))}}
        </div>
    </fieldset>
</form>
{% endblock %}
