{% from "macros/form.htm" import
render_form, render_field, render_checkbox,
render_submit, render_vsplit, render_file,
ignore_kwargs %}
{% from "macros/user.htm" import render_uvanetid_signin_button %}

{% extends "content.htm" %}

{% macro render_before_hook(f) %}
{%- if f.name == 'register_split' -%}
<legend>{{ _('Register') }}</legend>
{%- elif f.name == 'optional_split' -%}
<legend>{{ _('Optional data') }}</legend>
{%- endif -%}
{% endmacro %}

{% macro check_user_admin(f) %}
{%- if f.name == 'admin_split' and is_admin -%}
<legend>{{ _('Admin data') }}</legend>
{{ render_vsplit(f, **kwargs) }}
{%- elif f.name != 'admin_split' -%}
{{ render_vsplit(f, **kwargs) }}
{%- endif -%}
{% endmacro %}

{% macro check_user_paid(f) %}
{%- if f.name == 'alumnus' and user.has_paid -%}
<legend>{{ _('I have finished studying') }}</legend>
{{ render_checkbox(f, **kwargs) }}
{%- elif f.name != 'alumnus' -%}
{{ render_checkbox(f, **kwargs) }}
{%- endif -%}
{% endmacro %}

{% macro render_avatar(f) %}
{{ render_file(f, **kwargs) }}
{% if user.avatar %}
<div id="avatar-container">
    <label>{{ _('Current avatar') }}:</label>
    <img src="{{UserAPI.avatar(user)}}"></img>
    <a id="remove-avatar" class='btn btn-xs btn-danger'>{{_('Delete avatar')}}</a>
</div>
<script>
$('#remove-avatar').click(function() {
    $.ajax({
        url: '{{ url_for('user.remove_avatar', user_id=user.id) }}',
        type: 'DELETE',
        success: function(result) {
            $("#avatar-container").remove();
            utils.flash.new('{{ _('Avatar deleted successfully.') }}', 'success');
        },
        error: function(result) {
            utils.flash.new('{{ _('Something went wrong.') }}', 'error');
        }
    });
});
</script>
{% endif %}
{% endmacro %}

{% macro render_student_id_bottom() %}

{% if not is_admin %}
<div class="input-group-addon info">
    {{ _('Linked to UvA account') }}
</div>
{% else %}
<div class="input-group-btn">
    <a href="{{ url_for('user.edit_student_id_linking', user_id=user.id) }}" class="btn btn-info">
        {{ _('Linked to UvA account') }}&nbsp;
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
</div>
{% endif %}

{% endmacro %}

{% macro render_student_id(f) %}
{{ ignore_kwargs(kwargs) }}

{% if user.student_id_confirmed %}
    {{ render_field(f, disabled=True, wrap_inputgroup=True,
        html_bottom=render_student_id_bottom()) }}
{% else %}
    <div class="form-group">
        {% if user.id == current_user.id %}
        {% set link_url = url_for('saml.link_account') %}
        {% else %}
        {% set link_url = url_for('saml.link_other_account', user_id=user.id) %}
        {% endif %}
        {{ render_uvanetid_signin_button(_('Link account to UvA account'), href=link_url) }}
    </div>
    {% if is_admin %}
    <a href="{{ url_for('user.edit_student_id_linking', user_id=user.id) }}" class="btn btn-warning">
        <i class="glyphicon glyphicon-pencil"></i>
        {{ _('Edit student ID information manually') }}</a>
    {% endif %}
{% endif %}
{% endmacro %}

{% block content %}

{% set autocomplete = 'off' if user.id != current_user.id else 'on' %}
{{ render_form(form, form_name="sign_up",
               render_before_hook=render_before_hook,
               extra_field_renderers={
                   'FieldVerticalSplit': check_user_admin,
                   'BooleanField': check_user_paid,
                   'FileField': render_avatar,
                   'StudentIDField': render_student_id
               }, autocomplete=autocomplete) }}

{% endblock %}
