{% from "macros/form.htm" import render_form, render_field, render_checkbox,
    render_checkbox_well, render_submit %}

{% extends "content.htm" %}


{% macro render_before_hook(f) %}
{%- if f.type == 'FieldVerticalSplit' -%}
<legend>
{%- if f.name == 'register_split' -%}
{{ _('Register') }}
{%- endif -%}
</legend>
{%- endif -%}
{% endmacro %}

{% macro submit_renderer() %}

{% set link = '<a href="{}" target="_blank">{}</a>'.format(privacy_policy_url, _('Privacy Policy')) | safe %}
{{ render_checkbox_well(form.agree_with_privacy_policy, label=_('Yes, I agree to the %(link)s.', link=link)) }}

{{ render_submit(_('Register')) }}

{% endmacro %}

{% block content %}

{{ render_form(form, form_name="sign_up",
    render_before_hook=render_before_hook, submit_renderer=submit_renderer) }}

{% endblock %}
