{% from "macros/form.htm" import render_field, render_checkbox, render_submit %}

{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="sign_up" class="form-horizontal" enctype="multipart/form-data">
    <fieldset>
        <legend>{{_('Register')}}</legend>
        {{ form.csrf_token }}

        <div class="col-md-5">
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.birth_date) }}
            {{ render_field(form.address) }}
            {{ render_field(form.zip) }}
            {{ render_field(form.city) }}
            {{ render_field(form.country) }}
        </div>

        <div class="col-md-offset-2 col-md-5">
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.repeat_password) }}
            {{ render_field(form.student_id) }}
            {{ render_field(form.education_id) }}
            {{ render_field(form.study_start) }}
        </div>

        <div class="col-md-12">
            {{ render_field(form.recaptcha) }}
            {{ render_submit(_('Register')) }}
        </div>
    </fieldset>
</form>
{% endblock %}
