{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}
{% block content %}
    <div class="btn-group">
        {% if can_write %}
            <a href="/activities/create/"
                class="btn btn-success">{{_('New activity')}}</a>
        {% endif %}

        {% if archive == 'archive' %}
            <a href="{{ url_for('activity.view') }}" class="btn btn-info">
                {{_('Show upcoming activities')}}
            </a>
        {% else %}
            <a href="{{ url_for('activity.view', archive='archive') }}"
                class="btn btn-default">
                {{_('Show activities in the archive')}}
            </a>
            <a href="{{ url_for('activity.rss', locale=get_locale()) }}"
               class="btn btn-default">
                {{_('RSS feed')}}
            </a>
        {% endif %}
    </div>

    <div class="activity">
        {% for activity in activities.items %}

            <a href="{{ url_for('activity.get_activity', activity_id=activity.id)}}">
                <div class="activity-block">
                    <div class="row">
                        <div class="col-md-4 image">
                            <img src="{{ url_for('activity.picture', activity_id=activity.id, picture_type='thumbnail') }}">
                        </div>

                        <div class="col-md-8">
                            <h1>{{activity.name}}</h1>

                            <dl class="time dl-horizontal">
                                <dt><i class="glyphicon glyphicon-home"></i></dt>
                                <dd>{{ activity.location}}</dd>
                                <dt><i class="glyphicon glyphicon-calendar"></i></dt>
                                <dd>{{ activity.get_time() }} </dd>
                                <dd><small>{{ activity.till_now() }}</small></dd>
                            </dl>

                            <h2>
                                {% if activity.price.lower() != "gratis" and activity.price.lower() != "free"
                                        and activity.price != "0" %}
                                    &euro; {{ activity.price}}
                                {% else %}
                                    {{ _('free') }}
                                {% endif %}
                            </h2>

                        </div> {# col-md-8 #}
                        <div class="col-md-8 short_content">
                            {{ activity.get_short_description(600) | markdown }}
                        </div>
                    </div> {# /.row #}
                </div> {# /.activity-blck #}
            </a>
        {% endfor %}
    </div> {# activity #}
    <hr />
    {{ render_pagination(activities, 'activity.view', archive=archive) }}
{% endblock %}
