{% from "macros/form.htm" import render_button, render_checkbox, render_field %}

{% extends "content.htm" %}

{% block content %}
<form action="" method="post" name="edit_page" class="form-horizontal">
	<fieldset>
        <legend>{% if new_page %}New{% else %}Edit{% endif %} Page</legend>

		{{ form.csrf_token }}

		{{ form.title.csrf_token }}{{ render_field(form.title, class='input-block-level') }}
		{{ form.content.csrf_token }}
		<div class="row">
			<div class="span8">
				{{ render_field(form.content, rows=20, class='input-block-level') }}
			</div>
			<div class="span2">
				<strong>Bestanden</strong><br />
				<label for="file-search-query">Zoeken</label>
				<input type="text" id="file-search-query" />
				<div id="file-search-results">
					<ul></ul>
				</div>
			</div>
		</div>
		{{ form.comment.csrf_token }}{{ render_field(form.comment, class='input-block-level') }}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Permission</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for group, form_entry in groups %}
					<tr>
						<td>{{ group.name }}</td>
						<td>{{ form_entry.select }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        {{ render_checkbox(form.needs_payed) }}
		{{ render_checkbox(form.filter_html) }}
		{{ render_button(form.save_page) }}
        {% if not new_page %}
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-danger" href="{{
                        url_for('page.remove_page', path=path) }}">Remove page</a>
                </div>
            </div>
        {% endif %}
	</fieldset>
</form>

<script src="/static/js/search-files.js"></script>
{% endblock %}
