{% from "macros/form.htm" import render_button, render_checkbox, render_field, render_select %}
{% extends "content.htm" %}

{% block includes %}
    <script src={{static_url("/static/js/search-files.js")}}></script>
{% endblock %}


{% block content %}
<form action="" method="post" name="edit_page" class="form-horizontal">
	<fieldset>
		<legend>{% if page.id %}Edit{% else %}New{% endif %} Page</legend>

		{{ form.csrf_token }}

		{{ render_field(form.title) }}
        {{ render_field(form.content) }}

		{{ render_field(form.comment) }}

		<div class="container">
	    	<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Rechten</h3>
							<div class="pull-right">
								<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
									<i class="glyphicon glyphicon-filter"></i>
								</span>
							</div>
						</div>
						<div class="panel-body">
							<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
						</div>
						<table class="table table-hover" id="dev-table">
							<thead>
								<tr>
									<th>Groep</th>
									<th>Permission</th>
								</tr>
							</thead>

							<tbody>
								{% for group, form_entry in groups %}
									<tr>
										<td>{{ group.name }}</td>
										<td>{{ form_entry.select }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

        {{ render_checkbox(form.needs_payed) }}
		{{ render_checkbox(form.filter_html) }}

        {{ render_select(form.custom_form_id) }}

		{{ render_button(form.save_page) }}
    </fieldset>
</form>

{% if not new_page %}
    <form action='{{ url_for('page.delete', path=page.path) }}' method='post'>
        <button class="btn btn-danger pull-right" type='submit'>Remove page</button>
    </form>
{% endif %}



<style>
.row{
    margin-top:40px;
    padding: 0 10px;
}
.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	/*display: none;*/
}
</style>
<script>
/**
*   I don't recommend using this plugin on large tables, I just wrote it to make the demo useable. It will work fine for smaller tables 
*   but will likely encounter performance issues on larger tables.
*
*		<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
*		$(input-element).filterTable()
*		
*	The important attributes are 'data-action="filter"' and 'data-filters="#table-selector"'
*/
(function(){
    'use strict';
	var $ = jQuery;
	$.fn.extend({
		filterTable: function(){
			return this.each(function(){
				$(this).on('keyup', function(e){
					$('.filterTable_no_results').remove();
					var $this = $(this), 
                        search = $this.val().toLowerCase(), 
                        target = $this.attr('data-filters'), 
                        $target = $(target), 
                        $rows = $target.find('tbody tr');
                        
					if(search == '') {
						$rows.show(); 
					} else {
						$rows.each(function(){
							var $this = $(this);
							$this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
						})
						if($target.find('tbody tr:visible').size() === 0) {
							var col_count = $target.find('tr').first().find('td').size();
							var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
							$target.find('tbody').append(no_results);
						}
					}
				});
			});
		}
	});
	$('[data-action="filter"]').filterTable();
})(jQuery);

// $(function(){
//     // attach table filter plugin to inputs
// 	$('[data-action="filter"]').filterTable();
	
// 	$('.container').on('click', '.panel-heading span.filter', function(e){
// 		var $this = $(this), 
// 			$panel = $this.parents('.panel');
		
// 		$panel.find('.panel-body').slideToggle();
// 		if($this.css('display') != 'none') {
// 			$panel.find('.panel-body input').focus();
// 		}
// 	});
// 	$('[data-toggle="tooltip"]').tooltip();
// })
</script>


{% endblock %}
