{% from "macros/form.htm" import render_button, render_checkbox, render_field, render_select %}
{% extends "content.htm" %}

{% block includes %}
    <script src="/static/js/search-files.js"></script>
{% endblock %}


{% block content %}
<form action="" method="post" name="edit_page" class="form-horizontal">
	<fieldset>
		<legend>{% if page.id %}Edit{% else %}New{% endif %} Page</legend>

		{{ form.csrf_token }}

		{{ render_field(form.title) }}
        {{ render_field(form.content) }}

		{{ render_field(form.comment) }}

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Permission</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for group, form_entry in groups %}
					<tr>
						<td>{{ group.name }}</td>
						<td>{{ form_entry.select }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        {{ render_checkbox(form.needs_payed) }}
		{{ render_checkbox(form.filter_html) }}

        {{ render_select(form.custom_form_id) }}

		{{ render_button(form.save_page) }}

        {% if not new_page %}
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-danger" href="{{
                        url_for('page.remove_page', path=path) }}">Remove page</a>
                </div>
            </div>
        {% endif %}
	</fieldset>
</form>

{% endblock %}
