{% if (page and current_user and (UserAPI.can_write(page) or
    GroupPermissionAPI.can_write('page'))) or (not page and
    GroupPermissionAPI.can_write('page')) %}
    <div class="btn-group" style="margin-top: 15px;">
        {% if exists %}
        <a class="btn btn-default"
            href="{{url_for('page.get_page_history',
            path=footer.path)}}" ><i class="icon-time"></i> View History
        </a>
        <a class="btn btn-default"
            href="{{url_for('page.edit_page', path=footer.path)}}" >
            <i class="icon-pencil"></i> Edit footer
        </a>
        {% else %}
        <a class="btn btn-default"
            href="{{url_for('page.edit_page', path=footer.path)}}" >
            <i class="icon-pencil"></i> Create footer
        </a>
        {% endif %}
    </div>
{% endif %}


{{ Markup(markdown(footer_revision.content, enable_attributes=False, safe_mode=safe_mode, extensions=['toc'])) }}
