{% extends 'page/view_super.htm' %}

{% block page_title %}{{ revision.title }}{% endblock %}

{% block includes %}
    <script src={{static_url("/static/js/custom_form_submission.js")}}></script>
{% endblock %}

{% block page_content %}
    <p>{{ revision.content | markdown(revision.filter_html) }}</p>

	{% if revision.custom_form %}
        <hr />
        <div>
            {% if current_user and current_user.id %}
                <script>
                    var msg_success = '{{ revision.custom_form.msg_success }}';
                </script>

                <form id="custom" action="/forms/submit/{{ revision.custom_form.id }}" enctype="multipart/form-data">
                    <h3>Vul a.u.b in :D</h3>
                    <p>Sommige velden (zoals shirt-maat of dieet) proberen we op te slaan, zodat je het de volgende keer niet nog eens moet invullen.</p>
                    {{ revision.custom_form.html | safe }}

                    <button id="custom_form" class="btn btn-success">Verzend formulier</button>
                </form>
            {% else %}
                <p>Je moet ingelogd zijn om je voor een activiteit in te schrijven.</p>
                <p><a href="{{ url_for('user.sign_in') }}" class="btn btn-huge btn-success">Inloggen</a></p>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
