{% extends "content.htm" %}

{% block content %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <b>Verwijderen</b>
    </div>
    <div class="panel-body">
        <b>{{ _('Are you sure you want to delete this entry?') }}</b>
        <form method="POST">
            <div class="btn-group" style="margin-top: 10px">
                <input type="submit" value="{{ _('Yes') }}" class="btn btn-danger"
                    style="width: 70px"/>
                    <a class="btn btn-primary" href="{{ url_for('.all') }}"
                        style="width: 70px">{{ _('No') }}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
