{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<form method="get" action="" enctype=multipart/form-data class="form-inline" >
			<input name="search" id="search" class="col-md-5" type="text" placeholder="Zoeken" value="{{search}}"></input>
			<button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-search" id="submit"></i></button>
		</form>
	</div>
</div>
<form action="" method="post" name="add_user" class="form-horizontal">
	<fieldset>
		<legend>Add to group</legend>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>E-mail address</th>
					<th>First name(s)</th>
					<th>Last name</th>
				</tr>
			</thead>

			<tbody>
				{% for user in users.items %}
					<tr>
						<td>
							<label class="checkbox">
								<input type=checkbox name="select" value="{{ user.id }}" />
								{{ user.email }}
							</label>
						</td>

						<td>{{ user.first_name }}</td>
						<td>{{ user.last_name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="btn-toolbar">
			<div class="btn-group">
				<button type="submit" class="btn">Add</button>
				<a href="{{ url_for('group.view_users', group_id=group.id) }}" class="btn">Back</a>
			</div>

			{{ render_pagination(users, 'group.add_users', group_id=group.id) }}
		</div>
	</fieldset>
</form>
{% endblock %}

