{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block content %}
<h1>Gebruiker toevoegen aan {{ group.name }}</h1>
<div class='row'>
	<div class='col-md-12'>
        <table id="datatable" class='table table-striped'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail adres</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Student ID</th>
                    <th>Studie</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>E-mail adres</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Student ID</th>
                    <th>Studie</th>
                </tr>
            </tfoot>
        </table>

        <div class='btn-group'>
            <a href='#' id='add_users' class='btn btn-success'>
                <i class='glyphicon glyphicon-plus'></i> Add
            </a>
            <a href='{{ url_for('user.sign_up') }}' id="add-users" class='btn btn-success'>
                <i class='glyphicon glyphicon-user'></i> Gebruiker aanmaken
            </a>
            <a href='{{ url_for('group.view_users', group_id=group.id) }}' class='btn btn-primary'>
                <i class='glyphicon glyphicon-arrow-left'></i> Terug
            </a>
        </div>
	</div>
</div>
<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable(_.defaults({
            "ajax": {
                "url": "{{ url_for('user.get_users') }}",
                "type": "get"
            }
        }, utils.datatables.defaults));

        // Enable the toggle on rows
        utils.datatables.enable_select(table);

        utils.datatables.action_by_url($('#add_users'), table,
            "{{ url_for('group.group_api_add_users', group_id=group.id) }}",
            "put", "{{url_for('group.view_users', group_id=group.id) }}"
        );
        });
</script>
{% endblock %}

