{% from "macros/flash.htm" import render_flash %}
{% from "macros/form.htm" import render_button %}

{% extends "content.htm" %}

{% block page %}

<h2>Zetten van permissies voor {{ group_name }}</h2>

<form action="" method="post" name="module_permission_form">
	{% if can_write %}
		{{ form.csrf_token }}
	{% endif %}

	<table class='table'>
	<thead>
		<th>Modulenaam</th><th>Permissie</th>
	</thead>
	<tbody>

			{% for permission, form_entry in permissions: %}
			<tr>
				<td>
                    <label> {{ permission.module_name }} </label>
				</td>
				<td>
					{% if can_write %}
						{{ form_entry.csrf_token }}{{ form_entry.select}}
					{% elif permission.permission == 0 %}
						Geen
					{% elif permission.permission == 1 %}
						Lezen
					{% elif permission.permission == 2 %}
						Lezen/Schrijven
					{% endif %}
				</td>
				</tr>
			{% endfor %}
			<tr>
				<td>
					{{ form.add_module_name.csrf_token }}{{ form.add_module_name }}
				</td>
				<td>
					{{ form.add_module_permission.csrf_token }}{{ form.add_module_permission}}
				</td>
			</tr>
		</tbody>
	</table>

	{% if can_write %}
		{{ render_button(form.save_changes) }}
	{% endif %}
	</fieldset>
</form>
<script>
    $(document).ready(function() {
        $("select").select2();
        $("select").addClass('form-control');
    });
</script>


{% endblock %}
