{% extends "content.htm" %}

{%block content %}
<h1></h1>

<div class="row">
	<div class="col-md-12">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr><th>User name</th></tr>
            </thead>
            <tfoot>
                <tr><th>User name</th></tr>
            </tfoot>
        </table>

        <div class="btn-group">
            <a href="{{ url_for('group.add_users', group_id=group.id) }}"
                class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Add
            </a>
            <a id="delete" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </a>
            <a href="{{ url_for('group.view') }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-arrow-left"/></i> Back</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable(_.defaults({
            "ajax": {
                "url":"{{ url_for('group.get_group_users', group_id=group.id) }}",
                "type": "get"
            }
        }, utils.datatables.defaults));
        utils.datatables.enable_select($('#datatable tbody'));
     // utils.datatables.delete_by_url(
     //     $('#delete'),
     //     table,
     //     '/users/delete_users/');
    });
</script>
{% endblock %}
