{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_file, render_button %}

{% extends "base.htm" %}

{% block page %}

{% if GroupPermissionAPI.can_write('file') %}
	<form method="post" enctype="multipart/form-data">
		{{ render_file(form.file) }}
		{{ render_button(form.submit) }}
	</form>
{% endif %}

<ul>
	{% for file in files.items %}
		<li><a href="/static/files/{{ file.name }}" target="_blank">{{ file.name }}</a></li>
	{% endfor %}
</ul>

{{ render_pagination(files, 'file.list') }}

{% endblock %}
