{% from 'macros/form.htm' import render_field, render_datefield_picker, render_checkbox, render_submit %}

{% extends 'content.htm' %}

{% block content %}

<h1>Nieuwsartikel {% if item.id %}bewerken{% else %}aanmaken{% endif %}</h1>

<form method='post'>
    {{ form.csrf_token }}

    {{ render_field(form.title) }}

    {{ render_field(form.content) }}
    {{ render_datefield_picker(form.end_time) }}

    {{ render_field(form.comment) }}
    {{ render_checkbox(form.needs_payed) }}

    {{ render_submit('Opslaan') }}
</form>

{% endblock %}
