{% from 'macros/pagination.htm' import render_pagination %}

{% extends "content.htm" %}

{% block content %}

<div class='row'>
    <div class='col-md-12'>
        <div class='btn-group'>
            {% if GroupPermissionAPI.can_write('news') %}
                <a href='{{ url_for('news.edit') }}' class='btn btn-success'>Nieuw</a>
            {% endif %}
            {% if archive %}
                <a href='{{ url_for('news.list') }}' class='btn btn-default'>Toon actueel nieuws</a>
            {% else %}
                <a href='{{ url_for('news.list', archive=1) }}' class='btn btn-default'>Toon nieuws in het archief</a>
            {% endif %}
        </div>
    </div>
</div>

<div>&nbsp;</div>

<div id='news-items'>
    {% for item in items.items %}
        <div class='well'>
            <div class='row'>
                <div class='col-md-8 title'>{{ item.title }}</div>
                <div class='col-md-4 text-right author'>
                    Laatste bewerking <em>{{ item.created.strftime('%Y-%m-%d %H:%M') }}</em><br />
                    Door <em>{{ item.user.name }}</em>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 short-content'>
                    {{ item.get_short_content(600) | markdown }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 read'>
                    <a href='{{ url_for('page.get_page', path=item.page.path) }}' class='pull-right'>Meer lezen</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if archive %}
    {{ render_pagination(items, 'news.list', archive=1) }}
{% else %}
    {{ render_pagination(items, 'news.list') }}
{% endif %}

{% endblock %}
