{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block includes %}
    <script>var group_id = {{group.id}};</script>
    <script src="{{static_url("/static/js/group/add_users.js")}}"></script>
{% endblock %}

{% block content %}
<h1>{{_('Add user to') }} {{ group.name }}</h1>
<table id="datatable" class='table table-striped'>
    <thead>
        <tr>
            <th>ID</th>
            <th>{{_('E-mail address')}}</th>
            <th>{{_('First name')}}</th>
            <th>{{_('Last name')}}</th>
            <th>{{_('Student ID')}}</th>
            <th>{{_('Study')}}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>{{_('E-mail address')}}</th>
            <th>{{_('First name')}}</th>
            <th>{{_('Last name')}}</th>
            <th>{{_('Student ID')}}</th>
            <th>{{_('Study')}}</th>
        </tr>
    </tfoot>
</table>

<div class='btn-group'>
    <a href='#' id='add_users' class='btn btn-success'>
        <i class='glyphicon glyphicon-plus'></i> {{_('Add')}}
    </a>
    <a href='{{ url_for('user.sign_up') }}' id="add-users" class='btn btn-success'>
        <i class='glyphicon glyphicon-user'></i> {{_('Create user')}}
    </a>
    <a href='{{ url_for('group.view_users', group_id=group.id) }}' class='btn btn-primary'>
        <i class='glyphicon glyphicon-arrow-left'></i> {{_('Back')}}
    </a>
</div>
{% endblock %}

