{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{%block content %}
<form action="" method="post" name="group_view">
	<fieldset>
		<legend>Groepen</legend>

		{{ form.csrf_token }}

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Groep naam</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for group, form_entry in groups %}
					<tr>
						<td>
							{{ form_entry.csrf_token }} {{ form_entry.select }} {{ group.name }}
						</td>

						<td>
                            <a href="{{ url_for('group.view_users', group_id=group.id) }}">
                                <i class="glyphicon glyphicon-user"></i> Bekijk leden</a>
						</td>

						<td>
                            <a href="{{ url_for('group.edit_permissions', group_id=group.id) }}">
                                <i class="fa fa-key"></i> Wijzig permissies</a>
						</td>
						<td>
                            <a href="{{ url_for('group.edit', group_id=group.id) }}">
                                <i class="fa fa-pencil"></i> Wijzig naam en mail</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        <div class="btn-group">
            {% if can_write %}
            <a href="{{ url_for('group.create') }}" class="btn btn-success">
                Creëer groep
            </a>
            <button
                id="{{ form.delete_group.id }}"
                name="{{ form.delete_group.id }}"
                type="submit"
                class="btn btn-danger">
                {{ form.delete_group.label.text }}
            </button>
            {% endif %}
            {{ render_pagination(pagination, 'group.view') }}
        </div>
	</fieldset>
</form>
{% endblock %}

