{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{%block content %}
<form id="search-form" class="form-inline">
    <div class="input-group">
        <input name="search" id="search" class="form-control" type="text"
               placeholder="{{ _('Search for group') }}" value="{{ search }}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-search" id="submit"></i>
            </button>
        </div>
    </div>
</form>

<legend>Groepen</legend>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Groep naam</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ url_for('group.view_users', group_id=group.id) }}">
                        <i class="glyphicon glyphicon-user"></i> Bekijk leden</a>
                </td>

                <td>
                    <a href="{{ url_for('group.roles', group_id=group.id) }}">
                        <i class="fa fa-key"></i> Wijzig permissies</a>
                </td>
                <td>
                    <a href="{{ url_for('group.edit', group_id=group.id) }}">
                        <i class="fa fa-pencil"></i> Wijzig naam en mail</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="btn-group">
    {% if can_write %}
    <a href="{{ url_for('group.create') }}" class="btn btn-success">
        Creëer groep
    </a>
    {% endif %}
    {{ render_pagination(pagination, 'group.view') }}
</div>
{% endblock %}

