body {
	overflow-y: scroll;
	margin-bottom:20px;
}

/* Activity-block (activities) */

.activity-block {
	padding:10px 0;
	border-bottom:1px solid blue;
}

.activity-block img {
	height:186px;
	width:auto;
	max-width:220px;
}

.activity-block h1 {
  font-size:3.2em;
	padding:8px 0;
	line-height:1em;
}

.activity-block td {
  min-width:70px;
	padding:3px;
}

.activity-block .time {
  background:#fafafa;
	color:#444;
	font-weight:bold;
	padding:4px;
	margin-top:4px;
}

#acc {
  margin-top:-14px;
}

/* Twitter widget */
.twtr-widget h3 {
	font-size: 200% !important;
	float: left;
}
.twtr-widget h4 {
	float: right;
}

.logo {
	margin: 10px;
}

.logo.pimpy {
	float: right;
	margin-top: 13px;
	height: 100px;
}

.sponsor {
	float: left;
	clear: none;
	width: 180px;
	padding: 2em;
}
.mainblock {
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.edit-group {
	margin-right: 8px;
}

.dropdown-menu > li > input {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
	border: 0px;
	border-radius: 0px;
	webkit-border-radius: 0px;
	moz-border-radius: 0px;
	text-align: left;
	background-color: white;
	width: 100%;
}

.dropdown-menu > li > input:hover,
.dropdown-menu > li > input:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/* PimPy */
.pimpy-btn-group {
	margin-bottom: 8px;
}

.pimpy-menu {
	width: 75px;
}

.pimpy-menu-group {
	width: 150px;
}

/* Bootstrap formbuilder */
.ui-draggable {
  margin-bottom:4px;
}

.ui-state-highlight {
  background:#fff;
}

.hoverDragged {
  background:#fff;
}

.hoverDroppable {
  background-color: lightblue;
}

.draggableField {
  padding-left:5px;
}

li.leave-alone {
	visibility: hidden;
	height: 10px;
}

ul.parent > li {
	margin-bottom: 10px;
}

/* Navigation. */
div.nav_entry {
	border: 1px solid black;
	padding: 5px;
}

div.sortable {
	padding: 10px;
}
