{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(placeholder=field.label.text, class='form-control') }}
    </div>
{% endmacro %}

{% macro render_field_disabled(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(placeholder=field.label.text, class='form-control', disabled='') }}
    </div>
{% endmacro %}


{% macro render_button(field, cls='btn btn-default') %}
    {{ field(class=cls) }}
{% endmacro %}

{% macro render_submit(text) %}
    <div class="form-group">
        <button class='btn btn-primary' data-loading-text={{_('Loading...')}}
            type='submit'>{{ text }}</button>
    </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    <div class="form-group">
        <div class="checkbox">
            <label>
                {{ field }} {{ field.label.text }}
            </label>
        </div>
    </div>
{% endmacro %}

{% macro render_textarea(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(placeholder=field.label.text, class='form-control',
        cols='50', rows='50') }}
    </div>
{% endmacro %}

{% macro render_datefield(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class='form-control', **{'data-date-format': 'yyyy-mm-dd hh:ii'}) }}
    </div>
{% endmacro %}

<!-- Render with date and time -->
{% macro render_datetimefield_picker(field) %}
    <div class="form-group">
        {{ field.label }}
        <div class='input-group date' id='{{field.id}}'>
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            {{ field(class='form-control', **{'data-date-format': 'yyyy-mm-dd hh:ii'}) }}
        </div>
    </div>
    <script>$('#' + "{{ field.id }}").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });</script>
{% endmacro %}

<!-- Render with date only -->
{% macro render_datefield_picker(field) %}
    <div class="form-group">
        {{ field.label }}
        <div class='input-group date' id='{{field.id}}'>
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            {{ field(class='form-control', **{'data-date-format': 'yyyy-mm-dd'}) }}
        </div>
    </div>
    <script>$('#' + "{{ field.id }}").datetimepicker({ format: 'yyyy-mm-dd' });</script>
{% endmacro %}

{% macro render_select(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class='form-control') }}
    </div>
{% endmacro %}

{% macro render_file(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class='form-control') }}
    </div>
{% endmacro %}

{% macro render_education_select(field, educations, selected=None, redir=None) %}
<div class='form-group'>
    {{ field.label }}
    <div class='input-group'>
        <select id='{{ field.id }}' name='{{ field.name }}' class='form-control'>
            {% for education in educations %}
            <option value="{{ education.id }}"
                {%- if selected and education.id == selected.id %} selected="selected"{% endif -%}>
                {{education.name}}
            </option>
            {% endfor %}
        </select>
        <span class="input-group-btn">
            <a href="/education/add{% if redir %}?redir={{ redir }}{% endif %}" class="btn btn-default btn-success">
                <i class="glyphicon glyphicon-pencil"></i>
                {{_('New education')}}
            </a>
        </span>
    </div>
</div>
{% endmacro %}


{% macro render_course_select(field, courses, selected=None, redir=None) %}
<div class='form-group'>
    {{ field.label }}
    <div class='input-group'>
        <select id='{{ field.id }}' name='{{ field.name }}' class='form-control'>
            {% for course in courses %}
            <option value="{{ course.id }}"
                {%- if selected and course.id == selected.id %} selected="selected"{% endif -%}>
                {{course.name}}
            </option>
            {% endfor %}
        </select>
        <span class="input-group-btn">
            <a href="/courses/add{% if redir %}?redir={{ redir }}{% endif %}" class="btn btn-default btn-success">
                <i class="glyphicon glyphicon-pencil"></i>
                {{_('New course')}}
            </a>
        </span>
    </div>
</div>
{% endmacro %}

{% macro enable_select2() %}
        <script type='text/javascript'>
        $(function () {
            'use strict';
            $("select").select2();
        });
        </script>
{% endmacro %}
