{% from "macros/custom_form.htm" import custom_form_select %}

{#  Jinja only allows you to call a macro with **kwargs if it is used somewhere.
    Calling {{ ignore_kwargs(kwargs) }} satisfies this condition even if kwargs
    is not really used.
    This way, all render_* macros can take **kwargs
 #}
{% macro ignore_kwargs(_kwargs) %}
{% endmacro %}

{% macro _render_field_with_errors(field, field_input_html, show_cross=True) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
        {{ field.label }}
        {%- if field.description -%}
            <small> {{ field.description }}</small>
        {%- endif -%}
        {{ field_input_html }}

        {%- if field.errors -%}
            {%- if show_cross -%}
                <i class="glyphicon glyphicon-remove form-control-feedback"></i>
            {%- endif -%}
            {%- for error in field.errors -%}
                <p class="help-block">{{ error }}</p>
            {%- endfor -%}
        {%- endif -%}
    </div>
    {% endmacro %}

{% macro render_field_disabled(field) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group">
        {{ field.label }}
        {{ field(placeholder=field.label.text, class='form-control', disabled='') }}
    </div>
{% endmacro %}


{% macro render_field(field, autocomplete='on') %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, field(placeholder=field.label.text, class='form-control',
                                              autocomplete=autocomplete)) }}
{% endmacro %}

{# TODO Check if still used #}
{% macro render_button(field, cls='btn btn-default') %}
    {{ ignore_kwargs(kwargs) }}
    {{ field(class=cls) }}
{% endmacro %}

{% macro render_post_btn(url, confirm_text, btn_text) %}
    <form action="{{ url }}"
          class="form-inline" method="POST"
          onsubmit="return confirm('{{ confirm_text }}');">
        <button class='btn btn-danger'
                data-loading-text={{ _('Loading...') }} type='submit'>
            {{ btn_text }}
        </button>
    </form>
{% endmacro %}

{% macro render_submit(text) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group">
        <button class='btn btn-primary' data-loading-text={{_('Loading...')}}
            type='submit'>{{ text }}</button>
    </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group">
        <div class="checkbox">
            <label>
                {{ field }}
                {{ field.label.text }}
            </label>
        </div>
    </div>
{% endmacro %}

{% macro render_textarea(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, field(placeholder=field.label.text, class='form-control',
                cols='50', rows='50')) }}
{% endmacro %}

{% macro _render_number_input(field, step) %}
<input class="form-control" type="number" step="{{ step }}" placeholder="{{ field.label.text }}" name="{{ field.name }}"{% if field.data %} value="{{ field.data }}"{%endif%} />
{% endmacro %}

{% macro render_integer(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_number_input(field, 1)) }}
{% endmacro %}

{% macro render_decimal(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_number_input(field, "any")) }}
{% endmacro %}

{# TODO Remove once done #}
{% macro render_datefield(field) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group">
        {{ field.label }}
        {{ field(class='form-control', **{'data-date-format': 'yyyy-mm-dd hh:ii'}) }}
    </div>
{% endmacro %}

{% macro _render_datetimefield_inputgroup(field, format) %}
    <div class='input-group date' id='{{field.id}}'>
        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
        {{ field(class='form-control', placeholder=format, **{'data-date-format': '{{ format }}'}) }}
    </div>
{% endmacro %}

{% macro render_datetimefield_picker(field) %}
    {{ ignore_kwargs(kwargs) }}
{#  Convert the (most used) fields of the Python date format
    to the date format of the datetimepicker #}
{%- set format = field.format
                    | replace('%Y', 'yyyy')
                    | replace('%m', 'mm')
                    | replace('%d', 'dd')
                    | replace('%H', 'hh')
                    | replace('%M', 'ii')
                    | replace('%S', 'ss')
-%}
{{ _render_field_with_errors(field, _render_datetimefield_inputgroup(field, format)) }}
    <script>$("#{{ field.id }}").datetimepicker({ format: '{{ format }}' });</script>
{% endmacro %}

<!-- Render with date only -->
{# TODO Remove once done #}
{% macro render_datefield_picker(field) %}
{{ _render_field_with_errors(field, _render_datetimefield_inputgroup(field, 'yyyy-mm-dd')) }}
    <script>$("#{{ field.id }}").datetimepicker({ format: 'yyyy-mm-dd' });</script>
{% endmacro %}

{% macro render_select(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, field(class='form-control'), False) }}
{% endmacro %}

{# TODO Remove once done #}
{% macro render_file(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ render_field(field) }}
{% endmacro %}

{% macro render_custom_form_selecter(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, custom_form_select(field.name, field.data, field.id), False) }}
{% endmacro %}

{% macro _render_select_options(field) %}
    <select id='{{ field.id }}' name='{{ field.name }}' class='form-control'>
    {% for value, label, selected in field.iter_choices() %}
    <option value="{{ value }}" {%- if selected -%}selected="selected"{%- endif -%}>
        {{ label }}
    </option>
    {% endfor %}
    </select>
{% endmacro %}

{% macro _render_course_select_inputgroup(field) %}
    <div class='input-group'>
        {{ _render_select_options(field) }}
        <span class="input-group-btn">
            <a href="{{ url_for('examination.add_course') }}" class="btn btn-default btn-success">
                <i class="glyphicon glyphicon-pencil"></i>
                {{_('New course')}}
            </a>
        </span>
    </div>
{% endmacro %}

{% macro render_course_select(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_course_select_inputgroup(field), False) }}
{% endmacro %}

{% macro _render_education_select_inputgroup(field) %}
    <div class='input-group'>
        {{ _render_select_options(field) }}
        <span class="input-group-btn">
            <a href="{{ url_for('examination.add_education') }}" class="btn btn-default btn-success">
                <i class="glyphicon glyphicon-pencil"></i>
                {{_('New education')}}
            </a>
        </span>
    </div>
{% endmacro %}

{% macro render_education_select(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_education_select_inputgroup(field), False) }}
{% endmacro %}

{% macro _render_radiobuttons_list(field) %}
{% for value, label, selected in field.iter_choices() %}
<div class="radio">
    <label>
        <input type="radio" name="{{ field.name }}" value="{{ value }}" {%- if selected -%}checked="checked"{%- endif -%}>
        {{ label }}
    </label>
</div>
{% endfor %}
{% endmacro %}

{% macro render_radio_buttons(field) %}
    {{ ignore_kwargs(kwargs) }}
    {{ _render_field_with_errors(field, _render_radiobuttons_list(field), False) }}
{% endmacro %}

{% macro render_recaptcha(field) %}
    {{ ignore_kwargs(kwargs) }}
    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
        {{ field(class='form-control') }}
        {%- if field.errors -%}
        <p class="help-block">{{ _("Please verify that you are not a robot.") }}</p>
        {%- endif -%}
    </div>
{% endmacro %}

{% macro _render_email_list_input(field, domain) %}
    <div class="input-group">
      {{ field(class='form-control') }}
      <span class="input-group-addon">@{{ domain }}</span>
    </div>
{% endmacro %}

{% macro render_email_list(field) %}
    {%- set domain = kwargs.get('domain', 'svia.nl') -%}
    {{ _render_field_with_errors(field, _render_email_list_input(field, domain), False) }}
{% endmacro %}

{% macro render_tabs(field) %}
{# We use this group id in the ids of the tabs, to make them unique for this group #}
{%- set group_id = field.hex_id -%}
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    {%- for i, (tab_name, _) in enumerate(field) -%}
                    <li{% if i == 0 %} class="active"{% endif %}>
                        <a data-toggle="tab" href="#tab_{{ group_id }}_{{ i }}">
                            {{ tab_name }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    {%- for i, (tab_name, tab_fields) in enumerate(field) %}
                    <div id="tab_{{ group_id }}_{{ i }}" class="tab-pane fade{% if i == 0 %} in active{% endif %}">
                        {%- for field in tab_fields -%}
                        {{ _render_field_internal(field, **kwargs) }}
                        {%- endfor -%}
                    </div>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_vsplit(vsplit) %}
<div class="row">
{% for i, field_list in enumerate(vsplit) %}
    <div class="col-md-{{ vsplit.column_sizes[i] }}
        {%- if vsplit.spacing_sizes[i] > 0 %} col-md-offset-{{ vsplit.spacing_sizes[i] }}{% endif %}">
        {% for field in field_list %}
        {{ _render_field_internal(field, **kwargs) }}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endmacro %}

{% macro _render_field_internal(f) %}
    {%- set render_before_hook = kwargs.get('render_before_hook', None) -%}
    {%- set render_after_hook = kwargs.get('render_after_hook', None) -%}
    {%- set extra_field_renderers = kwargs.get('extra_field_renderers', {}) -%}
    {%- if render_before_hook -%}
    {{ render_before_hook(f) }}
    {%- endif -%}

    {%- if f.type in extra_field_renderers -%}
        {{ extra_field_renderers[f.type](f, **kwargs) }}
    {%- elif f.type == 'BooleanField' -%}
        {{ render_checkbox(f, **kwargs) }}
    {%- elif f.type == 'CustomFormSelectField' -%}
        {{ render_custom_form_selecter(f, **kwargs) }}
    {%- elif f.type == 'DateField' or f.type == 'DateTimeField' -%}
        {{ render_datetimefield_picker(f, **kwargs) }}
    {%- elif f.type == 'DecimalField' -%}
        {{ render_decimal(f, **kwargs) }}
    {%- elif f.type == 'IntegerField' -%}
        {{ render_integer(f, **kwargs) }}
    {%- elif f.type == 'RadioField' -%}
        {{ render_radio_buttons(f, **kwargs) }}
    {%- elif f.type == 'SelectField' -%}
        {{ render_select(f, **kwargs) }}
    {%- elif f.type == 'QuerySelectField' -%}
        {{ render_select(f, **kwargs) }}
    {%- elif f.type == 'SubmitField' -%}
        {{ render_submit(f.label.text, **kwargs) }}
    {%- elif f.type == 'TextAreaField' -%}
        {{ render_textarea(f, **kwargs) }}
    {%- elif f.type == 'CourseSelectField' -%}
        {{ render_course_select(f, **kwargs) }}
    {%- elif f.type == 'EducationSelectField' -%}
        {{ render_education_select(f, **kwargs) }}
    {%- elif f.type == 'FieldTabGroup' -%}
        {{ render_tabs(f, **kwargs) }}
    {%- elif f.type == 'FieldVerticalSplit' -%}
        {{ render_vsplit(f, **kwargs) }}
    {%- elif f.type == 'RecaptchaField' -%}
        {{ render_recaptcha(f, **kwargs) }}
    {%- elif f.type == 'EmailListField' -%}
        {{ render_email_list(f, **kwargs) }}
    {%- elif f.type != 'CSRFTokenField' -%}
        {{ render_field(f, **kwargs) }}
    {%- endif -%}
    {%- if render_after_hook -%}
    {{ render_after_hook(f) }}
    {%- endif -%}
{% endmacro %}

{% macro render_form(form, action,
                     form_id='', form_name='', form_class='',
                     submit_id='', submit_text='',
                     extra_field_renderers={}, submit_renderer=None,
                     render_before_hook=None, render_after_hook=None) %}

{%- set form_wrapped = FormWrapper(form) -%}
<form method="POST" action="{{ action }}" enctype="multipart/form-data" class="{{ form_class }}" name="{{ form_name }}">
    {{ form_wrapped.csrf_token }}
    {%- for f in form_wrapped -%}
    {{ _render_field_internal(f, extra_field_renderers=extra_field_renderers,
                              render_before_hook=render_before_hook,
                              render_after_hook=render_after_hook, **kwargs) }}
    {%- endfor -%}
    {%- if not submit_text or submit_text == '' -%}
    {%- set submit_text = _('Submit') -%}
    {%- endif -%}
    {%- if not form_wrapped.has_submit_field -%}
    {%- if submit_renderer -%}
    {{ submit_renderer() }}
    {%- else -%}
    {{ render_submit(submit_text) }}
    {%- endif -%}
    {%- endif -%}
    {%- if form_wrapped.has_select_fields -%}
    {{ enable_select2() }}
    {%- endif -%}
    {%- if form_wrapped.has_custom_form_fields -%}
    <script src='{{static_url('/static/js/custom_form/loader.js')}}'></script>
    {%- endif -%}
</form>
{% endmacro %}

{% macro enable_select2() %}
<script type='text/javascript'>
    $(function () {
        'use strict';
        $("select").select2();
    });
</script>
{% endmacro %}
