{% macro render_uvanetid_signin_button(label, small=False) %}
    <a href="{{ url_for('saml.login') }}" class="btn btn-primary uvanetid-sign-in-btn{% if small %}-small{% endif %}">
        <div class="uvanetid-sign-in-hover"></div>
        <img src="{{ static_url('/static/img/uvalogo_tag_d.svg') }}" class="uvanetid-sign-in-tag{% if small %}-small{% endif %}"/>
        <p class="uvanetid-sign-in-text{% if small %}-small{% endif %}">{{ label }}</p>
        <div class="uvanetid-sign-in-text-bg{% if small %}-small{% endif %}"></div>
    </a>
{% endmacro %}
