
#carousel {
    padding: 0px;
    margin: 0px;

    div {
        text-align: center;
        position: relative;
        float: left;
        display: block;
        width: 200px;
        padding: 0 20px;

        img {
            border: none;
            width: auto;
            max-height: 160px;
        }
    }

    div:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }

    div span {
        display: none;
    }

    div:hover span {
        background-color: #333;
        color: #fff;
        font-family: Arial, Geneva, SunSans-Regular, sans-serif;
        font-size: 14px;
        line-height: 22px;
        display: inline-block;
        width: 100px;
        padding: 2px 0;
        margin: 0 0 0 -50px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        border-radius: 3px;
    }

    div:hover span,
    div.hover span {
        background-color: #333;
        color: #fff;
        display: inline-block;
        width: 100px;
        padding: 2px 0;
        margin: 0 0 0 -50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 3px;
    }
}
