
.pimpy-btn-group {
    margin-bottom: 8px;
}

.pimpy-menu {
    width: 75px;
}

.pimpy-menu-group {
    width: 150px;
}

.pimpy-group-head-td {
    border: none !important;
    padding: 0 !important;
}

.pimpy-group-head-td:hover {
    background: none !important;
}

.pimpy-user-head-td {
    border: none !important;
    padding: 0 !important;
}

.pimpy-user-head-td:hover {
    background: none !important;
}

.pimpy_task {
    padding-left: 0;
    padding-right: 0;
    width: 50px;
}

.pimpy_task_task {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pimpy_task_users {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pimpy_line_number {
    width: 6%;
    float: left;
    padding-top: 8px;
    font-size: 10px;
    font-style: oblique;
}

.pimpy_minute_styled {
    padding: 10px;
    font-family: sans-serif;
}

a.pimpy_minute_line{
    display: block;
    color: black;
    padding: 2px 0px;
    text-decoration: none;
    border-bottom: 1px solid #efecec;
}

.logo.pimpy {
    float: right;
    margin-top: 13px;
    height: 100px;
}
