{% from "macros/form.htm" import render_field, render_select, render_datetimefield_picker %}

{% extends "content.htm" %}
{% block content %}

    {% if activity.id: %}
        <form method="post" class="pull-right"
            action="{{ url_for('activity.remove_activity', activity_id=activity.id) }}">
            <button class="confirmation btn btn-danger btn-xs" type="submit">
                {{ _("Delete activity") }}
            </button>
        </form>
    {% endif %}

    <h1>{{_('Activity')}}</h1>

    <form method="post" enctype="multipart/form-data">

        <div class='row'>
            <div class='col-md-12'>
                {{ form.csrf_token }}
                {{ render_select(form.form_id) }}

                <a class="show-window btn btn-xs btn-success" target="_blank"
                    href="{{ url_for('custom_form.create')}}">
                    {{ _("Create form") }}
                </a>
                <small>
                    {{ _("You have to reload the page for the result") }}
                </small>

            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#lang_dutch">
                                    {{_('Dutch details') }}
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#lang_english">
                                    {{ _('English details') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="lang_dutch" class="tab-pane fade in active">
                                {{ render_field(form.nl_name) }}
                                {{ render_field(form.nl_description) }}
                            </div>
                            <div id="lang_english" class="tab-pane fade">
                                {{ render_field(form.en_name) }}
                                {{ render_field(form.en_description) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info">
            <b>{{_('Tip')}}</b>
            {{_('Select a time and date by clicking on the clock')}}
        </div>

        <div class='row'>
            <div class='col-md-6'>
                {{ render_datetimefield_picker(form.start_time) }}
            </div>
            <div class='col-md-6'>
                {{ render_datetimefield_picker(form.end_time) }}
            </div>
        </div>

        {{ render_field(form.location) }}
        {{ render_field(form.price) }}

        {% if form.data.picture %}
            <p>{{_('Current image')}}:<br>
                <img src="/static/activity_pictures/{{ form.data.picture }}"
                style="height:200px;width:auto;"/>
            </p>
        {% endif %}

        {{ render_field(form.picture) }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{{_('Save')}}</button>
            </div>
        </div>
    </form>
{% endblock %}
