{% from "macros/form.htm" import render_field, render_select %}

{% extends "content.htm" %}

{% block includes %}
    <script src={{static_url("/static/js/form.date.helper.js")}}></script>
{% endblock %}

{% block content %}

{% if activity.id: %}
<form method="post" class="pull-right" action="{{ url_for('activity.remove_activity', activity_id=activity.id) }}">
<button class="confirmation btn btn-danger btn-xs" type="submit"> {{ _("Verwijder activiteit") }}</button>
</form>
{% endif %}


<h1>Activiteit</h1>

<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ render_select(form.form_id) }}
    <small>{{ _("Je moet de pagina opnieuw laden voor resultaat") }}</small>

    <a class="show-window btn btn-success" target="_blank" href="http://{{ request.host }}/forms/create/">
      {{ _("Formulier aanmaken") }}
    </a>

        {{ render_field(form.name) }}
        {{ render_field(form.description) }}

        <div class="control-group">
            <div class="controls">
                <div class="alert alert-info">
                    <b>Tip</b>
                    Selecteer een datum en tijd door op de klok te klikken
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Start datum + tijd
            </label>

            <div class="controls form-inline">
                <div id="datetime_start" class="input-append date">
                    <div class="controls form-inline">
                        <input data-format="yyyy-MM-dd hh:mm" class="form-control" name='start_date' id='start_date' type="text" value="{{ activity.format_form_time(form.start_time.data) }}"></input>
                    </div>
                    <span class="add-on" id="datetime_start_picker">
                        <i data-time-icon="glyphicon glyphicon-time" style="opacity:0;" data-date-icon="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Eind datum + tijd
            </label>

            <div class="controls form-inline">
                <div id="datetime_end" class="input-append date" >
                    <input data-format="yyyy-MM-dd hh:mm" class="form-control" type="text" name='end_date' id='end_date' value="{{ activity.format_form_time(form.end_time.data) }}"></input>
                    <span class="add-on">
                        <i data-time-icon="glyphicon glyphicon-time" style="opacity:0" id="datetime_end_picker" data-date-icon="glyphicon glyphicon-calendar">
                        </i>
                    </span>
                </div>
            </div>
        </div>

        {{ render_field(form.location) }}
        {{ render_field(form.price) }}

        {% if form.data.picture %}
            <p>Huidig plaatje:<br>
            <img src="/static/activity_pictures/{{ form.data.picture }}" style="height:200px;width:auto;">
        {% endif %}

        {{ render_field(form.picture) }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </div>
    </div>
</form>

<script>
$(function() {
    $('#datetime_start').datetimepicker({
        language: 'en',
    });
});

$(function() {
    $('#datetime_end').datetimepicker({
        language: 'en',
    });
});

/* Ugly hack to open the datetime picker */
$(document).on("click", "#start_date" , function(e){
    $("#datetime_start_picker").click();
});

/* Ugly hack to open the datetime picker */
$(document).on("click", "#end_date" , function(e){
    $("#datetime_end_picker").click();
});

</script>

{% endblock %}
