{% from "macros/form.htm" import render_field %}

{% extends "content.htm" %}

{% block content %}

<script src='/static/js/datepicker.js'></script>
<script src='/static/js/timepicker.js'></script>
<link href='/static/css/timepicker.css' rel='stylesheet'>
<link href='/static/css/datepicker.css' rel='stylesheet'>

<form action="" method="post" enctype="multipart/form-data">

		{{ form.csrf_token }}
		{{ render_field(form.name) }}
		{{ render_field(form.description) }}

		<div class="control-group">
			<div class="controls">
				<div class="alert alert-info">
					<b>Tip</b>
					Please select a date and time, using timepickers (click the clock)
				</div>
			</div>
		</div>

		<div class="control-group">
			<span class="control-label">
				Start date + time
			</span>

			<div class="controls form-inline">
				<input type='date' name='start_date' id='start_date' data-date-format="yyyy-mm-dd">

				<div class="input-append bootstrap-timepicker">
					<input type='text' name='start_time' id="start_time" class="input-small">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>

		<div class="control-group">
			<span class="control-label">
				End date + time
			</span>

			<div class="controls form-inline">
				<input type='date' name='end_date' id='end_date' data-date-format="yyyy-mm-dd">

				<div class="input-append bootstrap-timepicker">
					<input type='text' name='end_time' id="end_time" class="input-small">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>

		{{ render_field(form.location) }}
		<!--{{ render_field(form.privacy) }}-->
		{{ render_field(form.picture) }}

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Create activity</button>
		</div>
	</div>
</form>

<script>
$(document).ready(function() {
	// Check eyecon.ro/bootstrap-datepicke
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	
	var checkin = $('#start_date').datepicker({
		onRender: function(date) {return date.valueOf() < now.valueOf() ? 'disabled' : '';}
	}).on('changeDate', function(ev) {
		if (ev.date.valueOf() > checkout.date.valueOf()) {
			var newDate = new Date(ev.date)
			newDate.setDate(newDate.getDate());
			checkout.setValue(newDate);
		}
	
		checkin.hide();
		$('#end_date')[0].focus();
	}).data('datepicker');
	
	var checkout = $('#end_date').datepicker({
		onRender: function(date) {
		return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
	}}).on('changeDate', function(ev) {checkout.hide();}).data('datepicker');

	$("#start_time").timepicker({showMeridian:false, defaultTime: "17:00"});
	$("#end_time").timepicker({showMeridian:false, defaultTime: "22:00"});
});
</script>
{% endblock %}

