<a style="color: #333;" href="/activities"><h1>Activiteitenoverzicht</h1></a>

{% for activity in activities.items[:4] %}

<div class="activity-simple">
	<h4>
		<a href="{{ url_for('activity.get_activity', activity_id=activity.id)}}">
			{{ activity.name }}
		</a>
	</h4>

	<div>
		<i class="icon-calendar"></i>
		{{ activity.get_time() }}
		<br>

		<i class="icon-compass"></i>
		{{ activity.location }}
	</div>

	{{ activity.get_short_description(50) | markdown }}

</div>

{% endfor %}

Heb je een idee voor een activiteit?<br>
Stuur een mailtje naar de <a href="mailto:actie@svia.nl">actiecommissie</a>.
