{% from "macros/activity_pagination.htm" import render_activity_pagination %}

{% extends "content.htm" %}

{% block content %}

<div class="btn-group">
	{% if GroupPermissionAPI.can_write('activity') %}
		<a href="/activities/create/" class="btn btn-success">Nieuwe activiteit</a>
	{% endif %}

	<a href="/activities/" class="btn btn-info">Toon aankomende activiteiten</a>
	<a href="/activities/archive/" class="btn btn-default">Toon activiteiten in het archief</a>
</div>

<div class="activity">
	{% for activity in activities.items %}

	<a href="{{ url_for('activity.get_activity', activity_id=activity.id)}}">
		<div class="activity-block">
			<div class="row">
				<div class="col-md-4 image">
					{% if activity.picture %}
						<img src="/static/activity_pictures/{{ activity.picture }}">
					{% else %}
						<img src="/static/img/via_thumbnail.png">
					{% endif %}
				</div>

				<div class="col-md-8">
					<h1>
							{{activity.name}}
					</h1>

					<dl class="time dl-horizontal">
						<dt><i class="glyphicon glyphicon-compass"></i></dt>
						<dd>{{ activity.location}}</dd>
						<dt><i class="glyphicon glyphicon-calendar"></i></dt>
						<dd>{{ activity.get_time() }}</dd>
					</dl>
					<h2>
						{% if activity.price != "gratis" %}
                            &euro;
						{% endif %}
							{{ activity.price}}
					</h2>

				</div>
				<div class="col-md-8 short_content">
					{{ activity.get_short_description(600) | markdown }}
				</div>
			</div>
		</div>
	</a>

	{% endfor %}
</div>

<hr />

{{ render_activity_pagination(activities, 'activity.view', archive) }}
{% endblock %}

