{% from "macros/maps.htm" import render_map %}

{% extends "content.htm" %}

{% block content %}

<div class="page-header">
	{% if current_user and current_user.email == "administrator@svia.nl" %}
	<a href="/activities/edit/{{ activity.id }}" class="btn btn-warning pull-right">
		<i class="icon-pencil"></i> Edit
	</a>
	{% endif %}

	<h1>{{activity.name}}</h1>
</div>

<div class="accordion" id="acc">
	<div class="accordion-group">

		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#acc" href="#collapseLocation">
				Lokatie: {{ activity.location}}
				<span class="pull-right">Klik om uit te klappen</span>
			</a>
		</div>

		<div id="collapseLocation" class="accordion-body collapse">
			<div class="accordion-inner">
				{{ render_map(600, 400, activity.location) }}
			</div>
		</div>

	</div>
</div>

<div class="row-fluid">
	<div class="span8">
		<h4>Prijs: <em>{{ activity.price}}</em></h4>
		
		<div class="time">
			<i class="icon-time"></i>
			{{ activity.get_time() }}
		</div>


		<hr>
		<p>{{ activity.description}}</p>
	</div>

	<div class="span4">
		<img src="/static/activity_pictures/{{ activity.picture }}">
	</div>
</div>

{% endblock %}
