<h1>Activiteitenoverzicht</h1>

{% for activity in activities.items %}

<div class="activity-simple">
	<h4>
		<a href="{{ url_for('activity.get_activity', activity_id=activity.id)}}">
			{{ activity.name }}
		</a>
	</h4>

	<div>
		<i class="icon-calendar"></i>
		{{ activity.get_time() }}
		<br>
	
		<i class="icon-compass"></i>
		{{ activity.location }}
	</div>

	{{ activity.get_short_description(200) | markdown }}

	<a href="{{ url_for('activity.get_activity', activity_id=activity.id)}}" class="btn btn-primary">
		Lees verder
	</a>
</div>

{% endfor %}
