{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{%block content %}

<form action="" method="post" name="activity_view">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>

		<tbody>
			{% for activity in activities.items %}
				<tr>
					<td>
						<label class="checkbox">
							<input type=checkbox name="select" value="{{ activity.id }}" />
							<a href="/activity/{{ activity.id }}">{{ activity.name }}</a>
						</label>
					</td>
					<td>
						{{ activity.start_time.strftime("%a, %d %b. (%H:%M)")}}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="btn-group">
		<a href="/activity/create/" class="btn">Create</a>
	</div>

	{{ render_pagination(activities, 'activity.view') }}
</form>
{% endblock %}

