{% from "macros/maps.htm" import render_map %}

{% extends "content.htm" %}

{% block content %}

<div class="page-header">
	<a href="/activities/activity/edit/{{ activity.id }}" class="btn btn-warning pull-right">
		<i class="icon-pencil"></i> Edit
	</a>

	<h1>{{activity.name}}</h1>

</div>

<h3>Lokatie: {{ activity.location}}</h3>

<div class="row-fluid">
	<div class="span8">

		<h4>Prijs: <em>{{ activity.price}}</em></h4>

		<table class="table">
			<tr>
				<th>Aanvang
				<th>Einde

			<tr>
				<td>{{ activity.start_time.strftime("%a, %d %b. (%H:%M)")}}
			  <td>{{ activity.end_time.strftime("%a, %d %b. (%H:%M)")}}
		</table>

		<hr>
		<p>{{ activity.description}}</p>

		<hr>

		<h3>Locatie</h3>

		{{ render_map(500, 500, activity.location) }}
	</div>

	<div class="span4">
		<img src="/static/activity_pictures/{{ activity.picture }}">
	</div>
</div>

{% endblock %}
