<div class="page-header"><a style="color: #333;" href="/activities"><h1>Activiteitenoverzicht</h1></a></div>

<div class="activity-simple-list">
{% for activity in activities.items[:4] %}
<div class="activity-simple">
	<div class="activity-simple-image">
		{% if activity.picture %}
		<img src="/static/activity_pictures/{{ activity.picture }}">
		{% else %}
		<img src="/static/img/via_thumbnail.png">
		{% endif %}
	</div>
	<h4>
		<a href="{{ url_for('activity.get_activity', activity_id=activity.id)}}">
			{{ activity.name }}
		</a>
        <small class="pull-right">
            {{ activity.till_now() }}
        </small>
	</h4>

	<div>
		<i class="glyphicon glyphicon-calendar"></i>
		{{ activity.get_time() }}
		<br>

		<i class="glyphicon glyphicon-home"></i>
		{{ activity.location }}
	</div>
</div>

{% endfor %}
</div>

<div class="activity-simple-list">
Heb je een idee voor een activiteit?<br>
Stuur een mailtje naar de <a href="mailto:actie@svia.nl">actiecommissie</a>.
</div>
