{% extends "content.htm" %}

{% block content %}

<h1>{{activity.name}}</h1>
<h3>Lokatie: {{ activity.location}}</h3>

<div class="row-fluid">
	<div class="span8">

		<h4>Prijs: <em>{{ activity.price}}</em></h4>

		<table class="table">
			<tr>
				<th>Aanvang
				<th>Einde

			<tr>
				<td>{{ activity.start_time.strftime("%a, %d %b. (%H:%M)")}}
			  <td>{{ activity.end_time.strftime("%a, %d %b. (%H:%M)")}}
		</table>

		<hr>
		<p>{{ activity.description}}
	</div>

	<div class="span4">
		<img src="/static/activity_pictures/{{ activity.picture }}">
	</div>

</div>

{% endblock %}
