{% from "macros/form.htm" import render_form %}
{% extends "content.htm" %}

{% block content %}

    <legend>{{_('Company')}} {% if company.id %}{{_('edit')}}{% else %}{{_('create')}}{% endif %}</legend>
    {{ render_form(form) }}

    {% if company.id %}
    <form onsubmit="return confirm('Wilt u {{company.name}} echt verwijderen?');" action="{{ url_for('company.delete', company_id=company.id) }}" method="post">
        <fieldset>
            <button class="btn btn-danger" type="submit">{{_('Delete')}}</button>
        </fieldset>
    </form>
    {% endif %}

{% endblock %}
