{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block includes %}
    <script src="{{static_url("/static/js/company/view.js")}}"></script>
{% endblock %}

{% block content %}
    {% include 'company/menu.htm' %}
    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Naam</th>
                <th>Website</th>
                <th>Locatie</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Website</th>
                <th>Locatie</th>
            </tr>
        </tfoot>
    </table>

<script>
$( document ).ready(function() {

    /* Prevent the expand function being called when clicking on a link */
    $( document).on('click', 'a.search_click', function(e){
        e.preventdefaults();
        document.location.href=$(this).attr("href");
    });
});
</script>
{% endblock %}
