{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block includes %}
    <script>
        var get_companies = "{{ url_for('company.get_companies') }}"
    </script>
    <script src="{{static_url("/static/js/company/view.js")}}"></script>
{% endblock %}

{% block content %}
	<div class="col-md-12">
	{% if ModuleAPI.can_write('location') %}
		<a class="btn btn-primary" href="{{ url_for('location.view') }}">Nieuwe locatie</a>
	{% endif %}
	{% if ModuleAPI.can_write('contact') %}
		<a class="btn btn-primary" href="{{ url_for('contact.edit') }}">Nieuw contact</a>
	{% endif %}
	{% if ModuleAPI.can_write('company') %}
		<a class="btn btn-primary" href="{{ url_for('company.edit') }}">Nieuw bedrijf</a>
	{% endif %}
	{% if ModuleAPI.can_write('vacancy') %}
		<a class="btn btn-primary" href="{{ url_for('vacancy.edit') }}">Nieuwe vacature</a>
	{% endif %}
	<br/>
	<br/>
    <div class="row">
        <div class="col-md-12">
            <table id="datatable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Naam</th>
                        <th>Website</th>
                        <th>Locatie</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Naam</th>
                        <th>Website</th>
                        <th>Locatie</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

	</div>
<script>
$( document ).ready(function() {

    /* Prevent the expand function being called when clicking on a link */
    $( document).on('click', 'a.search_click', function(e){
        e.preventdefaults();
        document.location.href=$(this).attr("href");
    });
});
</script>
{% endblock %}
