{% if can_write %}
<div class="btn-group">
    <a class="btn btn-primary" href="{{ url_for('location.list') }}">{{_('All locations')}}</a>
    <a class="btn btn-primary" href="{{ url_for('contact.list') }}">{{_('All contacts')}}</a>
    <a class="btn btn-primary" href="{{ url_for('company.list') }}">{{_('All companies')}}</a>
    <a class="btn btn-primary" href="{{ url_for('vacancy.list') }}">{{_('All vacancies')}}</a>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <i class='glyphicon glyphicon-plus'></i>
        <span class="hidden-xs">{{ _('Add') }}</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class='dropdown-item' href="{{ url_for('location.edit') }}">{{_('New location')}}</a>
        </li>
        <li>
            <a class='dropdown-item' href="{{ url_for('contact.edit') }}">{{_('New contact')}}</a>
        </li>
        <li>
            <a class='dropdown-item' href="{{ url_for('company.edit') }}">{{_('New company')}}</a>
        </li>
        <li>
            <a class='dropdown-item' href="{{ url_for('vacancy.edit') }}">{{_('New vacancy')}}</a>
        </li>
    </ul>
</div>
{% endif %}