{% extends 'content.htm' %}
{% block page %}
    <div class='row'>
        <div class='col-md-9 col-md-offset-1'>
            <p>
                <a href="{{ url_for('news.list') }}">{{ _('News') }}</a>
                <i class='fa fa-chevron-right'></i>
                <a href="{{ url_for('news.view', news_id=news.id) }}">{{ news.title }}</a>
            </p>
        </div>
        <div class='col-md-9 col-md-offset-1 well'>
            <div class='page-header'>
                {% if can_write %}
                    <div class='btn-group pull-right'>
                        <a class='btn btn-warning btn-xs' href='
                            {{ url_for('news.edit', news_id=news.id) }}'>
                            <i class='fa fa-edit'></i> {{ _('Edit news item') }}
                        </a>
                        <a class='btn btn-danger btn-xs' href='
                            {{ url_for('news.delete', news_id=news.id) }}'>
                            <i class='fa fa-remove'></i> {{ _('Delete news item') }}
                        </a>
                    </div>
                {% endif %}

                <h1>{{ news.title }}</h1>
            </div>

            <div class='row'>
                <div class='col-md-6'>
                    {{_('Written by')}}: <em>{{ news.user.name }}</em>
                </div>
                {% if (news.modified - news.created) >= datetime.timedelta(0, 1) %}
                    <div class='col-md-6'>
                        {{_('Last modified')}}: <em>{{ news.modified.strftime(constants.DATE_FORMAT) }}</em> {{_('at')}} <em>{{ news.modified.strftime(constants.TIME_FORMAT) }}</em><br />
                    </div>
                {% endif %}
                <div class='col-md-6'>
                    {{_('Published at')}}: <em>{{ news.publish_date.strftime(constants.DATE_FORMAT) }}</em>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-md-12 content'>{{ news.content | markdown }}</div>
            </div>
        </div>
    </div>
{% endblock %}
