{% extends 'base.htm' %}

{% block page %}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            {% for revision in data %}
                {% if revision.test == "laatste_bestuursblog" %}
                    <div class="col-sm-7 newsrole">
                {% else %}
                    <div class="col-sm-5">
                {% endif %}
                    <div class="mainblock scroll">
                        {% if revision.activity %}
                            {{ revision.activity | safe }}
                        {% else %}
                        <div class="page-header">
                            <h1>{{ revision.title }}</h1>
                        </div>
                        <p>{{ revision.content | markdown(revision.filter_html) }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
