{% from "macros/form.htm" import render_submit, render_checkbox, render_field, render_select, enable_select2, render_custom_form_selecter %}
{% from "macros/custom_form.htm" import custom_form_select %}
{% extends "content.htm" %}

{% block includes %}
    <script src='{{static_url('/static/js/custom_form/loader.js')}}'></script>
    <script src='{{ static_url('/static/js/page/custom_read_permission.js') }}'></script>
{% endblock %}

{% block content %}
    <h1>
        {% if page.id %}
            {{ _('Edit') }}
        {% else %}
            {{ _('Create') }}
        {% endif %}
        {{ _('page') }}
    </h1>

    <form method="post" id="edit_page">
        <fieldset>
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#lang_dutch">
                                        {{_('Dutch details') }}
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#lang_english">
                                        {{ _('English details') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="lang_dutch" class="tab-pane fade in active">
                                    {{ render_field(form.nl_title) }}
                                    {{ render_field(form.nl_content) }}
                                </div>
                                <div id="lang_english" class="tab-pane fade">
                                    {{ render_field(form.en_title) }}
                                    {{ render_field(form.en_content) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-12'>
                    {{ render_field(form.comment) }}
                </div>
                <div class='col-md-12'>
                    {{ render_custom_form_selecter(form.custom_form_id) }}
                </div>
                <div class='col-md-6'>
                    {{ render_checkbox(form.needs_paid) }}
                </div>
                <div class='col-md-6'>
                    {{ render_checkbox(form.filter_html) }}
                </div>

                <div class="col-md-12">
                    {{ render_checkbox(form.custom_read_permission) }}
                    {{ render_field(form.read_groups) }}
                    {{ enable_select2() }}
                </div>
            </div>
            {{ render_submit(_('Save')) }}
        </fieldset>
    </form>
    {% if page.id %}
        <a href='{{ url_for('page.delete', path=page.path) }}' class="btn btn-danger">{{_('Remove page') }}</a>
    {% endif %}

{% endblock %}
