{% from "macros/form.htm" import render_submit, render_checkbox, render_field, render_select, render_form %} {% from "macros/custom_form.htm"
import custom_form_select %} {% extends "content.htm" %} {% block includes %}

<script src={{static_url( "/static/js/page/filter_groups.js")}}></script>
<script src='{{static_url(' /static/js/custom_form/loader.js ')}}'></script>
{% endblock %} {% block content %}
<div class='row'>
    <div class='col-sm-12'>
        <h1>
            {% if page.id %} {{ _('Edit') }} {% else %} {{ _('Create')}} {% endif %} {{ _('page') }}
        </h1>
    </div>
</div>

{{ render_form(form) }}


{% if page.id %}
<a href='{{ url_for('page.delete', path=page.path) }}' class="btn btn-danger">{{_('Remove page') }}</a> {% endif %} {%
endblock %}