<br />
<div class="row">
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll('.carousel[data-type="multi"] .item').forEach(function(){
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < 4; i++) {
                    next=next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        }, false);
    </script>

    <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="4000">
        <div class="carousel-inner">
            {% for i, company in  enumerate(CompanyAPI.get_carousel()) %}
                {% if i == 0 %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <a href="{{company.website}}">
                            <img alt="{{company.name}}" src="{{ url_for('company.view_logo', company_id=company.id) }}" class="company-logo">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <a style="margin: 5px;" href="http://true.nl" class='pull-right'>
            <img src="/static/files/truelogo.png">
        </a>
    </div>
</div>
