{% macro render_entry_list(entry) %}
	<div class="nav_entry" data-entry-id="{{ entry.id }}">
		<a href="{{ url_for('navigation.edit', entry_id=entry.id) }}">
			{{ entry.title }}
		</a>

		{% if GroupPermissionAPI.can_write('navigation') %}
			<a class="btn btn-success pull-right" href="{{ url_for('navigation.edit', parent_id=entry.id) }}">
				<i class="icon-plus"></i>
			</a>
		{% endif %}

		<div class="sortable">
			{% for child in entry.children %}
				{{ render_entry_list(child) }}
			{% endfor %}
		</div>
	</div>
{% endmacro %}
