{% from "navigation/entry_list.htm" import render_entry_list %}

{% extends "content.htm" %}

{% block content %}

	<p><a href="{{ url_for('navigation.edit') }}">Nieuw item</a></p>

	{% if entries %}
		<ul class="sortable" id="outer">
			<li class="leave-alone"></li>
			{% for entry in entries %}
				{{ render_entry_list(entry) }}
			{% endfor %}
		</ul>
	{% endif %}

	<script>
	$(function() {
		$('.sortable').sortable({
				connectWith: $('.sortable'),
				items: '> li[class!="leave-alone"]',
				stop: function(event, ui) {
					var list = crawl_entries($('#outer'));
					$.post('{{ url_for("navigation.reorder") }}',
							{entries: JSON.stringify(list)},
							function(data) {
								console.log(data);
							}
					);
				}
		});
	});

	function crawl_entries($list) {
		var list = [];

		$list.children('li[class!="leave-alone"]').
				each(function (index, element) {
					var $element = $(element);
					var $deeper_list = $element.children('ul.sortable:first');
					var children = crawl_entries($deeper_list);
					var data = {
						'id': $element.data('entry-id'),
						'children': children
					};
					list.push(data);
				}
		);

		return list;
	}
	</script>

{% endblock %}
