<ul class="nav nav-pills">
	{% for entry in entries %}

		{% if entry.children %}
			<li class="dropdown">
				{% if entry.external == False %}
					<a class="dropdown-toggle" data-hover="dropdown" data-delay="200" data-close-others="true" href="{{ entry.url }}">
				{% else %}
					<a class="dropdown-toggle" data-hover="dropdown" data-delay="200" data-close-others="true" href="http://{{ entry.url }}">
				{% endif %}
					{{ entry.title }}
				</a>

				<ul class="dropdown-menu">
					{% for child in entry.children %}
						<li><a href="{{ child.url }}">{{ child.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li class="">
				{% if entry.external == False %}
					<a href="{{ entry.url }}">
				{% else %}
					<a href="http://{{ entry.url }}">
				{% endif %}
					{{ entry.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
