
{% if current != None %}
<div class="span2">
<ul class="nav nav-stacked nav-tabs">

	<li>

		{% if back %}
			<a href="{{ back.url }}"><i class="icon-arrow-left"></i> Go back</a>
		{% endif %}

		<ul class="nav nav-stacked nav-tabs nav_indent_level">
		{% for page in pages %}

			<li {% if page.url == current.url %}class="active"{% endif %}>
				<a
				href="{% if page.url == current.url %}#{% else %}{% if page.external %}http://{% endif %}{{ page.url }}{% endif %}"
				{% if page.external %}target="_blank"{% endif %}>
					{{ page.title }}
				</a>

				{% set children = page.activities if page.activities else page.children %}
				{% set children = NavigationAPI.remove_unauthorized(children) %}

				{% if children and page.url == current.url %}
					<ul class="nav nav-stacked nav-tabs nav_indent_level">
						{% for child in children %}
							<li>
								<a href="{% if child.external %}http://{% endif %}{{ child.url }}"
								{% if child.external %}target="_blank"{% endif %}>
									{{ child.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>

		{% endfor %}
		</ul>
	</li>
</ul>
</div>
{% endif %}
