{% from "navigation/entry_list.htm" import render_entry_list %}

{% extends "content.htm" %}

{% block includes %}
    <script>
        var reorder_url = {{ url_for("navigation.reorder")}};
        var flash_succes_msg = {{ _("The order has been saved successfully")}};
    </script>
    <script src="{{static_url("/static/js/navigation/view.js")}}"></script>
{% endblock %}

{% block content %}

    <a class="btn btn-success pull-left" href="{{ url_for('navigation.edit') }}" style="margin-bottom: 15px;">
        <i class="glyphicon glyphicon-plus"></i>{{_('New item')}}
    </a>
    {% if nav_entries %}
        <div id="outer" class="sortable col-md-6">
            {% for entry in nav_entries %}
                {{ render_entry_list(entry) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
