{% from "macros/pagination.htm" import render_pagination %}

{% extends "content.htm" %}

{% block content %}
	<div class="col-md-12">
	{% if GroupPermissionAPI.can_write('location') %}
		<a class="btn btn-primary" href="{{ url_for('location.view') }}">Nieuwe locatie</a>
	{% endif %}
	{% if GroupPermissionAPI.can_write('contact') %}
		<a class="btn btn-primary" href="{{ url_for('contact.edit') }}">Nieuw contact</a>
	{% endif %}
	{% if GroupPermissionAPI.can_write('company') %}
		<a class="btn btn-primary" href="{{ url_for('company.edit') }}">Nieuw bedrijf</a>
	{% endif %}
	{% if GroupPermissionAPI.can_write('vacancy') %}
		<a class="btn btn-primary" href="{{ url_for('vacancy.edit') }}">Nieuwe vacature</a>
	{% endif %}
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<form method="get" action="{{ url_for('company.view_list') }}" enctype=multipart/form-data class="form-inline" >
				<input name="search" id="search" class="col-md-5" type="text" placeholder="Zoek op bedrijf of Locatie" value="{{search}}" onkeypress="searchKeyPress(event);"></input>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search" id="submit"></i>
                </button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3"><h4>Naam</h4></div>
			<div class="col-md-5"><h4>Website</h4></div>
			<div class="col-md-3"><h4>Locatie</h4></div>
			</div>
		</div>
	</div>
	<hr>
	{% for company in companies.items %}
		<div style="cursor:pointer;" class="row" {% if company.expired %} style="background:rgba(255, 100, 0, 0.3); ;"{% endif %}>
			<div class="col-md-12" data-toggle="collapse" data-target='#{{ company.id
				}}'>


				<div class="row">
				<div class="col-md-1 text-center"><i class="glyphicon glyphicon-info-sign"></i></div>
				<div class="col-md-3">{{company.name}}</div>
				<div class="col-md-5"> <a target="_blank" href="{{company.website}}"> {{company.website}} </a></div>
				<div class="col-md-3">{{company.location.city}}</div>
				</div>
				<div id='{{ company.id }}' class="collapse">
					<hr>
					<div class="col-md-4">
						<blockquote>
							<a href="{{url_for('company.view', company_id=company.id)}}">

							{% if company.logo_path != '#' %}
								<img class="img-rounded" style="max-width:250px; max-height:100px;" src="{{path}}{{company.logo_path}}"></img>
							{% else %}
							{{company.name}}
							{% endif %}
							</a>
						</blockquote>
						<p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <a target="blank_" href="mailto:{{company.contact.email}}"> {{company.contact.email}}</a>
                            <br/>

                            <i class="glyphicon glyphicon-globe"></i>
                            <a target="_blank" href="{{company.website}}"> {{company.website}} </a>
                            <br/>

                            <i class="glyphicon glyphicon-map-marker"></i>
                            <a target="blank_"href="https://maps.google.nl/maps?q={{company.location.address}} {{company.location.city}} {{company.location.country}}">{{company.location.address}}, {{company.location.city}}, {{company.location.country}}</a>
                            <br/>

                            <i class="glyphicon glyphicon-user"></i>
                            <a href="tel:{{company.contact.phone_nr}}">{{company.contact.phone_nr}}</a>
                            <br/>
                            <br/>

                            {% if company.id and GroupPermissionAPI.can_write('company') %}
                            <a class="btn btn-warning"
                                href="{{ url_for('company.edit', company_id=company.id) }}" >
                                <i class="glyphicon glyphicon-pencil"></i>
                                 Bewerken
                            </a>
                            <form onsubmit="return confirm('Wilt u {{company.name}} echt verwijderen?');"
                                action="{{ url_for('company.delete', company_id=company.id) }}"
                                method="post">
                                <fieldset>
                                    <button class="btn btn-danger" type="submit">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        Verwijderen
                                    </button>
                                </fieldset>
                            </form>
							{% endif %}
						</p>
						</div>
						<div class="col-md-6">
							<h3> {{company.name}} </h3>
						<br/>
						{{ company.description | markdown }}
					</div>
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}
		</tbody>
	</table>

	{{ render_pagination(companies, 'company.view_list') }}
	</div>
<script>
$( document ).ready(function() {

    /* Prevent the expand function being called when clicking on a link */
    $( document).on('click', 'a.search_click', function(e){
        e.preventdefaults();
        document.location.href=$(this).attr("href");
    });
});
</script>
{% endblock %}
