{% from "macros/flash.htm" import render_flash %}

<!DOCTYPE html>
<html>
    <head>
        {% set seo_fields = get_seo_fields(get_locale()) %}

        <title>{{seo_fields.title}}</title>
        <meta description="{{seo_fields.description}}" />
        <meta name="keywords" content="{{seo_fields.tags}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="{{seo_fields.title}}" />
        <meta property="og:description" content="{{seo_fields.description}}" />
        <meta property="og:url" content="{{ request_url }}" />
        <meta property="og:image" content="{{ request_url_root }}static/img/via_facebook_thumbnail.png" />

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="mask-icon" href="{{ url_for('static', filename='img/favicon.svg') }}" color="#004b99">
        <link rel="apple-touch-icon" sizes="57x57"   href="{{ url_for('static', filename='img/apple-icon-57x57.png')   }}">
        <link rel="apple-touch-icon" sizes="60x60"   href="{{ url_for('static', filename='img/apple-icon-60x60.png')   }}">
        <link rel="apple-touch-icon" sizes="72x72"   href="{{ url_for('static', filename='img/apple-icon-72x72.png')   }}">
        <link rel="apple-touch-icon" sizes="76x76"   href="{{ url_for('static', filename='img/apple-icon-76x76.png')   }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"   href="{{ url_for('static', filename='img/favicon-96x96.png')   }}">
        <link rel="icon" type="image/png" sizes="32x32"   href="{{ url_for('static', filename='img/favicon-32x32.png')   }}">
        <link rel="icon" type="image/png" sizes="16x16"   href="{{ url_for('static', filename='img/favicon-16x16.png')   }}">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#004b99">

        <link href="/static/img/via.png" rel="image_src" />
        <link href="{{static_url("/static/styles.css")}}" rel="stylesheet" />

        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PKHM7J9');</script>

        {% if data is defined %}
            <script>
                window.viaduct = {{json.dumps(serialize_sqla(data))|safe}};
            </script>
        {% else %}
            <script>window.viaduct = {};</script>
        {% endif %}

        <!-- TODO Remove when fully ported to webpack -->
        {% if not vue %}
            <script src="{{static_url("/static/js/global.js")}}"></script>
            <script src="{{static_url("/jsglue.js")}}"></script>
        {% else %}
        {% endif %}

        <!-- TODO move to global js -->
        <script>window.viaduct.locale = "{{get_locale()}}";</script>
        <script src="{{ url_for("static", filename="main.js") }}"></script>

        {% block includes %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>
        {%- if not __fullscreen_mode -%}
        {{ UserAPI.get_membership_warning() | safe }}
        {{ NavigationAPI.get_navigation_bar()|safe }}
        {%- endif -%}
        {% block below_menu %}
        {% endblock %}

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKHM7J9"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        <div class="container">
            {%- if not __fullscreen_mode -%}
            <p class="text-right guide" style="margin-top: -20px">
                <!-- Language switcher -->
                {% if get_locale() == 'en' %}
                    <a href='{{url_for('lang.set_lang', lang='en')}}' class='btn btn-sm text-muted'><i class="fa fa-language"></i> <u>English</u></a>
                    |
                    <a href='{{url_for('lang.set_lang', lang='nl')}}' class='btn btn-sm'><i class="fa fa-language"></i> Nederlands</a>
                    |
                {% endif %}
                {% if get_locale() == 'nl' %}
                    <a href='{{url_for('lang.set_lang', lang='en')}}' class='btn btn-sm'><i class="fa fa-language"></i> English</a>
                    |
                    <a href='{{url_for('lang.set_lang', lang='nl')}}' class='btn btn-sm text-muted'><i class="fa fa-language"></i> <u>Nederlands</u></a>
                    |
                {% endif %}
                <!-- Guide menu trigger -->
                <a data-icon="glyphicon-picture" class="btn btn-sm" data-toggle="modal" data-target="#moduleGuide">
                    <i class="fa fa-question-circle"></i> Help
                </a>
                |
                {% if can_write_seo %}
                <a href="{{ url_for('seo.edit_seo', module=request.blueprint, path=request.path) }}"  data-icon="glyphicon-search" class="btn btn-sm">
                    <i class="fa fa-search"></i> SEO
                </a>
                |
                {% endif %}
                <a href="{{ url_for('bug.report', next=request.path) }}"  class="btn btn-sm"> <i class="fa fa-bug"></i> Report a bug</a>
                |
                <a href="https://www.facebook.com/groups/studieverenigingvia/" class ="btn btn-sm"> <i class="fa fa-facebook-square"></i> FB groep</a>
                |
                <a href="{{ privacy_policy_url }}" class="btn btn-sm" target="_blank"> <i class="fa fa-book"></i> {{ _('Privacy Policy') }}</a>
            </p>
            {%- endif -%}
            <div class="row">
                <div class="col-sm-12" id="messages">
                    {{ render_flash() }}
                </div>
            </div>

            {% block page %}
            {% endblock %}
            {%- if not __fullscreen_mode -%}
                {% include 'page/get_footer.htm' %}
            {%- endif -%}
        </div>
        <!-- Start guide modal -->
        {% set user_guide = GuideAPI.get_current_user_guide() %}
        {% set admin_guide = GuideAPI.get_current_admin_guide() %}
        <div class="modal fade" id="moduleGuide" tabindex="-1" role="dialog" aria-labelledby="guide" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <b>{{ user_guide.title | markdown }}</b>
              </div>
              <div class="modal-body">
                    {{ user_guide.content | markdown }}
              </div>
              <div class="modal-header">
                <b>{{ admin_guide.title | markdown }}</b>
              </div>
              <div class="modal-body">
                    {{ admin_guide.content | markdown }}
              </div>
            </div>
          </div>
        </div>
        <!-- End guide modal -->
    </body>
</html>
