{% from 'macros/form.htm' import render_field, render_button %}
{% extends 'content.htm' %}

{% block content %}

<h1>Omleiding</h1>
<p>Creëer omleidingen van URLs, naar URLs.</p>

{% if can_write %}
    <h2>{% if redirection %}Bewerk{% else %}Nieuwe{% endif %} omleiding</h2>
    <form method='post' class='form-inline'>
        {{ form.csrf_token }}

        {{ render_field(form.fro) }}
        {{ render_field(form.to) }}

        {{ render_button(form.submit, 'btn btn-primary') }}

        {% if redirection %}
            <a href='{{ url_for('redirect.view') }}' class='btn btn-default'>Nieuw</a>
        {% endif %}
    </form>
{% endif %}

<h2>Bestaande omleidingen</h2>
<table class='table table-condensed'>
    <thead>
        <th>Van</th>
        <th>Naar</th>
        <th>Acties</th>
    </thead>

    <tbody>
        {% for redirection in redirections %}
            <tr>
                <td>{{ redirection.fro }}</td>
                <td>{{ redirection.to }}</td>
                <td>
                    <a href='{{ url_for('redirect.view',
                        redirect_id=redirection.id) }}' class='btn btn-default
                        btn-xs {% if not can_write %}disabled{% endif %}'>
                        <i class='fa fa-edit'></i>
                    </a>
                    <a href='{{ url_for('redirect.delete',
                        redirect_id=redirection.id) }}' class='btn btn-default
                        btn-xs {% if not can_write %}disabled{% endif %}'>
                        <i class='fa fa-trash'></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
