{% extends "content.htm" %}

{% from "macros/form.htm" import render_field, render_form  %}

{% macro test() %}
    <div class="form-group">
        <button class='btn btn-primary' data-loading-text={{_('Loading...')}}
            type='submit'>{{ _('Submit') }}</button>
    </div>
{% endmacro %}

{% macro render_permissions(field) %}
<div class="form-group">
    <table class="table table-hover table-bordered table-striped" id="dev-table">
        <thead>
            <tr>
                <th>Groep</th>
                <th>Permission</th>
            </tr>
        </thead>

        <tbody>
            {% for group, form_entry in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ form_entry.select }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% block content %}


{{ render_form(form, action='/activities/test/') }}


{# {{ render_form(form, action='/activities/test/',
            submit_renderer=test, extra_field_renderers={
                'FieldList': render_permissions-->
            }) }} #}

{% endblock %}
